
body {
  margin-left: 10px;
  margin-right: 10px;
}

div.page-narrow {
  width: 1024px;
  margin: 0 auto;
}

div.table-input {
  display: table;
}

div.row  {
  display: table-row;
}

div.left, div.right, div.middle {
  display: table-cell;
  padding: 4px;
}

table.form_input, table.form-input-clear {
  border-collapse: separate;
  font-size: 11pt;
}


table.form-input, table.formatted-output {
  width: 100%;
  border: 1px;
  background-color: #c0c0c0;
  border-spacing: 1px;
}

tr.advanced-options {
  display: none;
  font-style: italic;
}

td.form-label, td.form-label-clear, td.item-label {
  font-weight: bold;
  padding: 4px;
}

td.form-label, td.item-label {
  background-color: #f0f0f0;
  max-width: 200px;
}

td.form-content-clear, td.form-content, td.item-value {
  padding: 4px;
}

td.form-content, td.item-value {
  background-color: #f0f0f0;
  width: 80%;
}


td.grid {
  background-color: #f0f0f0;
  padding: 4px;
}

.bounding-box {
  background-color: #f0f0f0;
  padding: 4px;
  border: 1px solid;
  border-color: #c0c0c0;
}

.header-1 {
  font-weight: bold;
  font-size: 12pt;
  background-color: #c0b0f0;
  text-align: center;
  padding: 4px;
  text-decoration: underline;
}

.header-2 {
  font-weight: bold;
  font-size: 11pt;
  background-color: #d4d4ff;
  text-align: center;
  padding: 4px;
}

input {
  font-size: 11pt;
}

input.text-large {
  width: 400px;
}

input.text-medium {
  width: 200px;
}

input.text-float {
  width: 100px;
}

input.text-rt-input {
  width: 80px;
}

input.text-mol-name {
  width: 120px;
}

input.text-integer {
  width: 64px;
}

select.file-list {
  width: 540px;
}

span.text-note {
  font-size: 9pt;
  font-style: italic;
}

span.error-message {
  font-weight: bold;
  font-family: Courier, monospace;
  color: #ff0000;
}

span.display-statistic {
  font-family: Courier, monospace;
}

span.alert {
  font-weight: bold;
  color: #ff0000;
}

.traceback {
  font-family: Courier, monospace;
  color: #ff0000;
  white-space: pre;
}

/* jQuery UI override */
.ui-tooltip-content {
  font-size: 10pt;
}

* {
   box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

/* Dropzone stuff */
div.dropzone-wrapper {
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  /*width: 720px;
  height: 480px;*/
  /*padding: 20px;*/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
  overflow: hidden;
}

.dropzone.dz-square, .dz-default, .dz-message {
  padding: 4px;
}

div.fileinfo {
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
  padding: 8px;
}

/*div.table-wrapper {
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  width: 720px;
  height: auto;
  padding: 8px;
}*/

div.table-view {
  font-family: Courier, monospace;
  font-size: 11pt;
  /*overflow: scroll;*/
}

div.header-narrow {
  width: 1024px;
  padding: 8px;
  /*text-align: center;*/
}

button.workbench-button {
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  font-size: 11pt;
  padding: 4px;
  margin: 2px;
}
button.workbench-button:focus {
  outline:0;
}
button.workbench-button:active {
  background-color: #e0e0e0;
}

#table-control-buttons {
  text-align: center;
}

#advanced-options {
  text-align: center;
}

a.plain {
  text-decoration: none;
}

/*
 http://stackoverflow.com/questions/17652718/float-a-div-on-top-of-another-div
*/
.help-content {
  display: none;
  text-align: left;
  position: absolute;
  width: 800px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 200px;
  right: 10px;
  top: 10px;
  background-color: #f6f6f6;
  padding: 20px;
  border: 1px solid #c0c0c0;
  z-index: 2;
}

#overlay-back {
  position : fixed;
  top : 0;
  left : 0;
  width : 100%;
  height : 100%;
  background : #000;
  opacity : 0.7;
  filter : alpha(opacity=60);
  z-index : 1;
  display: none;
}
/* end of help pop-up */

.status-okay {
  font-weight: bold;
  color: #0000f0;
}

.status-go {
  font-weight: bold;
  color: #00b000;
}

div#plot-container {
  background-color: #ffffff;
  border: 1px solid #c0c0c0;
  width: 640px;
  height: 480px;
}

hr.break {
  width: 100%;
  color: #c0c0c0;
}

textarea.rawtext {
  width: 100%;
  height: 300px;
  resize: vertical;
  padding: 2px;
  font-family: Courier, Monaco, monospace;
  font-size: 12pt;
}

/*
  D3-related styles
*/

.bar {
  fill: steelblue;
}

rect.ms-peak {
  fill: #a0d0a0;
  fill-opacity: 0.5;
}

rect.ms-peak-unpicked {
  fill: #a0a0a0;
}

rect.ms-peak-hidden {
  fill: none;
  fill-opacity: 0.0;
}

rect.ms-peak-selected {
  fill: blue;
  fill-opacity: 1.0;
}

rect.ms-peak-unpicked-selected {
  fill: red;
  fill-opacity: 1.0;
}

.bar-label-hidden, .bar-label, .bar-label-unpicked {
  font-size: 10pt;
}

text.bar-label-hidden {
  display: none;
}

text.bar-label {
  fill: black;
  display: inline;
}

text.bar-label-unpicked {
  fill: red;
  display: inline;
}

.axis {
  font-size: 11px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

textarea#import-target {
  height: 200px;
  width: 800px;
  font-family: Courier, monospace;
  font-size: 12pt;
}
