{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="login_form">
    <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        <fieldset class="blockLabels">
            <legend>{% trans "E-mail Addresses" %}</legend>
            {% if user.emailaddress_set.all %}
            <p>
                {% blocktrans %}
                The following e-mail addresses are associated with your account:
                {% endblocktrans %}
            </p>
            {% for emailaddress in user.emailaddress_set.all %}
            <div class="ctrlHolder">
                <label for="email_radio_{{forloop.counter}}"
                        class="{% if emailaddress.primary %}primary_email{%endif%}">
                    <input id="email_radio_{{forloop.counter}}" type="radio"
                            name="email" value="{{emailaddress.email}}"
                            {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
                            checked="checked"
                            {%endif %} />
                    <span class="email_address">{{ emailaddress.email }}</span>
                    {% if emailaddress.verified %}
                    {% trans "Verified" as verified %}
                    <span class="verified icon" title="{{ verified }}">{{ verified }}</span>
                    {% else %}
                    {% trans "Unverified" as unver %}
                    <span class="unverified icon" title="{{ unver }}">{{ unver }}</span>
                    {% endif %}
                    {% if emailaddress.primary %}
                    {% trans "Primary" as primary %}
                    <span class="primary icon" title="{{ primary }}">{{ primary }}</span>
                    {% endif %}
                </label>
            </div>
            {% endfor %}
            <div class="buttonHolder">
                <button class="secondaryAction" type="submit"
                        name="action_primary">{% trans 'Make Primary' %}</button>
                <button class="secondaryAction" type="submit"
                        name="action_send">{% trans 'Re-send Verification' %}</button>
                <button class="primaryAction" type="submit"
                        name="action_remove">{% trans 'Remove' %}</button>
            </div>
            {% else %}
            <p>
                <strong>{% trans 'Warning:'%}</strong>
                {% blocktrans %}
                You currently do not have any e-mail address set up. You should really add an
                e-mail address so you can receive notifications, reset your password, etc.
                {% endblocktrans %}
            </p>
            {% endif %}
        </fieldset>
    </form>
    <p/>
    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Add E-mail Address" %}</legend>
            {{ form.as_p}}
            <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
        </fieldset>
    </form>
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
(function() {
    var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
    var actions = document.getElementsByName('action_remove');
    if (actions.length) {
        actions[0].addEventListener("click", function(e) {
            if (! confirm(message)) {
                e.preventDefault();
            }
        });
    }
})();
</script>
{% endblock %}
