{% extends "edd_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}

{% block js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/login.css' %}" />
{% endblock js_css %}

{% block status %}
    {% if form.errors %}
    <p class="bad">Login failed. Please try again.</p>
    {% endif %}
{% endblock status %}

{% block content %}
    <form class="login_form" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            <div>
                {{ form.login.label_tag }}
                {{ form.login }}
            </div>
            <div>
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit">Login</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </fieldset>
    </form>

    {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
        <p>
            {% blocktrans with site.name as site_name %}
            Please sign in with one of your existing third party accounts. Or, 
            <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account 
            and sign in below:
            {% endblocktrans %}
        </p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
            <div class="login-or">{% trans 'or' %}</div>
        </div>
        {% include "socialaccount/snippets/login_extra.html" %}
    {% else %}
        <p>
            {% blocktrans %}
            If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.
            {% endblocktrans %}
        </p>
    {% endif %}
{% endblock content %}
