{% extends "edd_base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block head_title %}
  {% trans "Sign Out" %} &mdash; {{ block.super }}
{% endblock %}


{% block js_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main/login.css' %}" />
{% endblock js_css %}


{% block content %}
  <form class="login_form" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <h1>{% trans "Sign Out" %}</h1>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit">{% trans 'Sign Out' %}</button>
  </form>
{% endblock content %}
