{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="login_form">
        <fieldset>
            <legend>
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            </legend>
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>
                    {% blocktrans %}
                    The password reset link was invalid, possibly because it has already been
                    used. Please request a <a href="{{ password_reset_url }}">new password reset</a>.
                    {% endblocktrans %}
                </p>
            {% elif form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        </fieldset>
    </div>
{% endblock content %}
