{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="login_form">
        <fieldset>
            <legend>{% trans "Password Email Sent" %}</legend>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% blocktrans %}
                An email has been sent with a link to reset your password.
                Please contact us if you do not receive it within a few minutes.
                {% endblocktrans %}
            </p>
            <a style="margin-left: 7px;" href="{% url 'account_login' %}">Back to Login Page</a>
        </fieldset>
    </div>
{% endblock content %}
