#experimentDescDropZone {
    background-position-y: 65px;
}
#experimentDescDropZone > #dz-title {
    display: flex;
}
#experimentDescDropZone > #dz-title > span {
    margin: 0 auto;
    padding-left: 3em; /* compensate for width of help button */
}

/* Tables for filling out forms */
table.formTable {
    margin: 10px 3px 20px 3px;
    border: none;
    font-size: 16px;
    width: 100%;
}
table.formTable tr > td {
    text-align: left;
    vertical-align: top;
    padding: 4px 6px 4px 4px;
}
table.formTable tr > td.form-label {
    word-break: keep-all;
    color: #a0a0a0;
    font-size: 15px;
    padding-top: 7px;
    padding-left: 16px;
}
table.formTable tr > td input {
    padding: 0px;
    margin: 0;
}
table.formTable tr > td input[type="checkbox"] {
    padding: 0px;
    margin: 3px 3px 0px 9px;
}
table.formTable tr > td input[type="radio"] {
    padding: 0px;
    margin: 3px 3px 0px 9px;
}
table.formTable tr > td select {
    padding: 0px;
    margin: 0px 4px 0px 2px;
}
table.formTable tr > td span {
    margin: 0px;
    padding: 3px 3px 0px 0px;
}
table.formTable tr > td p {
    margin: 3px 3px 0px 0px;
    padding: 0px;
}
table.formTable tr > td textarea {
    margin: 0;
    padding: 0;
}
