#experimentDescDropZone {
    background-position-y: 65px;
}

#experimentDescDropZone > #dz-title {
    display: flex;
}

#experimentDescDropZone > #dz-title > span {
    margin: 0 auto;
    padding-left: 3em;  /* compensate for width of help button */
}
