#experimentDescDropZone {
    background-color: rgb(238, 238, 238);
    background-image: none;
    border: none;
    flex-grow: 1;
    padding: 5px;
}

#experimentDescDropZone > .dz-message a,
#describeDirectionsDiv a {
    color: grey;
    text-decoration: underline;
}

#experimentDescDropZone #dz-title a,
#experimentDescDropZone #dz-title span {
    vertical-align: top;
}

#experimentDescDropZone #dz-title a {
    display: inline-block;
    margin-top: -0.25rem;
}

#describeExampleImage {
    margin-top: 25px;
}

#describeButtonsColumn {
    display: flex;
    flex-direction: column;
}

#describeButtonsColumn > div {
    margin-top: 10px;
    width: 100%;
}

#describeButtonsColumn .btn {
    width: 100%;
}

div.row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 5px;
}

div.column {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#overviewWrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

#overviewWrapper.column {
    padding: 20px;
}

div.overviewDropZone {
    flex-grow: 1;
}

/* override margin from dropzone.css */
#experimentDescDropZone .dz-message {
    margin-top: 2px;
    margin-bottom: auto;
}

#experimentDescDropZone .dz-message span {
    font-size: 85%;
}
#descriptionPromptTitle {
    font-weight: bold;
    text-decoration: underline;
}

#describeDirectionsDiv {
    color: grey;
    width: 200px;
}

#describeDirectionsDiv ul {
    margin-left: 10px;
}

table.permissions {
    width: 640px;
}
