{% extends "main/study.html" %}
{% load i18n %}
{% load static %}

{% block js_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'dist/styles.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'edd/load/wizard.css' %}" />
{% endblock js_css %}

{% block body_title %}
   {% url 'main:detail' slug=study.slug as study_url %}
   Data Import <span class="prototype">Prototype</span> For <a href="{{ study_url }}">
    {{study.name }}</a>
{% endblock body_title %}

{% block content %}

<form>
    <input id="importUUID" type="hidden" name="uuid" value="{{ uuid }}"/>
    <input id="helpURL" type="hidden" name="helpURL"
           value="{% url 'main:load_flat:wizard_help' %}"/>
    <input id="uploadSizeLimit" type="hidden" value="{{ upload_limit }}"/>
    {% csrf_token %}
</form>

<div id="categoryHelpContent" className="hide toolTipContent">
    <h3>{% trans "Category" %}</h3>
    {% blocktrans %}
    <p>
        The choice of category influences which protocols and file formats are available, and
        also dictates how chemical identifiers from your file are resolved to known compounds.
    </p>
    <p>Click on this icon to get more information in a separate tab</p>
    {% endblocktrans %}
</div>
<div id="protocolHelpContent" className="hide toolTipContent">
    <h3>{% trans "Protocol" %}</h3>
    {% blocktrans %}
    <p>
        Each protocol should uniquely describe both the sample prep you performed, as well as the
        instrumentation and unique configuration used. Ideally, another researcher should be able
        to replicate the experiment using your protocol and the information captured in EDD.
    </p>
    <p>
        Minor variations in protocol should be captured in EDD, for example in your study
        description or in line metadata.
    </p>
    <p>Click on this icon to get more information in a separate tab</p>
    {% endblocktrans %}
</div>
<div id="formatHelpContent" className="hide toolTipContent">
    <h3>{% trans "File Format" %}</h3>
    {% blocktrans %}
    <p>
        EDD supports a limited number of well-defined file formats, and it also supports
        user-defined tabular input. In this version, use the
        <a href="../import/" target="_blank">legacy import tool</a> to upload custom-formatted
        data. This capability will also eventually be ported to the newer import tool.
    </p>
    <p>
        You can also contact EDD administrators to request support for parsing a new file format.
    </p>
    <p>Click on this icon to get more information in a separate tab</p>
    {% endblocktrans %}
</div>
<div id="importWizard"></div>
<script type="text/javascript" src="{% static 'dist/Import2.js' %}"></script>
{% endblock content %}
