.DS_Store
*.pyc
*.swp
.pydevproject
.idea
tscommand-*
.tscache

# per-machine configuration file; contains secrets, DO NOT CHECK-IN
server.cfg
secrets.env

# per-machine local settings file; this will override default settigns with local changes
edd/settings/local.py
docker-compose.override.yml
# also ignore any local media/upload folders
/media
/upload
/uploads
# and ignore local log directory
/log
# and ignore the "development" static folder
/static

# ignore typescript intermediate build directory
/typescript/build
# and ignore node_modules, each user needing to compile Typescript should `npm install`
/node_modules
/bower_components
**/bower_components
