# NOTE: the EDD Dockerfile is setup to work around a flaw in the setup.py of scipy and
#   scikit-learn where building of these packages will fail if numpy or scipy are installed
#   with the same pip-install command.
# IF UPDATING THE VERSIONS OF numpy, scipy, OR scikit-learn; ALSO MAKE CHANGES IN Dockerfile

amqp==1.4.9
anyjson==0.3.3
arrow==0.7.0
billiard==3.3.0.23
celery==3.1.23
cffi==1.5.2
chardet==2.3.0
cryptography==1.2.3
Django==1.9.4
django-allauth==0.25.2
django-auth-ldap==1.2.7
django-debug-toolbar==1.4
django-environ==0.4.0
django-extensions==1.6.1
django-form-utils==1.0.3
django-threadlocals==0.8
djangorestframework==3.3.2
drf-nested-routers==0.11.1
enum34==1.1.2
factory-boy==2.7.0
future==0.15.2
gunicorn==19.4.5
idna==2.0
ipaddress==1.0.16
jdcal==1.2
jsonpickle==0.9.3
kombu==3.0.34
ndg-httpsclient==0.4.0
numpy==1.10.4
oauthlib==1.0.3
openpyxl==2.3.4
psycopg2==2.6.1
pyasn1==0.1.9
pycparser==2.14
pyOpenSSL==0.15.1
pysmb==1.1.17
python-dateutil==2.5.1
python-ldap==2.4.25
python-libsbml==5.12.1
python-openid==2.2.5
pytz==2016.1
requests==2.9.1
requests-oauthlib==0.6.1
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
SQLAlchemy==1.0.8
sqlparse==0.1.19
