<!doctype html>
<html>
<head>
<TITLE>JBEI Experiment Data Depot User Manual</TITLE>
<link href="../common.css" rel="stylesheet" type="text/css" />

</head>
<body style="padding:30px; ">

<h2>How to import different file types into the same study</h2>

    <p>This video will show a user how to import data from:</p>
    <p> GC-MS protocol data</p>
    <p> OD600 protocol data</p>
    <p> Targeted proteomics data</p>

    <video width="520" height="440" controls>
        <source src="../manual/PCAP.mp4" type="video/mp4">
    </video>
<h4><a href="/">Return to home page</a></h4>


</body>
</html>
