<!doctype html>
<html>
<head>
<TITLE>EDD Tutorials</TITLE>
</head>
<body style="padding:30px; ">

<h2>How to import Proteomics Data and use data with PCAP method</h2>

    <p>This video will show a user how to import proteomics data. This specific example will look
    at how to improve limonene biofuel production in a bioengineered strain using PCAP - Principal Component Analysis
    of Proteomics)</p>

    <video controls>
        <source src="http://downloads.jbei.org/data/technology/edd/5-PCAP.mp4">
    </video>
<h4><a href="/">Return to home page</a></h4>


</body>
</html>
