{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'edd_utils/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/jquery-ui/jquery-ui.min.css' %}" />
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/autocomplete2.js' %}"></script>
    <script type="text/javascript" src="{% static 'edd_utils/js/lib/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'edd_utils/js/cytometry.js' %}"></script>
{% endblock js_css %}


{% block head_title %}
Cytometry Import
{% endblock head_title %}

{% block body_title %}
Cytometry Import
{% endblock body_title %}

{% block content %}
<form action="{% url 'edd_utils:cytometry_import' %}" class="edd-form" id="import_form" method="POST">
    {% csrf_token %}
    <fieldset id="import_step_1">
        <legend>Step 1 &mdash; Select Study</legend>
        <p>Use this page to import data from Flow Cytometry experiments into EDD. First, select a
            Study to save the data. You may create a new Study from the
            <a href="{% url 'main:index' %}">homepage</a>. You must have write permissions for the
            Study saving the imported data, contact the Study creator to get permissions added.</p>
        <label for="id_study_0">
            <span>Select Study</span>
            <input class="autocomp autocomp_study" id="id_study_0" name="study_0" type="text"/>
            <input id="id_study_1" name="study_1" type="hidden"/>
        </label>
    </fieldset>
    <br/>
    <fieldset id="import_step_2" class="">
        <legend>Step 2 &mdash; Provide Import Data</legend>
        <p>Next, add a table of data for import. You may drop a spreadsheet in the indicated area,
            or paste a CSV or spreadsheet in the text area below. The data should have rows of
            samples and columns of flow cytometer aggregate data.</p>
        <label for="id_rawtext">
            <span>Import Data</span>
            <textarea id="id_rawtext" rows="20" style="width:100%"></textarea>
        </label>
    </fieldset>
    <br/>
    <fieldset id="import_step_3" class="">
        <legend>Step 3 &mdash; Explain Import Data</legend>
        <p>To complete the data import, EDD needs a timepoint for the data, and definitions for
            how each data column is classified.</p>
        <label for="id_time">
            <span>Timepoint (hours)</span>
            <input id="id_time" name="time" type="text"/>
        </label>
        <dl>
            <dt>Interpret First Row</dt>
            <dd id="id_first_row"></dd>
            <dt>Interpret First Column</dt>
            <dd id="id_first_col"></dd>
        </dl>
        <p>TODO: parse table from step 2, add dropdown lists to match first column label to
            line/assay, and first row label(s) to measurement types. e.g. column labeled "FL1-H"
            and column labeled "FL1-SD" combined as measure and std deviation of GFP.</p>
        <p>TODO: optional? step to select one or more wells to use as reference/standard for each
            measurement type above.</p>
    </fieldset>
</form>
{% endblock content %}
