{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'main/import.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery-ui/jquery-ui.min.css' %}" />
    <script type="text/javascript" src="{% static 'lib/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/autocomplete2.js' %}"></script>
    <script type="text/javascript" src="{% static 'edd_utils/js/lib/dropzone.js' %}"></script>
    <script type="text/javascript" src="{% static 'edd_utils/js/cytometry.js' %}"></script>
{% endblock js_css %}


{% block head_title %}
Cytometry Import
{% endblock head_title %}

{% block body_title %}
Cytometry Import
{% endblock body_title %}

{% block content %}
<form action="{% url 'edd_utils:cytometry_import' %}" class="edd-form" id="import_form" method="POST">
    {% csrf_token %}
    <fieldset id="import_step_1" class="import_step">
        <legend>Step 1 &mdash; Select Study</legend>
        <p>Use this page to import data from Flow Cytometry experiments into EDD. First, select a
            Study to save the data. You must have write permissions for the Study saving the
            imported data, contact the Study creator to get permissions added.</p>
        <label for="id_study_0" style="float:left;">
            <span>Select Study</span>
            <input class="autocomp autocomp_study" id="id_study_0" name="study_0" type="text"/>
            <input id="id_study_1" name="study_1" type="hidden"/>
        </label>
        <label for="id_create_study" style="float:left;margin:0 4em;" class="off">
            <b>OR</b>
            <input id="id_create_study" name="create_study" type="checkbox" value="1"/>
            <span>Check to Create Study</span>
        </label>
        <span class="edd-form off" style="display:inline-block;">{{ study_form.as_p }}</span>
        <div class="clear"></div>
    </fieldset>
    <br/>
    <fieldset id="import_step_2" class="import_step off">
        <legend>Step 2 &mdash; Provide Import Data</legend>
        <p>Next, add a table of data for import. You may drop a spreadsheet in the indicated area,
            or paste a CSV or spreadsheet in the text area below. The data should have rows of
            samples and columns of flow cytometer aggregate data.</p>
        <label for="id_rawtext">
            <span>Import Data</span>
            <textarea id="id_rawtext" name="rawdata" rows="20" style="width:100%"></textarea>
            <input id="id_data" type="hidden" name="data"/>
        </label>
    </fieldset>
    <br/>
    <fieldset id="import_step_3" class="import_step off">
        <legend>Step 3 &mdash; Explain Import Data</legend>
        <p>To complete the data import, EDD needs a timepoint for the data, and definitions for
            how each data column is classified.</p>
        <dl>
            <dt>Specify Timepoint for Imported Values</dt>
            <dd>
                <div class="disambiguationSection">
                    <label for="id_time">
                        <span>Timepoint (hours)</span>
                        <input id="id_time" name="time" type="text"/>
                    </label>
                </div>
            </dd>
            <dt>Interpret First Row</dt>
            <dd id="id_first_row"></dd>
            <dt>Interpret First Column</dt>
            <dd id="id_first_col"></dd>
        </dl>
    </fieldset>
    <br/>
    <fieldset id="import_step_4" class="import_step off">
        <legend>Step 4 &mdash; Select Standards (optional)</legend>
        <p>For each signal column, you may optionally select a set of samples to serve as a
            standard/control for the signal.</p>
        <dl>
            <dt>Standards per Channel</dt>
            <dd>
                <div class="disambiguationSection">
                    <table id="id_std_table">
                    </table>
                </div>
            </dd>
        </dl>
    </fieldset>
    <button id="import_step_submit" type="submit" class="import_step off">Import Data</button>
</form>
{% endblock content %}
