{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
{{ block.super }}
<script>

function showHelp (idx) {
  $("#overlay-back").toggle();
  $("#help-" + idx).toggle();
}
function submitOrder (e) {
	var target = $("#target option:selected").val();
	var path = $("#path").val();
	console.log(target);
	console.log(path);
	$.get( "action/" + target + "/" + path ,  orderResult)
	// href="{% url ec_import_action/" + target + "/" + path + "}"
}

function orderResult(data) {
	console.log("Got response:");
	console.log(data);
	console.log('');
}

$(document).ready(function () {
	$("#submit").click(submitOrder);
});

</script>
{% endblock js_css %}


{% block head_title %}
Enzyme Characterization Data Import - SpectraMax M2
{% endblock head_title %}

{% block body_title %}
Enzyme Characterization Data Import - SpectraMax M2
<a id="show-help-1" href="#" onclick="showHelp(1);">[show help]</a>
{% endblock body_title %}


{% block content %}

<div>
	Target machine
	<select name="target_machine_select" id="target">
		<option value="spmax2">SpectraMax M2 - 2</option>
	</select>
	<br/>
	File path <input type="text" id="path" style="width: 80%;" name="file_path_text_field"></input>
	<br/>
	<button type="button" id="submit" name="submit_button">Submit</input>
</div><!-- #content -->

<!-- class="workbench-button" -->

<div class="help-content" id="help-1">
<p>Instructions for using this page:</p>
<p>1. Locate the import template and make a copy of it in your folder, named appropriately.</p>
<p>2. Copy and paste your data into the template.</p>
<p>3. Fill in the metadata for the experiment. Be sure to save after your finished!</p>
<p>4. Select the machine your are importing data from in the dropdown menu.</p>
<p>5. Copy the file path of the excel file and paste it into the form above.</p>
<center>
	<button type="button" class="workbench-button" onclick="showHelp(1)">Close</button>
</center>
</div>

<div id="overlay-back"></div>

{% endblock content %}
