{% extends "edd_base.html" %}

{% block js_css %}
<style type="text/css">
li { margin-left: 40px; }
</style>
{% endblock %}

{% block head_title %}
EDD utilities
{% endblock head_title %}

{% block body_title %}
EDD utilities
{% endblock body_title %}

{% block content %}

<p>These tools provide additional data-processing functionality for handling
non-standard formats that will eventually be imported into EDD.</p>
<ul>
    <li>
        <a href="{% url 'edd_utils:gc_ms_home' %}">GC-MS report extraction</a>: this tool
        streamlines parsing and extracting peaks from reports output by Agilent's
        MSDChemStation software.
    </li>
    <li>
        <a href="{% url 'edd_utils:proteomics_home' %}">Skyline reformatting</a>: condense tabular
        output from the MS data analysis app
        <a href="http://skyline.gs.washington.edu">Skyline</a>.
    </li>
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'edd_utils:cytometry_home' %}">Cytometer Import</a>: Data import wizard
        for flow cytometer data.
    </li>
    {% endif %}
</ul>

{% endblock content %}
