/* Example images */

img.exampleImage {
	border: none;
	padding:4px;
	margin:8px 8px 6px 5px;
	-webkit-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
}

.form-control-import {
    display: inline-block;
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 8px;
}

img.exampleImageProteomics {
	width: 98%;
	border: none;
	padding:4px;
	margin:8px 8px 6px 5px;
	-webkit-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
	box-shadow: 3px 3px 8px 2px rgba(0,0,0,0.4);
}

.stepBorder {
	background: #fcfcfc;
    margin: 10px 8px 3px 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #a0a0a0;
}

.stepSeparator {
	border-top:1px solid #6CA5E9;
	padding:0em 1em 3px 3em;
}

/* Formatting for the label that appears when a step is disabled or irrelevant */

div.disabledStepLabel {
	height:50px;

	text-align:center;
	margin-top: 15px;
}

.disabledTextLabel, div.disabledStepLabel {
	color:#BBB;
}

/* Reset buttons for the various steps */

div.resetButtonDiv {
	float:right;
	cursor: pointer;
	padding:1px 5px;
	margin:0px 6px 0px 4px;
	color:#400;
	font-size:9px;
	text-align:center;
	border:2px solid #800;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

div.resetButtonDiv:hover {
	background-color:#F00;
}

.mergeOrReplace {
	padding-left: 27px;
}

/* The Step 2 data entry box and file drop area */
div#importDropZone {
	padding: 0;
}

textarea.dataTextArea {
	margin:0px;
	font-size:8.5pt;
	width:100%;
}

/* (The file drop zone styling is in common.css) */


/* The Step 3 data layout table and graph */

div.dataTableDiv {
	width:98%;
	border:0px solid;
	padding:3px 6px 12px 6px;
	max-height: 300px;
	overflow-x: auto;
	overflow-y: auto;
}

div.dataTableDiv table {
	border:0px solid;
	margin:0px;
	padding:0px;
}

div.dataTableDiv table tr {
	border:0px solid;
}

div.dataTableDiv table tr td {
	line-height:13px;
	border:0px solid;
	font-family: monospace;
	font-size: 12px;
	text-align:left;
	padding:0px;
}

div.dataTableDiv table tr td:hover {
	background-color:#CECEFF;
}

div.dataTableDiv table tr td input {
	padding:0px;
	margin:0px;
	font-size:9pt;
}

div.dataTableDiv table tr td > div {
	line-height:13px;
	white-space:nowrap;
	margin:2px 0px 1px 1px;
	padding:0px 5px 1px 3px;
	border:0px solid;
}

div.dataTableDiv table tr > td.pulldownCell {
	padding:0px;
}
div.dataTableDiv table tr > td.pulldownCell select {
	margin:0;
}

div.dataTableDiv table tr > td.checkBoxCell {
	text-align:center;
}
div.dataTableDiv table tr > td.checkBoxCell input[type="checkbox"] {
	margin:0px 6px 0px 6px;
}

div.dataTableDiv table tr > td.dataTypeCell > div {
	font-weight:bold;
	white-space:nowrap;
	margin:1px 0px 1px 1px;
	padding:0px 4px 1px 2px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border:1px solid #ACD1FF;
}

div.dataTableDiv table tr > td.hoverLines {
	background-color:#E4E4FF;
}
div.dataTableDiv table tr.hoverLines {
	background-color:#E4E4FF;
}
div.dataTableDiv table col.hoverLines {
	background-color:#E4E4FF;
}

div.dataTableDiv table tr > td.missingInterpretationRow {
	color:#000000;
	background-color:#FFE0CC;
}

div.dataTableDiv table tr > td.disabledInput {
	color:#000000;
	background-color:#B2B4C4;
}

.step3Legend {
	float: right;
	display: table;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.disabledRowLegendBox {
	background-color: #B2B4C4;
}

.ignoredRowLegendBox {
	background-color:#FFE0CC;
}

.disabledRowLegendBox, .ignoredRowLegendBox {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-width:  1px;
}

.legendCell {
	display: table-cell;
	padding-left: 3px;
}

.legendRow {
	display: table-row;
}

.legendColumn3 {
	padding-left: 10px;
}

#missingStep3InputDiv {
	display: inline-block;
	margin: 10px;
}


/* The Step 4 disambiguation section */

div.disambiguationSections > div {
	padding:6px 0em 3px 0em;
}

div.disambiguationSections h3 {
	font-size: 14px;
	margin:0.5em 0px 18px 0.5em;

}

div.disambiguationSections > div table {
	border:0px solid;
	margin:0px 0px 8px 1.2em;
	padding:0px;
	font-size: 12px;
}

div.disambiguationSections > div table tr {
	border:0px solid;
}
div.disambiguationSections > div table tr > td {
	vertical-align:middle;
	padding:1px 2px 0px 2px;
	border:0px solid;
	text-align:left;
}
div.disambiguationSections > div table tr > td.disamDataCell {
	padding:1px 2px 0px 0px;
}

div.disambiguationSections > div table tr > th {
	padding:0px 26px 5px 0px;
}

#disambiguateMeasurementsTable th, #masterMTypeDiv th {
	text-align:left;
	font-size: 9px;
	font-weight:normal;
}
div.disambiguationSections > div table tr > td > div {
	padding-left:10px;
	padding-right:10px;
}
div.disambiguationSections > div table tr > td select {
	margin:0px 3px 0px 3px;
}
div.disambiguationSections > div table tr > td > p {
	font-size: 13px;
	margin:0px 2px 0px 2px;
	padding:0;
}
div.disambiguationSections > div table tr > td > span {
	font-size: 13px;
	margin:0px 0px 0px 4px;
}
div.disambiguationSections > div table tr > td input[type="text"] {
	margin:0px 2px 0px 0px;
}

p.warningUnmatched {
	color: red;
	padding-bottom: 10px;
}

.step4SubsectionToggle {
    margin-top: 7px;
    margin-bottom: 7px;
}

.step4_user_input {
	width: auto;
	font-size: 12px;
}

select.disamStd {
	min-width: 10em;
}

#masterTimestampRequiredPrompt {
	margin-left: 25px;
}


/* The Step 5 review section */
.step5Subsection {
	margin-top: 30px;
}

.step5Subsection p, .step5Subsection table {
    margin-left: 10px;
}

#reviewWarningsSection table th{
    margin-bottom: 10px;
}

.acknowledgeAllButton {
	margin-top: 15px;
}

#submitForImport {
	font-weight: bold;
	border-width: 3px;
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: 20px;
}

/************************************************************************************************/

.sectionContent table {
	border-spacing: 10px
}

.sectionContent th {
	padding-bottom: 10px;
}

.warningStepLabel {
	text-decoration: underline;
}

.errorMessage {
    background: #FFF0F0;
    padding: 2px;
    border: 2px solid red;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
