.login_form {
    margin: 100px auto;
    padding: 20px 30px;
    width: 400px;
}
.login_form > fieldset > div {
    clear: both;
    margin-bottom: 0.5em;
    min-height: 1.5em;
    padding: 0 0 5px 80px;
}
.login_form > fieldset > div > label,
.login_form > fieldset > p > label {
    display: inline-block;
    float: left;
    width: 6em;
}
.login_or {
    margin: 10px auto;
    text-align: center;
}
span.icon {
    color: transparent;
    display: inline-block;
    height: 16px;
    width: 16px;
}
span.icon.primary {
    background-image: url('/static/main/images/star.png');
}
span.icon.verified {
    background-image: url('/static/main/images/award_star_gold_3.png');
}
span.icon.unverified {
    background-image: url('/static/main/images/lock.png');
}
span.socialaccount_provider {
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    padding-left: 24px;
}
span.socialaccount_provider.github {
    background-image: url('/static/main/images/github-icon.png');
}
span.socialaccount_provider.google {
    background-image: url('/static/main/images/google-icon.png');
}
span.socialaccount_provider.linkedin {
    background-image: url('/static/main/images/linkedin-icon.png');
}
a.socialaccount_provider {
    background-repeat: no-repeat;
    color: transparent;
    display: inline-block;
    height: 48px;
    width: 200px;
}
a.socialaccount_provider.github {
    background-image: url('/static/main/images/github-login.png');
}
a.socialaccount_provider.google {
    background-image: url('/static/main/images/google-login.png');
}
a.socialaccount_provider.linkedin_oauth2 {
    background-image: url('/static/main/images/linkedin-login.png');
    background-position-x: 8px; 
}
.buttonHolder {
    margin-top: 1em;
}
ul {
    list-style: none;
}

input.password1 {
    margin-left: 22px;
    margin-bottom: 10px;
}

input.password2 {
    margin-bottom: 26px;
}

input.passwordButton {
    float: right;
}

a.forgotPassword {
    color: red;
    font-size: 12px;
}
