.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#bar {
  display: none;
}
.bar:hover {
  fill: orangered ;
}
body {
  font: 10px sans-serif;
  padding-left: 20px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.dot {
  stroke-width: 1.5px;
}

.dot-selected {
  fill: #B0C4DE;
  stroke: #B0C4DE;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 75px;

  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
          stroke-width: 0;
}

.legend rect {
  cursor: pointer;
  fill:white;
  stroke:black;
  opacity:0.8;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

#metrics {
  display: none;
}

.metrics-container {
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

.tick text{
  font-size: 12px;
}

.tick line{
  opacity: 0.2;
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}

.x.axis path {
  opacity: .2;
}

.y.axis path {
  opacity: .2;
}




