{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Login Cancelled" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="login_form">
        <fieldset>
            <legend>{% translate "Login Cancelled" %}</legend>
            {% url 'account_login' as login_url %}
            <p>
                {% blocktranslate %}
                You decided to cancel logging in to our site using one of your existing accounts.
                If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.
                {% endblocktranslate %}
            </p>
        </fieldset>
    </div>
{% endblock content %}
