{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load branding %}
{% load static %}

{% block head_title %}
  {{ block.super }}
  {% if form.non_field_errors|length %}
    {% translate '- Login Error' %}
  {% endif %}
{% endblock head_title %}

{% block js_css %}
  {{ block.super }}
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  {% providers_media_js %}
  {% endif %}
  <script type="text/javascript" src="{% static 'dist/Login.js' %}"></script>
{% endblock js_css %}

{% block status %}
  {{ block.super }}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert" aria-hidden="true">
    <p>{{ error }}</p>
  </div>
  {% endfor %}
{% endblock status %}

{% block sr_header_alert %}
  {{ block.super }}
  <div class="sr-only" role="alert">
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      <p>{{ error }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  <form class="login_form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% login_welcome as welcome %}
    {% if welcome %}
    <p>{{ welcome }}</p>
    {% endif %}
    <fieldset>
    {% if socialaccount_providers %}
      <legend>{% translate 'Login with third-party accounts' %}</legend>
      <p>
        {% blocktranslate %}
        Please sign in with one of your existing third-party accounts.
        {% endblocktranslate %}
      </p>
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
    {% else %}
      <legend>{% translate 'Create an account' %}</legend>
      <p>
        {% blocktranslate %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktranslate %}
      </p>
    {% endif %}
    </fieldset>
    <div class="login_or">{% translate 'or' %}</div>
    <fieldset>
      <legend>{% translate 'Login with EDD Account' %}</legend>
      <div>
        {{ form.login.label_tag }}
        <input
          type="text"
          name="login"
          autocomplete="username"
          maxlength="150"
          required="required"
          aria-invalid="false"
          id="id_login"
        />
      </div>
      <div class="passwordContainer">
        {{ form.password.label_tag }}
        <input
          type="password"
          name="password"
          autocomplete="current-password"
          required="required"
          aria-invalid="false"
          id="id_password"
        />
        {% show_password_button as show_password %}
        {% if show_password %}
          <a href="#"
            class="showPassword"
            id="show-password"
            aria-controls="id_password"
            role="switch"
            aria-pressed="false"
            aria-label="{% translate 'Show password' %}"
          >{% translate "Show" context "password toggle" %}</a>
          <span id="show-password-show" aria-hidden="true" class="off">
            {% translate "Show" context "password toggle" %}
          </span>
          <span id="show-password-hide" aria-hidden="true" class="off">
            {% translate "Hide" context "password toggle" %}
          </span>
          <span id="show-password-show-label" aria-hidden="true" class="off">
            {% translate "Show password" %}
          </span>
          <span id="show-password-hide-label" aria-hidden="true" class="off">
            {% translate "Hide password" %}
          </span>
          <span id="show-password-shown-sr" aria-hidden="true" class="off">
            {% translate "Password shown." %}
          </span>
          <span id="show-password-hidden-sr" aria-hidden="true" class="off">
            {% translate "Password hidden." %}
          </span>
          <p aria-live="polite" id="password-text" class="sr-only">
            {% translate "Password hidden." %}
          </p>
        {% endif %}
        <div>
          <a class="forgotPassword" href="{% url 'account_reset_password' %}">
            {% translate 'Forgot password?' %}
          </a>
        </div>
      </div>

      <button class="btn btn-primary" id="id_click" type="submit">{% translate 'Login' %}</button>
      <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value|default_if_none:"" }}"/>
    </fieldset>

    {% if socialaccount_providers %}
    <p>
      {% blocktranslate with site.name as site_name %}
      <a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account.
      {% endblocktranslate %}
    </p>
    {% endif %}
  </form>
{% endblock content %}
