{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}"
            class="password_change login_form">
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Change Password" %}</legend>
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </fieldset>
    </form>
{% endblock %}
