{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{{ block.super }} &mdash; {% translate "Password Reset" %}{% endblock %}

{% block body_title %}{% translate "Password Reset" %}{% endblock body_title %}

{% block content %}
    <form method="POST" action="{% url 'account_reset_password' %}"
            class="password_reset login_form">
        {% csrf_token %}
        <fieldset>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>
                {% blocktranslate %}
                Forgotten your password? Enter your e-mail address below, and we'll send you an
                e-mail allowing you to reset it.
                {% endblocktranslate %}
            </p>
            {{ form.as_p }}
            <input type="submit" value="{% translate 'Reset My Password' %}" />
        </fieldset>
        <p>
            {% blocktranslate %}
            Please contact us if you have any trouble resetting your password.
            {% endblocktranslate %}
        </p>
    </form>
{% endblock content %}
