{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Signup" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <form class="signup" id="signup_form login_form" method="post"
            action="{% url 'account_signup' %}">
        {% csrf_token %}
        <fieldset>
            <legend>{% translate "Sign Up" %}</legend>
            <p>
                {% blocktranslate %}
                Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
                {% endblocktranslate %}
            </p>
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% translate "Sign Up" %} &raquo;</button>
        </fieldset>
    </form>
{% endblock content %}
