{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('EDD admin') }}{% endblock %}

{% block extrahead %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'dist/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/Admin.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/common.css' %}" />
{% endblock extrahead %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('EDD administration') }}</a></h1>
{% endblock %}
