{% extends "account/base.html" %}
{% load account i18n %}

{% block head_title %}{% translate "Confirm E-mail Address" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
  {% if confirmation %}
    <form
      action="{% url 'account_confirm_email' confirmation.key %}"
      class="centered-form"
      method="POST"
    >
      <h1>{% translate "Confirm E-mail Address" %}</h1>
      {% user_display confirmation.email_address.user as user_display %}
      <p>
        {% blocktranslate with confirmation.email_address.email as email %}
        Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail
        address for user {{ user_display }}.
        {% endblocktranslate %}
      </p>
      {% csrf_token %}
      <button
        class="btn btn-lg btn-primary"
        type="submit"
      >{% translate 'Confirm' %}</button>
    </form>
  {% else %}
    <div class="centered-form">
      <h1>{% translate "Confirmation Link Expired" %}</h1>
      {% url 'account_email' as email_url %}
      <p>
        {% blocktranslate %}
        This e-mail confirmation link expired or is invalid. Please
        <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.
        {% endblocktranslate %}
      </p>
    </div>
  {% endif %}
{% endblock content %}
