{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% translate "Account" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
<div class="centered-form">
  <h1>{% translate "Manage Account Email" %}</h1>
  <form
    action="{% url 'account_email' %}"
    method="POST"
  >
    <h2>{% translate "Current Emails" %}</h2>
    {% csrf_token %}
    {% if user.emailaddress_set.all %}
    <p>
      {% blocktranslate %}
      The following e-mail addresses are associated with your account.
      {% endblocktranslate %}
    </p>
    <table class="table table-condensed table-striped">
      <tbody>
      {% for emailaddress in user.emailaddress_set.all %}
        <tr>
          <td>
            <input
              id="email_radio_{{forloop.counter}}"
              name="email"
              type="radio"
              value="{{emailaddress.email}}"
              {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
              checked="checked"
              {% endif %}
            />
          </td>
          <td>
            <label for="email_radio_{{forloop.counter}}">{{ emailaddress.email }}</label>
          </td>
          <td>
            {% if emailaddress.primary %}
            <i class="fas fa-envelope-circle-check"></i>
            {% translate "Primary" %}
            {% endif %}
          </td>
          <td>
            {% if emailaddress.verified %}
            <i class="fas fa-person-circle-check"></i>
            {% translate "Verified" %}
            {% else %}
            <i class="fas fa-person-circle-question"></i>
            {% translate "Unverified" %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="my-3">
      <button
        class="btn btn-secondary"
        name="action_primary"
        type="submit"
      >{% translate 'Make Primary' %}</button>
      <button
        class="btn btn-secondary"
        name="action_send"
        type="submit"
      >{% translate 'Re-send Verification' %}</button>
      <button
        class="btn btn-danger"
        type="submit"
        name="action_remove"
      >{% translate 'Remove' %}</button>
    </div>
    {% else %}
    <p>
      <strong>{% translate 'Warning:'%}</strong>
      {% blocktranslate %}
      You currently do not have any e-mail address set up. You should really add an
      e-mail address so you can receive notifications, reset your password, etc.
      {% endblocktranslate %}
    </p>
    {% endif %}
  </form>
  <form
    action="{% url 'account_email' %}"
    method="POST"
  >
    <h2>{% translate "Add E-mail Address" %}</h2>
    {% csrf_token %}
    {{ form }}
    <button
      class="btn btn-primary"
      name="action_add"
      type="submit"
    >{% translate "Add E-mail" %}</button>
  </form>
</div>
{% endblock content %}
