{% extends "account/base.html" %}
{% load account branding i18n socialaccount static %}

{% block head_title %}
  {{ block.super }}
  {% if form.non_field_errors|length %}
    {% translate '- Login Error' %}
  {% endif %}
{% endblock head_title %}

{% block js_css %}
  {{ block.super }}
  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}
  {% providers_media_js %}
  {% endif %}
  <script type="text/javascript" src="{% static 'bs5/login.js' %}"></script>
{% endblock js_css %}

{% block status %}
  {{ block.super }}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert" aria-hidden="true">
    <p>{{ error }}</p>
  </div>
  {% endfor %}
{% endblock status %}

{% block sr_header_alert %}
  {{ block.super }}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    <p>{{ error }}</p>
  </div>
  {% endfor %}
{% endblock %}

{% block content %}
  {% get_providers as socialaccount_providers %}
  <form
    action="{% url 'account_login' %}"
    class="centered-form"
    method="POST"
  >
    {% csrf_token %}
    {% login_welcome as welcome %}
    {% if welcome %}
    <p>{{ welcome }}</p>
    {% endif %}
    <fieldset>
    {% if socialaccount_providers %}
      <legend>{% translate 'Login with third-party accounts' %}</legend>
      <p>
        {% blocktranslate %}
        Please sign in with one of your existing third-party accounts.
        {% endblocktranslate %}
      </p>
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
      </div>
    {% else %}
      <legend>{% translate 'Create an account' %}</legend>
      <p>
        {% blocktranslate %}
        If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktranslate %}
      </p>
    {% endif %}
    </fieldset>
    <div class="text-center my-3">{% translate 'or' %}</div>
    <fieldset>
      <legend>{% translate 'Login with EDD Account' %}</legend>
      <div class="form-floating mb-3">
        <input
          autocomplete="username"
          class="form-control"
          id="id_login"
          maxlength="150"
          name="login"
          required="required"
          type="text"
          aria-invalid="false"
        />
        {{ form.login.label_tag }}
      </div>
      <div class="input-group mb-3">
        <div class="flex-grow-1 form-floating">
          <input
            autocapitalize="off"
            autocomplete="current-password"
            autocorrect="off"
            class="form-control"
            id="id_password"
            name="password"
            required="required"
            spellcheck="false"
            type="password"
            aria-invalid="false"
          />
          {{ form.password.label_tag }}
        </div>
        {% show_password_button as show_password %}
        {% if show_password %}
          <button
            class="d-none btn btn-sm btn-outline-secondary"
            id="show-password"
            role="switch"
            title="{% translate 'Reveal password' %}"
            type="button"
            aria-controls="id_password"
            aria-label="{% translate 'Reveal password' %}"
            aria-pressed="false"
            data-label-off="{% translate 'Reveal password' %}"
            data-label-on="{% translate 'Hide password' %}"
            data-sr-off="{% translate 'Password hidden.' %}"
            data-sr-on="{% translate 'Password revealed' %}"
          ><i class="fa-solid fa-eye"></i></button>
          <p aria-live="polite" id="password-text" class="visually-hidden"></p>
        {% endif %}
        </div>
        <div>
          <button
            class="btn btn-lg btn-primary"
            id="id_click"
            type="submit"
          >{% translate 'Login' %}</button>
          <a class="px-4" href="{% url 'account_reset_password' %}" id="forgotPassword">
            {% translate 'Forgot password?' %}
          </a>
        </div>
      </div>

      <input
        name="{{ redirect_field_name }}"
        type="hidden"
        value="{{ redirect_field_value|default_if_none:'' }}"
      />
    </fieldset>

    {% if socialaccount_providers %}
    <p>
      {% blocktranslate with site.name as site_name %}
      <a href="{{ signup_url }}">Sign up</a> for a {{ site_name }} account.
      {% endblocktranslate %}
    </p>
    {% endif %}
  </form>
{% endblock content %}
