{% extends "account/base.html" %}
{% load i18n static %}

{% block head_title %}
{% translate "Sign Out" %} &mdash; {{ block.super }}
{% endblock %}

{% block body_title %}
  {% translate 'Sign Out' %}
{% endblock body_title %}


{% block content %}
  <form
    action="{% url 'account_logout' %}"
    class="centered-form"
    method="POST"
  >
    {% csrf_token %}
    <p>{% translate 'Are you sure you want to sign out?' %}</p>
    {% if redirect_field_value %}
      <input
        name="{{ redirect_field_name }}"
        type="hidden"
        value="{{ redirect_field_value }}"
      />
    {% endif %}
    <button
      class="btn btn-lg btn-primary"
      type="submit"
    >{% translate 'Sign Out' %}</button>
  </form>
{% endblock content %}
