{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% translate "Change Password" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
  <form
    action="{% url 'account_change_password' %}"
    class="centered-form"
    id="password_change"
    method="POST"
  >
    <h1>{% translate "Change Password" %}</h1>
    {% csrf_token %}
    {{ form }}
    <button
      class="btn btn-lg btn-primary"
      name="action"
      type="submit"
    >{% translate "Change Password" %}</button>
  </form>
{% endblock %}
