{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Set Password" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'account_set_password' %}"
            class="password_set login_form">
        {% csrf_token %}
        <fieldset>
            <legend>{% translate "Set Password" %}</legend>
            {{ form.as_p }}
            <input type="submit" name="action" value="{% translate 'Set Password' %}"/>
        </fieldset>
    </form>
{% endblock %}
