{% extends "account/base.html" %}
{% load account i18n %}

{% block head_title %}
{% translate "Password Reset" %} &mdash; {{ block.super }}
{% endblock %}

{% block content %}
  <div class="login_form">
    <h1>{% translate "Password Email Sent" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
      {% blocktranslate %}
      An email has been sent with a link to reset your password.
      Please contact us if you do not receive it within a few minutes.
      {% endblocktranslate %}
    </p>
    <a href="{% url 'account_login' %}">{% translate "Back to Login Page" %}</a>
  </div>
{% endblock content %}
