{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% translate "Signup" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
  <form
    class="centered-form{% if form.errors %} was-validated{% endif %}"
    id="signup_form"
    method="POST"
    action="{% url 'account_signup' %}"
  >
    <h1>{% translate "Sign Up" %}</h1>
    {% csrf_token %}
    <p>
      {% blocktranslate %}
      Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
      {% endblocktranslate %}
    </p>
    {{ form }}
    {% if redirect_field_value %}
    <input
      name="{{ redirect_field_name }}"
      type="hidden"
      value="{{ redirect_field_value }}"
    />
    {% endif %}
    <button class="btn btn-primary" type="submit">
      {% translate "Sign Up" %}
      <span role="presentation">&raquo;</span>
    </button>
  </form>
{% endblock content %}
