{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}
{% translate "Verify Your E-mail Address" %} &mdash; {{ block.super }}
{% endblock %}

{% block content %}
  <div class="centered-form">
    <h1>{% translate "Verification Sent" %}</h1>
    <p>
      {% blocktranslate %}
      We have sent an e-mail to you for verification. Follow the link provided to finalize
      the signup process. Please contact us if you do not receive it within a few minutes.
      {% endblocktranslate %}
    </p>
  </div>
{% endblock content %}
