{% extends "edd_base.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dist/Export.js' %}"></script>
{% endblock js_css %}


{% block head_title %}
  {% blocktrans with name=primary_study.name count count=selection.studies|length %}
  Data Export for {{ name }}
  {% plural %}
  Data Export for {{ count }} Studies
  {% endblocktrans %}
{% endblock head_title %}


{% block body_title %}
  {% url 'main:detail' slug=primary_study.slug as study_url %}
  {% blocktrans with name=primary_study.name url=study_url count count=selection.studies|length %}
  Data Export for <a href="{{ url }}">{{ name }}</a>
  {% plural %}
  Data Export for {{ count }} Studies, including <a href="{{ url }}">{{ name }}</a>
  {% endblocktrans %}
{% endblock body_title %}


{% block content %}
<!-- Line info section -->
{% include "edd/export/linetable.html" %}

<!-- start of main form -->
<form method="post" id="exportForm" action="{% url 'export:export' %}">
  {% csrf_token %}
  <div class="pageSection">
    <div class="sectionHead">{% trans 'Choose the export layout.' %}</div>
    <div class="sectionContent exportOptions">
      {{ select_form.as_p }}
      {{ option_form.as_p }}
      <button type="submit"
          class="actionButton primary larger"
          name="action"
          value="download">
        <span class="glyphicon gliphicon-cloud-download"></span>
        {% trans 'Request Download' %}
      </button>
    </div>
  </div>
</form>
{% endblock content %}
