{% extends "edd_base.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dist/Export.js' %}"></script>
{% endblock js_css %}


{% block head_title %}
  {% blocktranslate with name=primary_study.name count count=selection.studies|length %}
  Worklist Export for {{ name }}
  {% plural %}
  Worklist Export for {{ count }} Studies
  {% endblocktranslate %}
{% endblock head_title %}


{% block body_title %}
  {% url 'main:detail' slug=primary_study.slug as study_url %}
  {% blocktranslate with name=primary_study.name url=study_url count count=selection.studies|length %}
  Worklist Export for <a href="{{ url }}">{{ name }}</a>
  {% plural %}
  Worklist Export for {{ count }} Studies, including <a href="{{ url }}">{{ name }}</a>
  {% endblocktranslate %}
{% endblock body_title %}


{% block content %}
{% if error_message %}
<h3 style="color: #ff0000; font-weight: bold">{{ error_message }}</h3>
{% endif %}
<!-- Line info section -->
{% include "edd/export/linetable.html" %}

<!-- start of main form -->
<form method="post" id="worklistForm" action="{% url 'export:worklist' %}">
  {% csrf_token %}
  <div class="pageSection">
    <div class="sectionHead">{% translate 'Choose a worklist template and options.' %}</div>
    <div class="sectionContent exportOptions">
      {{ select_form.as_p }}
      {{ worklist_form.as_p }}
      <input type="hidden" id="id_separator" value=","/>
      {% if defaults_form %}
      <div class="disclose discloseHide">
        <a href="#" class="discloseLink">{% translate 'Modify Column Default Values' %}</a>
        <div class="discloseBody">
          {{ defaults_form.as_p }}
        </div>
      </div>
      {% endif %}
      {% if flush_form %}
      <div class="disclose discloseHide">
        <a href="#" class="discloseLink">{% translate 'Add Flush Rows' %}</a>
        <div class="discloseBody">
          {{ flush_form.as_p }}
        </div>
      </div>
      {% endif %}
      <button
        class="btn btn-primary btn-lg"
        name="action"
        type="submit"
        value="download"
      >
        <span class="fas fa-cloud-download-alt"></span>
        {% translate 'Request Download' %}
      </button>
    </div>
  </div>
</form>
{% endblock content %}
