[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
celery = "*"
channels = "*"
channels-redis = "*"
django = "~=2.0.0"
django-allauth = "*"
django-auth-ldap = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "<2.0"
django-messages-extends = "*"
django-redis = "*"
django-rest-swagger = "*"
django-threadlocals = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
drf-nested-routers = "*"
factory-boy = "*"
graphene = "*"
graphene-django = "*"
gunicorn = "*"
jsonpickle = "*"
jsonschema = "*"
openpyxl = "*"
pillow = "*"
psycopg2 = "*"
rdflib = "*"
service-identity = "*"
sqlalchemy = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.6"
