{% extends "edd_file_importer/email/email_base.html" %}
{% load i18n %}
{% block body %}
    <h2>{% trans 'Import Failed' %}</h2>
    <p>
        {% blocktrans %}
        Your import failed to add data from file "{{file}}" to study
        {% endblocktrans %}
        "<a href="{{study_uri}}">{{study}}</a>".
        {% if admins_notified %}
            <br>
            {% blocktrans %}
                EDD administrators have been notified of the problem.
            {% endblocktrans %}
        {% endif %}
    </p>
    {% include "edd_file_importer/email/message_sequence.html" with title='Errors' messages=errors classes="alert alert-danger" %}
    {% include "edd_file_importer/email/message_sequence.html" with title='Warnings' messages=warnings classes="alert alert-warning" %}
{% endblock %}
