{% extends "edd_file_importer/email/email_base.html" %}
{% load i18n %}
{% block body %}
    <h2>{% trans 'EDD user import failed'%}</h2>
    <p>
    {% blocktrans %}
    Administrator notification emails are only sent for unanticipated errors during the
    import process.
    {% endblocktrans %}
    </p>

    <span>{% trans 'File' %}</span>: "{{file}}" <br>
    <span>{% trans 'Import' %}</span>: {{uuid}} (pk={{import_pk}})<br>
    <span>{% trans 'Submitting user' %}</span>: {{username}} ({{email}})<br>
    <span>{% trans 'Study' %}</span> : <a href="{{study_uri}}">{{study}}</a><br>
    <span>{% trans 'Time to fail' %}</span>: {{duration}}<br>
    <h3p>
        Traceback:
    </h3p>
    <p style="margin-left: 50px">
        {% for line in traceback_lines %}
            {{line}}<br>
        {% endfor %}
    </p>
{% endblock %}
