{% if messages %}
    <h3>{{title}}</h3>
    <p>
        {% for msg in messages %}
            {# Print the category if different from the previous one #}
            {% ifchanged msg.category %}
                {% if not forloopcounter == 1%}
                    </div>
                {% endif %}
                <div class="{{classes}}">
                    <h4>{{msg.category}}</h4>
            {% else %}
            {% endifchanged %}
            {# Print message content #}
            <div>
                 <span class="emphasizeErrorSubject">{{ msg.summary }}</span>
                 {% if 'subcategory' in msg %}<span> - {{ msg.subcategory }}</span>{% endif %}
                 {% if 'detail' in msg %} : {{msg.detail}} {% endif %}
                 {% if 'resolution' in msg %}<div>{{msg.resolution}}</div> {% endif %}
                 {% if 'docs_link' in msg %}
                    {{msg.docs_link|safe}}
                 {% endif %}
            </div>
        {% endfor %}
        </div>
    </p>
{% endif %}
