<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>homebrew.mxcl.rabbitmq</string>
		<key>Program</key>
		<string>/usr/local/sbin/rabbitmq-server</string>
		<key>UserName</key>
		<string>rabbitmq</string>
		<key>WorkingDirectory</key>
		<string>/var/lib/rabbitmq/</string>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>EnvironmentVariables</key>
		<dict>
			<!-- need erl in the path -->
			<key>PATH</key>
			<string>/usr/local/sbin:/usr/bin:/bin:/usr/local/bin</string>
			<!-- specify the path to the rabbitmq-env.conf file -->
			<key>HOME</key>
			<string>/var/lib/rabbitmq/</string>
			<!-- Contains the erlang cookie -->
			<key>CONF_ENV_FILE</key>
			<string>/usr/local/etc/rabbitmq/rabbitmq-env.conf</string>
		</dict>
		<key>StandardOutPath</key>
		<string>/usr/local/var/log/rabbitmq/rabbitmq.launchd.log</string>
		<key>StandardErrorPath</key>
		<string>/usr/local/var/log/rabbitmq/rabbitmq.launchd.log</string>
	</dict>
</plist>
