<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>edd_celery_worker</string>
		<key>ProgramArguments</key>
		<array>
			<string>/var/lib/celery/venv/bin/celery</string>
			<string>worker</string>
			<string>--app=edd</string>
			<string>--queues=edd</string>
			<string>--hostname=edd-worker-1.%h</string>
			<string>--autoscale=10,1</string>
			<string>--autoreload</string>
			<string>--loglevel=warning</string>
		</array>
		<key>UserName</key>
		<string>celery</string>
		<key>WorkingDirectory</key>
		<string>/var/lib/celery/edd/</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/var/lib/celery/venv/bin/</string>
			<key>PYTHONPATH</key>
			<string>/var/lib/celery/venv/lib/python2.7/site-packages/</string>
			<key>HOME</key>
			<string>/var/lib/celery</string>
		</dict>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>StandardOutPath</key>
		<string>/var/log/celery/edd_celery_worker1.log</string>
		<key>StandardErrorPath</key>
		<string>/var/log/celery/edd_celery_worker1.log</string>
	</dict>
</plist>
