{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% translate "Social Network Login Failure" %} &mdash; {{ block.super }}{% endblock %}

{% block content %}
    <div class="login_form">
        <fieldset>
            <legend>{% translate "Social Network Login Failure" %}</legend>
            <p>
                {% blocktranslate %}
                An error occurred while attempting to login via your social network account.
                {% endblocktranslate %}
            </p>
        </fieldset>
    </div>
{% endblock content %}
