{% load static %}
{% load i18n %}
{% comment %}
<!--
Template include file for displaying table of attachments
TODO deleting a file may be a little too easy; should we require confirmation?
-->
{% endcomment %}
<table id="attach-table" class="dataTable sortable">
  {% if attachments %}
  <tr class="columnLabels">
    <th class="sortheader smaller">{% translate 'Filename' %}</th>
    <th class="sortheader smaller">{% translate 'Description' %}</th>
    <th class="sortheader smaller right">{% translate 'Size' %}</th>
    <th class="sortheader smaller center">{% translate 'Added By' %}</th>
    <th class="sortheader smaller">{% translate 'Date Added' %}</th>
    {% if writable %}
    <th class="sortheader smaller right">{% translate 'Delete' %}</th>
    {% endif %}
  </tr>
  {% endif %}
  {% for a in attachments %}
  {% with slug=study.slug urlname=a.filename|urlencode %}
  {% url 'main:attachment' slug=slug file_id=a.id file_name=urlname as filelink %}
  <tr class="stripeRow{% cycle 'A' 'B' %}">
    <td class="nowrap">
      <img class="attach-icon" src="{% static 'main/images/' %}{{ a.icon }}"/>
      <a href="{{ filelink }}">{{ a.filename }}</a>
    </td>
    <td>{{ a.description }}</td>
    <td class="text-right">{{ a.file_size|filesizeformat }}</td>
    <td class="text-center">{{ a.user_initials }}</td>
    <td>{{ a.created.format_timestamp }}</td>
    {% if writable %}
    <td class="text-right">
      <form action="{{ filelink }}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-xs" aria-label="{% translate 'Delete' %}">
          <span class="fas fa-trash-alt" aria-hidden="true"></span>
        </button>
      </form>
    </td>
    {% endif %}
  </tr>
  {% endwith %}
  {% endfor %}
</table>
