{% load static %}
{% load i18n %}
{% comment %}
<!--
Template include file for displaying table of attachments
TODO deleting a file may be a little too easy; should we require confirmation?
-->
{% endcomment %}
<table class="table table-condensed table-striped" id="attach-table">
  <caption class="sr-only">{% translate 'Attachments' %}</caption>
  {% if attachments %}
  <thead>
    <tr>
      <th scope="col">{% translate 'Filename' %}</th>
      <th scope="col">{% translate 'Description' %}</th>
      <th scope="col" class="text-right">{% translate 'Size' %}</th>
      <th scope="col" class="text-center">{% translate 'Added By' %}</th>
      <th scope="col">{% translate 'Date Added' %}</th>
      {% if writable %}
      <th scope="col" class="text-right">{% translate 'Delete' %}</th>
      {% endif %}
    </tr>
  </thead>
  {% endif %}
  <tbody>
    {% for a in attachments %}
    {% with slug=study.slug urlname=a.filename|urlencode %}
    {% url 'main:attachment' slug=slug file_id=a.id file_name=urlname as filelink %}
    <tr role="row">
      <td class="nowrap">{% spaceless %}
        <img class="attach-icon" alt="attach-icon" aria-hidden="true" src="{% static 'main/images/' %}{{ a.icon }}"/>
        <a href="{{ filelink }}">{{ a.filename }}</a>
      {% endspaceless %}</td>
      <td>{{ a.description }}</td>
      <td class="text-right">{{ a.file_size|filesizeformat }}</td>
      <td class="text-center">{{ a.user_initials }}</td>
      <td>{{ a.created.format_timestamp }}</td>
      {% if writable %}
      <td class="text-right">
        <form action="{{ filelink }}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-xs" aria-label="{% translate 'Delete' %}">
            <span class="fas fa-trash-alt" aria-hidden="true"></span>
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
