{% load i18n %}
<p class="bulk-note off">
  {% blocktranslate trimmed %}
  Disabled fields have conflicting values, and will be ignored until edited. Editing
  these will overwrite to the new value. Use the Don't Change button to discard edits
  and keep original value(s) for a field. Use the Clear Value button to remove
  metadata.
  {% endblocktranslate %}
</p>
<div class="meta-add-row meta-row form-group">
  <span class="edd-label">
    <input type="text"
        size="14"
        autocomplete="off"
        class="autocomp {{ meta_class }} form-control-meta ui-autocomplete-input"
        data-eddautocompletetype="{{ meta_type }}"
        placeholder="{% translate 'Metadata Type' %}" />
    <input type="hidden" value="" />
  </span>
  <button class="meta-add btn btn-default">
    <i class="fas fa-plus-circle"></i>
    {% translate "Add Field" %}
  </button>
</div>
<p class="off meta-model">
  <span class="meta-prefix"></span>
  <label></label>
  <span class="meta-postfix"></span>
  <span class="off meta-restore">
    {% translate "Values of <label></label> will be removed on Save." %}
  </span>
  <br/>
  <input type="text" class="form-control"/>
  <span class="meta-description help-block"></span>
  <span class="off meta-restore btn btn-default btn-xs">
    <i class="fas fa-plus-circle"></i>
    {% translate "Restore Field" %}
  </span>
  <span class="meta-clear btn btn-default btn-xs">
    <i class="fas fa-times-circle"></i>
    {% translate "Clear Value" %}
  </span>
  <span class="meta-remove btn btn-default btn-xs">
    <i class="fas fa-minus-circle"></i>
    {% translate "Don't Change" %}
  </span>
</p>
