{% extends "edd_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
  {% translate 'EDD - Error: Bad Request' %}
{% endblock head_title %}

{% block body_title %}
  {% translate 'Error: Bad Request' %}
{% endblock body_title %}

{% block content %}
  <p>
  {% blocktranslate trimmed %}
  The received request is malformed, and cannot be fulfilled. The site administrators have been
  notified of the problem, please check back later.
  {% endblocktranslate %}
  </p>
{% endblock content %}
