{% extends "edd_bs5.html" %}
{% load i18n static %}

{% block head_title %}
  {% translate "EDD - Missing Permission" context "Browser tab title" %}
{% endblock head_title %}

{% block body_title %}
  {% translate "Missing Permission" context "Top of page title" %}
{% endblock body_title %}

{% block content %}
  <p>{% blocktranslate trimmed %}
  You do not have correct permissions, and your request cannot be fulfilled. The site
  administrators have been notified of the problem, please check back later.
  {% endblocktranslate %}</p>
{% endblock content %}
