<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="/static/bs5/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/bs5/vendor.css" />
    <link rel="stylesheet" type="text/css" href="/static/base.css" />
    <script src="/static/bs5/common.js"></script>
    <title>EDD - Error: Unavailable</title>
  </head>
  <body>
    <a class="skip-to-content-link" href="#content">Skip to main content</a>
    <header class="navbar navbar-expand-lg navbar-light bg-light py-0">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button"
          aria-controls="edd-navbar-collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
          data-bs-toggle="collapse"
          data-bs-target="#edd-navbar-collapse"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="EDD Logo" class="eddLogo" src="/static/main/images/edd_logo.png" />
          <img class="companyLogo" src="/uploads/avatar.png" alt="EDD" />
        </a>
        <div class="collapse navbar-collapse" id="edd-navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <h1 class="navbar-brand">Page Unavailable</h1>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0 d-flex">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://sites.google.com/lbl.gov/esedataautomation/data-acquisition-storage/experiment-data-depot-edd?authuser=0"
              >
                Tutorials
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://pubs.acs.org/doi/abs/10.1021/acssynbio.7b00204"
              >
                EDD Publication
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login/">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main id="content" class="content px-3" tabindex="-1">
      <p>
        EDD has encountered an error and cannot show the requested page. The site
        administrators have been notified of the problem, please check back later.
      </p>
    </main>
    <footer class="border-top my-4 py-4 text-center">
      <span id="footer-text-app">Experiment Data Depot</span>
    </footer>
  </body>
</html>
