{% extends "edd_base.html" %}
{% load i18n %}

{% block body_title %}
  {% translate 'Page Unavailable' %}
{% endblock body_title %}

{% block content %}
  <p>
    {% blocktranslate %}
    EDD has encountered an error and cannot show the requested page. The site administrators have
    been notified of the problem, please check back later.
    {% endblocktranslate %}
  </p>
{% endblock content %}
