{% load i18n %}
<div class="edd-metaboliteauto-item">
  {% if item.id %}
    <span class="edd-metaboliteauto-name">{{ item.type_name }}</span>
  {% elif item.new %}
    <div class="text-end">
      <i class="fas fa-plus"></i>
      <span class="edd-metaboliteauto-name">{% translate "Create Provisional Metabolite" %}</span>
    </div>
  {% else %}
    <i class="fas fa-triangle-exclamation"></i>
    <span class="edd-metaboliteauto-name">{% translate "Unknown Record" %}</span>
  {% endif %}
</div>
