[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
boto3 = "*"
celery = "==5.3.0b1"
channels = "<4.0.0"
channels-redis = "<4.0.0"
chardet = "*"
daphne = "<4.0.0"
django = "<4.2.0"
django-allauth = "*"
django-auth-ldap = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-redis = "*"
django-storages = "*"
django-threadlocals = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
drf-yasg = "*"
gevent = "*"
graphene = "*"
graphene-django = "==2.15.0"
gunicorn = "*"
invoke = "*"
jsonpickle = "*"
jsonschema = "*"
openpyxl = "*"
pillow = "*"
psycopg2-binary = "*"
rdflib = "*"
service-identity = "*"
sqlalchemy = "*"
watchdog = "*"

[dev-packages]
coverage = "*"
factory-boy = "*"
pytest-asyncio = "*"
pytest-django = "*"
pytest-parallel = "*"

[requires]
python_version = "3.10"
