[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
boto3 = "*"
celery = "*"
channels = "*"
channels-redis = "*"
chardet = "*"
django = "<4.0"
django-allauth = "*"
django-auth-ldap = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-redis = "*"
django-rest-swagger = "*"
django-storages = "*"
django-threadlocals = "*"
djangorestframework = "*"
djangorestframework-csv = "*"
djangorestframework-simplejwt = "*"
drf-nested-routers = "*"
gevent = "*"
graphene = "*"
graphene-django = "*"
gunicorn = "*"
invoke = "*"
jsonpickle = "*"
jsonschema = "*"
openpyxl = "*"
pandas = "*"
pillow = "*"
psycopg2-binary = "*"
rdflib = "*"
service-identity = "*"
sqlalchemy = "*"
watchdog = "*"

[dev-packages]
coverage = "*"
factory-boy = "*"
pytest-asyncio = "*"
pytest-django = "*"
pytest-parallel = "*"

[requires]
python_version = "3.8"
