[run]
branch = True
source = .

[report]
omit =
	*test*
	*/commands/*
	*/migrations/*
	edd/settings/*
	manage.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
