{% extends "main/study.html" %}
{% load i18n static %}

{% comment %}
This file works as a generic deletion confirm page. The context variables used
directly in this template are:
  - cancel_link: a string for the reverse() URL to cancel the delete and return
    to previous page
  - confirm_action: a token used to validate the delete operation (deprecated)
  - form: a Django Form holding fields defining the objects to delete
  - item_names: a list of names for items to be deleted (may not be complete)
  - item_count: a count of items to be deleted
  - measurement_count: an integer of the number of measurements that would
    be deleted
  - typename: a translated string for the kind of object to be deleted
{% endcomment %}

{% block content %}

{% blocktranslate trimmed with name=item_names|first count counter=item_count asvar t_items %}
the {{ typename }} "{{ name }}"
{% plural %}
{{ counter }} {{ typename }} objects, including "{{ name }}"
{% endblocktranslate %}

<h2>{% translate "Confirm Deletion" %}</h2>
<p>
  {% if measurement_count >= 1 %}
    {% blocktranslate trimmed with item=t_items count counter=measurement_count %}
      Are you sure you want to delete {{ item }}? This will remove a measurement value.
    {% plural %}
      Are you sure you want to delete {{ item }}? This will remove {{ counter }}
      measurement values.
    {% endblocktranslate %}
  {% else %}
    {% blocktranslate trimmed with item=t_items %}
      Are you sure you want to delete {{ item }}?
    {% endblocktranslate %}
  {% endif %}
</p>
<form action="" method="POST">
  {% csrf_token %}
  {{ form }}
  <!-- for older pre-Bootstrap5 views -->
  <input type="hidden" name="action" value="{{ confirm_action }}"/>
  <button
    class="btn btn-danger"
    name="confirm"
    type="submit"
    value="true"
  >{% translate "Yes, Delete" %}</button>
  <a href="{{ cancel_link }}">{% translate "Cancel" %}</a>
</form>

{% endblock content %}
