{% extends "edd_bs5.html" %}
{% load static %}
{% load i18n %}


{% block head_title %}
  {% translate 'Create Study' %} &mdash; {{ block.super }}
{% endblock head_title %}


{% block body_title %}
  {% translate 'Create Study' %}
{% endblock body_title %}


{% block content %}
<form action="{% url 'main:create_study' %}"  class="edd-form" method="POST">
  {% csrf_token %}
  {{ form }}
  <button class="btn btn-primary" type="submit">{% translate 'Add Study' %}</button>
</form>
{% endblock content %}
