{% extends "main/study_bs5.html" %}
{% load describe i18n static %}


{% block js_css %}
  {{ block.super }}
  <script src="{% static "bs5/overview.js" %}"></script>
{% endblock js_css %}


{% block status %}
  {{ block.super }}
  {% if writable %}
    {% if edit_study.name.errors %}
    <div class="alert alert-danger alert-dismissible my-2" role="alert">
      <p>{{ edit_study.name.errors.as_text }}</p>
      <button
        class="btn-close"
        type="button"
        aria-label="{% translate "Close" %}"
        data-bs-dismiss="alert"
      ></button>
    </div>
    {% endif %}
    {% if edit_study.non_field_errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <p>{{ edit_study.non_field_errors.as_text }}</p>
      <button
        class="btn-close"
        type="button"
        aria-label="{% translate "Close" %}"
        data-bs-dismiss="alert"
      ></button>
    </div>
    {% endif %}
    {% include "main/include/dropzone_messages_bs5.html" %}
  {% endif %}
{% endblock status %}


{% block content %}
  {{ block.super }}

<div class="row mb-3">
  <div class="col-9" id="edd-studyinfo-readonly">
    {% include "main/include/studyinfo-readonly.html" %}
  </div>
  {% if writable %}
  <div class="col-9 d-none" id="edd-studyinfo-editable">
    {% include "main/include/studyinfo-editable.html" %}
  </div>
  <div class="col-auto ms-auto">
    <button
      class="btn btn-outline-secondary btn-large"
      id="edd-studyinfo-edit"
      title="{% translate "Edit Study Details" %}"
      type="button"
    >
      <i class="fas fa-pencil"></i>
      {% translate "Edit" %}
    </button>
    <a
      class="btn btn-primary btn-large"
      href="{% url "main:load:start" slug=study.slug %}"
    >
      <i class="fas fa-cloud-upload-alt"></i>
      {% translate "Import Data" %}
    </a>
  </div>
  {% endif %}
</div>

{% if writable %}
<hr/>
<form
  action="{% url "main:setup:start" slug=study.slug %}"
  class="mb-3 text-center"
  id="experimentSetupDrop"
  method="POST"
>
  {% csrf_token %}
  <div class="dz-message d-none" data-dz-message="">
    <p class="my-2">
      {% translate "Drop file here to upload." %}
    </p>
    <a
      class="btn btn-outline-secondary"
      href="{% url "main:lines" slug=study.slug %}"
      id="manualButton"
    >
      <span class="fas fa-pencil-alt"></span>
      {% translate "Enter Lines Manually" %}
    </a>
  </div>
</form>
{% endif %}

<details class="mb-3" open>
  <summary>{% translate "Permissions" %}</summary>
  <div class="row">
    <div class="col-md-6" id="edd-studyperm-readonly">
      {% include "main/include/studyperm-readonly.html" %}
    </div>
  </div>
  {% if writable %}
  <div class="row">
    <div class="col-md-6 d-none" id="edd-studyperm-editable">
      {% include "main/include/studyperm-editable.html" %}
    </div>
  </div>
  {% endif %}
</details>

<details class="mb-3">
  <summary>
    {% blocktranslate with count=study.attachments|length %}
    Attachments ({{ count }})
    {% endblocktranslate %}
  </summary>
  <div id="edd-attachments">
    {% include "main/include/attachments.html" %}
  </div>
  {% if writable %}
  <div id="edd-add-attachment">
    {% include "main/include/add-attachment.html" %}
  </div>
  {% endif %}
  </div>
</details>

<details class="mb-3">
  <summary>
    {% blocktranslate with count=study.comment_list|length %}
    <span>Comments ({{ count }})</span>
    {% endblocktranslate %}
  </summary>
  <div id="edd-comments">
    {% include "main/include/comments.html" %}
  </div>
  {% if writable %}
  <div id="edd-add-comment">
    {% include "main/include/add-comment.html" %}
  </div>
  {% endif %}
  </div>
</details>

{% if writable %}
<details class="mb-3">
  <summary>
    <span>{% translate "Manage Study" %}</span>
  </summary>
  <form
    action="{% url "main:delete_study" slug=study.slug %}"
    method="POST"
  >
    {% csrf_token %}
    <input type="hidden" name="studyId" value="{{ object.id }}" />
    <button
      class="btn btn-danger"
      name="action"
      type="submit"
      value="study_delete"
    >
      {% translate "Delete Study" %}
    </button>
  </form>
</details>
{% endif %}

{% endblock content %}
