{% extends "main/study_bs5.html" %}
{% load describe %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <script src="{% static 'bs5/overview.js' %}"></script>
{% endblock js_css %}


{% block content %}
  {{ block.super }}

{% if writable %}
{% include 'main/include/dropzone_messages_bs5.html' %}
{% endif %}

<div class="row mb-3">
  <div class="col-9" id="edd-studyinfo-readonly">
    {% include 'main/include/studyinfo-readonly.html' %}
  </div>
  {% if writable %}
  <div class="col-9 d-none" id="edd-studyinfo-editable">
    {% include 'main/include/studyinfo-editable.html' %}
  </div>
  <div class="col-auto ms-auto">
    <button
      class="btn btn-outline-secondary btn-large"
      id="edd-studyinfo-edit"
      title="{% translate 'Edit Study Details' %}"
      type="button"
    >
      <i class="fas fa-pencil"></i>
      {% translate "Edit" %}
    </button>
    <a
      class="btn btn-primary btn-large"
      href="{% url 'main:load:wizard' slug=study.slug as wizard_url %}"
    >
      <i class="fas fa-cloud-upload-alt"></i>
      {% translate "Import Data" %}
    </a>
  </div>
  {% endif %}
</div>

{% if writable %}
<hr/>
<div class="row mb-3">
  <div class="col-2">
    <p>
      {% blocktranslate trimmed %}
        An experiment description file is an Excel file that describes your experiment: which
        strains you are using (part ID from ICE), how they are being cultured (lines and
        metadata), the procedure for processing samples (protocol), and which samples are being
        taken (assays).
      {% endblocktranslate %}
    </p>
    <p>
      <a
        href="{% url 'main:describe:help' slug=study.slug %}#column_options"
        target="_blank"
      >
        {% translate 'Click here for column options' %}
      </a>
    </p>
  </div>
  <div class="col text-center">
    <div
      data-url="{% url 'main:describe:describe' slug=study.slug %}"
      id="experimentDescDropZone"
    >
      <div class="dz-message d-none" data-dz-message="">
        <div class="my-2">
          {% translate 'Drop file here to upload.' %}
          <a
            class="btn btn-info btn-sm"
            href="{% url 'main:describe:help' slug=study.slug %}"
            id="helpExperimentDescription"
            target="_blank"
            title="{% translate 'Click for help on Experiment Description files' %}"
          >
            {% translate 'Help' %}
          </a>
        </div>
        <div class="my-2">
          <img
            alt="{% translate 'Example description file preview' %}"
            id="describeExampleImage"
            src="{% describe_preview_img %}"
          />
        </div>
        <div class="my-2">
          <a
            class="btn btn-sm btn-outline-secondary"
            href="{% describe_example_file %}"
          >
            <i class="fas fa-download"></i>
            {% translate 'Example File' %}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="d-grid gap-2">
      <a
        class="btn btn-outline-secondary"
        href="{% url 'main:describe:describe' slug=study.slug %}"
      >
        <span class="fas fa-random"></span>
        {% translate "Add Line Combo's" %}
      </a>
      <a
        class="btn btn-outline-secondary"
        href="{% url 'main:lines' slug=study.slug %}"
        id="manualButton"
      >
        <span class="fas fa-pencil-alt"></span>
        {% translate 'Enter Manually' %}
      </a>
      <button
        class="btn btn-outline-secondary dz-browse-link d-none"
        id="browseButton"
        type="button"
      >
        <span class="fas fa-folder-open"></span>
        {% translate "Browse for file" %}
      </button>
    </div>
  </div>
</div>
{% endif %}

<details class="mb-3">
  <summary>{% translate "Permissions" %}</summary>
  <div class="row">
    <div class="col-md-6" id="edd-studyperm-readonly">
      {% include "main/include/studyperm-readonly.html" %}
    </div>
    {% if writable %}
    <div class="col-md-6 d-none" id="edd-studyperm-editable">
      {% include "main/include/studyperm-editable.html" %}
    </div>
    {% endif %}
  </div>
</details>

<details class="mb-3">
  <summary>
    {% blocktranslate with count=study.attachments|length %}
    Attachments ({{ count }})
    {% endblocktranslate %}
  </summary>
  <div id="edd-attachments">
    {% include "main/include/attachments.html" %}
  </div>
  {% if writable %}
  <div id="edd-add-attachment">
    {% include "main/include/add-attachment.html" %}
  </div>
  {% endif %}
  </div>
</details>

<details class="mb-3">
  <summary>
    {% blocktranslate with count=study.comment_list|length %}
    <span>Comments ({{ count }})</span>
    {% endblocktranslate %}
  </summary>
  <div id="edd-comments">
    {% include "main/include/comments.html" %}
  </div>
  {% if writable %}
  <div id="edd-add-comment">
    {% include "main/include/add-comment.html" %}
  </div>
  {% endif %}
  </div>
</details>

{% if writable %}
<details class="mb-3">
  <summary>
    <span>{% translate "Manage Study" %}</span>
  </summary>
  <form
    action="{% url 'main:delete_study' slug=study.slug %}"
    method="POST"
  >
    {% csrf_token %}
    <input type="hidden" name="studyId" value="{{ object.id }}" />
    <button
      class="btn btn-danger"
      name="action"
      type="submit"
      value="study_delete"
    >
      {% translate "Delete Study" %}
    </button>
  </form>
</details>
{% endif %}

{% endblock content %}
