#wizard {
    margin-bottom: 80px;
}
#wizard aside {
    color: grey;
    font-size: smaller;
}
#wizard aside > p {
    padding: 0;
}
#wizard .multiSelect {
    margin-left: 15px;
}
#wizard .stepDiv {
    margin-bottom: 30px;
}
#wizard div > input[type="checkbox"] {
    margin: 5px 15px;
}
#wizard details {
    margin: 11px;
}
#wizard details > summary {
    margin: 5px;
}
#wizard .summary-display {
    margin: 10px 0 20px 0;
}
#wizard .summary-display > span {
    margin-right: 20px;
}

/*
 * Clean up default styles from StepZilla
 */
.progtrckr {
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 10px;
}
ol.progtrckr li.progtrckr-doing {
    font-weight: bold;
    border-bottom: 4px solid darkgrey;
}
/* Override default style for current step...draws less focus than completed steps */
ol.progtrckr li.progtrckr-doing:before {
    background-color: darkgrey;
    font-weight: bold;
}
/* Add styles for a failed step, following the pattern of StepZilla's styles */
ol.progtrckr li.progtrckr-failed {
    color: black;
    font-weight: bold;
    border-bottom: 4px solid red;
}
ol.progtrckr li.progtrckr-failed:before {
    content: "X";
    color: black;
    background-color: red;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}
/* Add styles for a warned / incomplete step, following the pattern of StepZilla's styles */
ol.progtrckr li.progtrckr-warned {
    color: black;
    font-weight: bold;
    border-bottom: 4px solid orange;
}
ol.progtrckr li.progtrckr-warned:before {
    content: "!";
    color: black;
    background-color: orange;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}
