.helpButton {
    background-size: contain;
}

a.helpButton .glyphicon {
    font-size: 27px;
}

/* add padding to leave space for React Stepzilla's floated navigation buttons */
#importWizard {
    margin-bottom: 80px;
}

#importWizard > label {
    margin-left: 4px;
}

.contextBreadcrumbs {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#importWizard .step1Section {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#importWizard .step1Section label {
    margin-left: 5px;
}

.emphasizeErrorSubject,
.contextSectionHeader {
    text-decoration: underline;
}

.contextSectionHeader {
    margin-right: 5px;
}

.alertMessageContent {
    margin-left: 10px;
    margin-top: 10px;
}

.alertMessageContent div {
    margin-top: 8px;
}

.emphasizeErrorSubject {
    text-decoration: underline;
}

.alertSubcategoryDelim,
.alertSubcategory {
    margin-left: 5px;
}

.import2SectionHead h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    display: inline-block;
}

.import2SectionHead .helpButton {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#advancedLink,
#emailWhenComplete {
    margin-left: 10px;
}

#advancedDiv {
    margin-top: 15px;
}

#advancedControls {
    margin-top: 10px;
    margin-left: 20px;
}

.multiSelect {
    margin-left: 15px;
}

.toolTipContent {
    width: 250px;
    text-align: left;
    line-height: 1.3;
    pointer-events: auto;
}

.toolTipContent:hover {
    visibility: visible;
}

.prototype {
    color: red;
    font-style: italic;
}

#prototype-status-div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}

#prototype-status-div li {
    margin-left: 20px;
}

.stepDiv {
    margin-bottom: 30px;
}

.step2-wait {
    margin: 0px 2px 0px 2px;
    padding: 0px 2px 0px 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* Add dropzone styling to clarify click-and-drag use */
#step2 .dz-drag-hover {
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.3);
}

#step2 .dz-drag-reject {
    border-width: 2px;
    /* work around an apparent react dropzone bug
       TODO: uncomment and retest original behavior during a future version bump
    */
    border-color: rgba(0, 0, 0, 0.3);
    /* border-color: rgb(255, 0, 0); */
    cursor: not-allowed;
}

.bg-task-callback-btn {
    margin-top: 10px;
    margin-left: 20px;
}

/* Clean up default styles from StepZilla */
.progtrckr {
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 10px;
}

ol.progtrckr li.progtrckr-doing {
    font-weight: bold;
    border-bottom: 4px solid darkgrey;
}

/* Override default style for current step...draws less focus than completed steps */
ol.progtrckr li.progtrckr-doing:before {
    background-color: darkgrey;
    font-weight: bold;
}

/* Add styles for a failed step, following the pattern of StepZilla's styles */
ol.progtrckr li.progtrckr-failed {
    color: black;
    font-weight: bold;
    border-bottom: 4px solid red;
}

ol.progtrckr li.progtrckr-failed:before {
    content: "X";
    color: black;
    background-color: red;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}

/* Add styles for a warned / incomplete step, following the pattern of StepZilla's styles */
ol.progtrckr li.progtrckr-warned {
    color: black;
    font-weight: bold;
    border-bottom: 4px solid orange;
}

ol.progtrckr li.progtrckr-warned:before {
    content: "!";
    color: black;
    background-color: orange;
    width: 1.2em;
    line-height: 1.2em;
    border-radius: 1.2em;
}
