{% extends "edd/campaign/base.html" %}
{% load i18n %}
{% load static %}


{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dist/CampaignIndex.js' %}"></script>
{% endblock js_css %}


{% block body_title %}
  {{ block.super }} &ndash; {% trans 'Campaign Index' context 'heading' %}
{% endblock body_title %}


{% block content %}
  {{ block.super }}
  {% if can_create %}
    <button id="addCampaignButton"
        class="actionButton primary larger"
        style="float: right;"
        title="{% trans 'Add a new Campaign' context 'button tooltip' %}">
      {% trans 'New Campaign' context 'button label' %}
    </button>
    <div id="addCampaignModal"
        class="off"
        title="{% trans 'Add New Campaign' context 'modal title' %}">
      <form action="{% url 'campaign:index' %}" class="edd-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans 'Create' %}</button>
      </form>
    </div>
  {% endif %}
  {% include "edd/campaign/page_controls.html" %}
  <table class="dataTable table-striped">
    <thead>
      <tr>
        <td>{% trans 'Name' context 'campaign table heading' %}</td>
        <td>{% trans 'Description' context 'campaign table heading' %}</td>
      </tr>
    </thead>
    <tbody>
      {% for campaign in object_list %}
        <tr>
          <td>
            <a href="{% url 'campaign:detail' slug=campaign.slug %}">
              {{ campaign.name }}
            </a>
          </td>
          <td>
            <span title="{{ campaign.description }}">
              {{ campaign.description|truncatechars_html:280 }}
            </span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "edd/campaign/page_controls.html" %}
{% endblock content %}
