{% load i18n %}

{% if is_paginated %}
  <div class="paging_controls">
    {% if page_first %}
      <a href="{{ page_first }}">{% trans 'First' %}</a>
    {% endif %}
    {% if page_previous %}
      <a href="{{ page_previous }}">{% trans 'Previous' %}</a>
    {% endif %}
    <span>
      {% blocktrans with page_num=page_obj.number total=paginator.num_pages %}
      Page {{ page_num }} of {{ total }}
      {% endblocktrans %}
    </span>
    {% if page_next %}
      <a href="{{ page_next }}">{% trans 'Next' %}</a>
    {% endif %}
    {% if page_last %}
      <a href="{{ page_last }}">{% trans 'Last' %}</a>
    {% endif %}
  </div>
{% endif %}
