{% load i18n %}

{% if is_paginated %}
  <div class="paging_controls">
    {% if page_first %}
      <a href="{{ page_first }}">{% translate 'First' %}</a>
    {% endif %}
    {% if page_previous %}
      <a href="{{ page_previous }}">{% translate 'Previous' %}</a>
    {% endif %}
    <span>
      {% blocktranslate with page_num=page_obj.number total=paginator.num_pages %}
      Page {{ page_num }} of {{ total }}
      {% endblocktranslate %}
    </span>
    {% if page_next %}
      <a href="{{ page_next }}">{% translate 'Next' %}</a>
    {% endif %}
    {% if page_last %}
      <a href="{{ page_last }}">{% translate 'Last' %}</a>
    {% endif %}
  </div>
{% endif %}
