.helpButton {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-left: auto;
}

.errorMessageContent {
    margin-left: 10px;
    margin-top: 10px;
}

.contextBreadcrumbs {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.emphasizeErrorSubject, .contextSectionHeader {
    text-decoration: underline;
}

#importWizard H2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.errorMessageContent {
    margin-left: 10px;
    margin-top: 10px;
}

.emphasizeErrorSubject {
    text-decoration: underline;
}

.import2SectionHead {
    display: flex;
    flex-grow: 0;
}

.import2SectionHead .helpButton {
    flex-grow: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.import2SectionHead h2 {
    flex-grow: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.prototype {
    color: red;
    font-style: italic;
}

#prototype-status-div {
    /*width: 100%; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
}

#prototype-status-div li {
    margin-left: 20px;
}

.stepDiv {
    margin-bottom: 30px;
}

.step2-wait {
    margin:0px 2px 0px 2px;
    padding:0px 2px 0px 2px;
    display:inline-block;
    width:16px;
    height:16px;
}

/* Clean up default styles from StepZilla */
.progtrckr {
    text-align: center;
    padding-bottom: 16px;
}
