networks:
  icenet: {}
services:
  http:
    environment:
      ICE_NAME: edd
      ICE_URL: http://ice:8080/
    networks:
      - icenet
  ice:
    environment:
      VIRTUAL_STATIC: "true"
    healthcheck:
      test:
        - CMD
        - curl
        - --fail
        - -ISs
        - http://localhost:8080/
      interval: 15s
      start_period: 120s
      timeout: 5s
      retries: 5
    image: jbei/ice:latest
    networks:
      - icenet
    volumes:
      - ice_index:/var/lib/ice/lucene
      - ice_local:/usr/local/tomcat/data
  ice_db:
    environment:
      POSTGRES_DB: ice
      POSTGRES_USER: iceuser
    image: library/postgres:11
    networks:
      - icenet
    volumes:
      - ice_pg:/var/lib/postgresql/data
  websocket:
    environment:
      ICE_NAME: edd
      ICE_URL: http://ice:8080/
    networks:
      - icenet
  worker:
    environment:
      ICE_NAME: edd
      ICE_URL: http://ice:8080/
    networks:
      - icenet
volumes:
  ice_index: {}
  ice_local: {}
  ice_pg: {}
