{% load static %}
{% load i18n %}
{% comment %}
<!--
Template include file for displaying table of attachments
TODO deleting a file may be a little too easy; should we require confirmation?
-->
{% endcomment %}
<table class="table table-condensed table-striped" id="attach-table">
  {% if study.attachments %}
  <thead>
    <tr>
      <th>{% translate 'Filename' %}</th>
      <th>{% translate 'Description' %}</th>
      <th class="text-right">{% translate 'Size' %}</th>
      <th class="text-center">{% translate 'Added By' %}</th>
      <th>{% translate 'Date Added' %}</th>
      {% if writable %}
      <th class="text-right">{% translate 'Delete' %}</th>
      {% endif %}
    </tr>
  </thead>
  {% endif %}
  <tbody>
    {% for a in study.attachments %}
    {% with slug=study.slug urlname=a.filename|urlencode %}
    {% url 'main:attachment' slug=slug file_id=a.id file_name=urlname as filelink %}
    <tr>
      <td class="nowrap">
        <img
          class="attach-icon"
          src="{% static 'main/images/' %}{{ a.icon }}"/
        >
        <a href="{{ filelink }}">{{ a.filename }}</a>
      </td>
      <td>{{ a.description }}</td>
      <td class="text-right">{{ a.file_size|filesizeformat }}</td>
      <td class="text-center">{{ a.user_initials }}</td>
      <td>{{ a.created.format_timestamp }}</td>
      {% if writable %}
      <td class="text-right">
        <form action="{{ filelink }}" method="POST">
          {% csrf_token %}
          {% blocktranslate trimmed with name=a.filename asvar delete_label %}
          Delete {{ name }}
          {% endblocktranslate %}
          <button
            class="btn btn-outline-danger btn-sm"
            type="submit"
            aria-label="{{ delete_label }}"
          >
            <span class="fas fa-trash-can" aria-hidden="true"></span>
          </button>
        </form>
      </td>
      {% endif %}
    </tr>
    {% endwith %}
    {% endfor %}
  </tbody>
</table>
