{% load i18n %}

<div id="linesAdded" class="alert alert-success alert-dismissible d-none my-2" role="alert">
  <button
    class="btn-close"
    type="button"
    aria-label="{% translate 'Close' %}"
    data-bs-dismiss="alert"
  ></button>
</div>
<div id="dismissAll" class="d-none my-2">
  <button class="btn btn-warning">
    {% translate 'Dismiss Messages' %}
  </button>
</div>
<div id="acceptWarnings" class="d-none my-2">
  <button type="button" class="btn btn-primary">
    {% translate 'Acknowledge Warnings' %}
  </button>
</div>
<div id="alert_placeholder">
  <div class="alert alert-danger alert-dismissible d-none my-2">
    <h4></h4>
    <button
      class="btn-close"
      type="button"
      aria-label="{% translate 'Close' %}"
      data-bs-dismiss="alert"
    ></button>
  </div>
  <div class="alert alert-warning alert-dismissible d-none my-2">
    <h4></h4>
    <button
      class="btn-close"
      type="button"
      aria-label="{% translate 'Close' %}"
      data-bs-dismiss="alert"
    ></button>
  </div>
  <div id="iceError" role="alert" class="alert alert-warning alert-dismissible d-none my-2">
    <h4></h4>
    <button type="button" class="btn btn-warning omitStrains">
      {% translate 'Omit Strains' %}
    </button>
    <button type="button" class="btn btn-danger noOmitStrains">
      {% translate 'Cancel' %}
    </button>
    <button
      class="btn-close"
      type="button"
      aria-label="{% translate 'Close' %}"
      data-bs-dismiss="alert"
    ></button>
  </div>
  <div class="alert alert-danger alert-dismissible d-none my-2" id="edd-500">
    <h4>{% translate "EDD encountered an unknown error" %}</h4>
    <p>
      {% blocktranslate %}
      EDD had an unexpected error processing your submission. Please try again
      later, or contact support.
      {% endblocktranslate %}
    </p>
    <button
      class="btn-close"
      type="button"
      aria-label="{% translate 'Close' %}"
      data-bs-dismiss="alert"
    ></button>
  </div>
  <div class="alert alert-danger alert-dismissible d-none my-2" id="edd-504">
    <h4>{% translate "EDD failed to respond" %}</h4>
    <p>
      {% blocktranslate %}
      EDD is taking too long to respond to your submission. Please reload the page
      and try again.
      {% endblocktranslate %}
    </p>
    <button
      class="btn-close"
      type="button"
      aria-label="{% translate 'Close' %}"
      data-bs-dismiss="alert"
    ></button>
  </div>
</div>
