<!doctype html>
<html lang="en">
<head>
<title>Registration</title>
</head>
<body>
<p>You (or someone pretending to be you) have asked to register an account at the Experiment Data
    Depot. If this wasn't you, please ignore this email and your address will be removed from our
    records.</p>

<p>To activate this account, please click the following link within the
next {{ expiration_days }} days:</p>

<p><a href="https://edd.jbei.org/{% url 'registration_activate' activation_key %}">
    https://edd.jbei.org/{% url 'registration_activate' activation_key %}</a></p>

</body>
</html>