{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/login.css' %}" />
{% endblock js_css %}

{% block status %}
    {% if form.errors %}
    <p class="bad">Registration failed.</p>
    {% endif %}
{% endblock status %}

{% block content %}
    <p>Are you an LBL Employee or Affiliate (i.e. you have an @lbl.gov email)? If so, you do not
        need to register, and can <a href="{% url 'auth:login' %}">Log in</a> with your LBL LDAP
        username and password.</p>
    <form class="register_form" method="POST" action=".">
        {% csrf_token %}
        <fieldset>
            <legend>Register</legend>
            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
        </fieldset>
        <button type="submit">Register</button>
    </form>
{% endblock content %}
