{% extends "edd_bs5.html" %}
{% load i18n socialaccount static %}


{% block head_title %}
  {% firstof user.profile.display_name user.username as name %}
  {% blocktranslate trimmed with name=name %}
  Profile: {{ name }}
  {% endblocktranslate %}
  &ndash; {{ block.super }}
{% endblock head_title %}


{% block body_title %}
  {% firstof user.profile.display_name user.username %}
{% endblock body_title %}


{% block content %}
<div class="row my-3 justify-content-lg-center">
  <div class="col-lg-4">
    <h2>{% translate "User Information" %}</h2>
    {% translate "<i>Blank</i>" as blank_value %}
    <dl>
      <dt>{% translate "Login ID" %}</dt>
      <dd>{{ profile_user.username }}</dd>
      <dt>{% translate "Display Name" %}</dt>
      <dd>{{ profile.display_name|default:blank_value }}</dd>
      <dt>{% translate "Initials" %}</dt>
      <dd>{{ profile.initials|default:blank_value }}</dd>
    </dl>
  </div>
  <div class="col-lg-4">
    <h2>{% translate "Affiliations" %}</h2>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{% translate "Institution" %}</th>
          <th>{% translate "Identifier" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for iid in institutions %}
        <tr>
          <td>{{ iid.sort_key }}</td>
          <td>{{ iid.institution.institution_name }}</td>
          <td>{{ iid.identifier }}</td>
        </tr>
        {% empty %}
        <tr>
          <td class="text-center" colspan="3">
            <i>{% translate "No Known Affiliations" %}</i>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if user == profile_user %}
<div class="row my-3 justify-content-lg-center">
  <div class="col-lg-8">
    <a
      class="btn btn-secondary"
      href="{% url 'account_change_password' %}"
    >{% translate "Change Password" %}</a>
    <a
      class="btn btn-secondary"
      href="{% url 'account_email' %}"
    >{% translate "Manage Email" %}</a>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <a
      class="btn btn-secondary"
      href="{% url 'socialaccount_connections' %}"
    >{% translate "Manage Third-party Logins" %}</a>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock content %}
