{% extends "edd_bs5.html" %}
{% load i18n static %}


{% block head_title %}
  {% firstof profile.display_name profile_user.username as name %}
  {% blocktranslate trimmed with name=name %}
  Profile: {{ name }}
  {% endblocktranslate %}
  &ndash; {{ block.super }}
{% endblock head_title %}


{% block body_title %}
  {% firstof profile.display_name profile_user.username %}
{% endblock body_title %}


{% block content %}
<div class="row my-3 justify-content-lg-center">
  <div class="col-lg-4" id="edd-profile-userinfo">
    {% include "edd/profile/profile-userinfo.html" %}
  </div>
  <div class="col-lg-4" id="edd-profile-affiliates">
    {% include "edd/profile/profile-affiliates.html" %}
  </div>
</div>
{% if user == profile_user %}
<div class="row my-3 justify-content-lg-center">
  <div class="col-lg-8">
    <a
      class="btn btn-secondary"
      href="{% url "account_change_password" %}"
    >{% translate "Change Password" %}</a>
    <a
      class="btn btn-secondary"
      href="{% url "account_email" %}"
    >{% translate "Manage Email" %}</a>
    <a
      class="btn btn-primary"
      href="{% url "profile:edit" %}"
    >{% translate "Edit Bio" %}</a>
  </div>
</div>
<div class="row my-3 justify-content-lg-center">
  <div class="col-lg-8" id="edd-profile-applinks">
    {% include "edd/profile/profile-applinks.html" %}
  </div>
</div>
{% endif %}
{% endblock content %}
