{% load i18n %}

<details>
  <summary>
    {% blocktranslate with measurements=selection.measurements|length assays=selection.assays|length lines=selection.lines|length %}
      {{ measurements }} Measurements in {{ assays }} Assays in {{ lines }} Lines Selected
    {% endblocktranslate %}
  </summary>
  <p>
    {% blocktranslate %}
    Displaying details on selected lines is causing performance issues in EDD.
    Contact the EDD administrators if including details here is important to
    your work.
    {% endblocktranslate %}
  </p>
</details>
