{% extends "edd_base.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  {{ od_select_form.media }}
{% endblock js_css %}


{% block head_title %}
  {% blocktranslate with name=primary_study.name count count=selection.studies|length %}
  SBML Export for {{ name }}
  {% plural %}
  SBML Export for {{ count }} Studies
  {% endblocktranslate %}
{% endblock head_title %}


{% block body_title %}
  {% url 'main:detail' slug=primary_study.slug as study_url %}
  {% blocktranslate with name=primary_study.name url=study_url count count=selection.studies|length %}
  SBML Export for <a href="{{ url }}">{{ name }}</a>
  {% plural %}
  SBML Export for {{ count }} Studies, including <a href="{{ url }}">{{ name }}</a>
  {% endblocktranslate %}
{% endblock body_title %}


{% block status %}
  {% if error_message %}
    <h3 class="bad">{{ error_message }}</h3>
  {% endif %}
  {{ block.super }}
{% endblock status %}


{% block content %}
  <!-- Line info section -->
  {% include "edd/export/linetable.html" %}

  <form method="post" id="exportForm" action="{% url 'export:sbml' %}">
    {% csrf_token %}
    <!-- carry over selection -->
    {{ select_form.as_p }}
    <!-- Export settings section -->
    <div class="pageSection" style="margin:10px;" id="allstatusmain">
      <!-- Show warnings count, if applicable -->
      <div class="sectionHead">{% translate "Export Settings:" %}
        {% if sbml_warnings|length > 0 %}
          <span class="warn2">
            {% blocktranslate count counter=sbml_warnings|length %}
            {{ counter }} warning
            {% plural %}
            {{ counter }} warnings
            {% endblocktranslate %}
          </span>
        {% endif %}
      </div>
      <!--
      Step 1: Choose template
      -->
      {% with warnings_list=export_settings_form.sbml_warnings %}
      <details
        {% if export_settings_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 1: Select the SBML template file to use for export" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep0main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          <!-- form method of selecting template -->
          {{ export_settings_form.as_p }}
        </div>
      </details>
      {% endwith %}<!-- #step0 -->
      <!--
      Step 2: Optical Density (OD600)
      -->
      {% with warnings_list=od_select_form.sbml_warnings %}
      <details
        {% if od_select_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 2: Find OD Data" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep1main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          <!-- measurement selection here -->
          {% with section_form=od_select_form %}
          {% include 'edd/export/measurement_section.html' %}
          {% endwith %}
        </div>
      </details>
      {% endwith %}<!-- #step1 -->
      <!--
      Step 3 (HPLC)
      This is more complicated than the previous section, because it is designed to handle multiple
      protocols, and there is an additional "input" checkbox for each measurement.
      -->
      {% with warnings_list=hplc_select_form.sbml_warnings %}
      <details
        {% if hplc_select_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 3: Select HPLC-like Measurements, and inputs" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep2main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=hplc_select_form %}
          {% include 'edd/export/measurement_section.html' %}
          {% endwith %}
        </div>
      </details>
      {% endwith %}<!-- #step2 -->
      <!--
      Step 4 (LC-MS)
      (This is almost identical to the previous section for HPLC protocols)
      -->
      {% with warnings_list=ms_select_form.sbml_warnings %}
      <details
        {% if ms_select_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 4: Select LCMS-like Measurements, and inputs" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep3main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=ms_select_form %}
          {% include 'edd/export/measurement_section.html' %}
          {% endwith %}
        </div>
      </details>
      {% endwith %}<!-- #step3 -->
      <!--
      Step 5 (RAMOS O2/CO2)
      -->
      {% with warnings_list=ramos_select_form.sbml_warnings %}
      <details
        {% if ramos_select_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 5: Select RAMOS O2/CO2 Measurements" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep4main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=ramos_select_form %}
          {% include 'edd/export/measurement_section.html' %}
          {% endwith %}
        </div>
      </details>
      {% endwith %}<!-- #step4 -->
      <!--
      Step 6: transcriptomics and proteomics
      -->
      {% with warnings_list=omics_select_form.sbml_warnings %}
      <details
        {% if omics_select_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 6: Select Transcriptomics/Proteomics Measurements" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep5main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=omics_select_form %}
          {% include 'edd/export/measurement_section.html' %}
          {% endwith %}
        </div>
      </details>
      {% endwith %}<!-- #step5 -->
      <!--
      Step 7
      -->
      {% with warnings_list=match_form.sbml_warnings %}
      <details
        {% if match_form.is_open %}open="open"{% endif %}
      >
        <summary>
          {% translate "Step 7: Pre-parse SBML model and match exchanges and species to measurements" %}
          {% include 'edd/export/warningnotice.html' %}
        </summary>
        <div class="sectionContent" id="statusstep6main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {{ match_form.non_field_errors }}
          <div class="rounded-border" style="display: inline-block;">
            <table class="dataTable" cellspacing="0">
              <thead>
                <tr>
                  <td>{% translate "Measurement Type" %}</td>
                  <td>{% translate "Species in model" %}</td>
                  <td>{% translate "Reactant / Exchange in model" %}</td>
                </tr>
              </thead>
              <tbody>
              {% for field in match_form %}
                {% if field.errors %}
                <tr>
                  <td colspan="3">{{ field.errors }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td>{{ field.label }}</td>
                  {# The below is a little gross, one TD used for two cells #}
                  {# SbmlMatchReactionWidget outputs sub-widgets joined by close/open TD tags #}
                  {# Framework does not provide a nicer way to do custom widget layouts #}
                  <td>{{ field }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div><!-- #statusstep6main -->
      </details>
      {% endwith %}<!-- #step6 -->
      <!--
      END OF EXPORT SETTINGS
      -->
      <div class="sectionContent sectionRight">
        <button type="submit" name="action" value="update">{% translate "Update Settings" %}</button>
      </div>
    </div><!-- #allstatusmain -->

    {% if time_form %}
    {% with warnings_list=time_form.sbml_warnings %}
    <div class="pageSection" style="margin:10px;" id="timeselectmain">
      <div class="sectionHead">
        <span>{% translate "Export SBML at timepoint" %}</span>
        {% include 'edd/export/warningnotice.html' %}
      </div>
      <div class="sectionContent">
        {% for message in warnings_list %}
        <div class="warn2">{{ message }}</div>
        {% endfor %}
        <!-- Form to select time for export -->
        {{ time_form.as_p }}
      </div>
      <div class="sectionContent sectionRight">
        <button type="submit" name="action" value="download">{% translate "Download SBML" %}</button>
      </div>
    </div>
    {% endwith %}
    {% endif %}

  </form><!-- #exportForm -->
{% endblock content %}
