
{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}

<script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/EDDEditing.js' %}"></script>
<script type="text/javascript">
//<![CDATA[
EDDData = { }; // Declaring the object for later use

EDDData.currentUserID = {{ user.id }};

function OnEdit (obj, strain_id) {
  var strain = EDDData.Strains[strain_id];
  EDDEdit.edit(obj, {
    "strainlongname" : strain.description,
    "strainidtoedit" : strain_id,
    "sdisabled" : strain.disabled,
    "strainname" : strain.name,
    "strainurl" : strain.registry_url
  });
};
function disclose() {
  $(this).closest('.disclose').toggleClass('discloseHide');
  return false;
}
$(window).load(function () {
    $('.disclose').find('.discloseLink').on('click', disclose);
    jQuery.ajax("/data/strains", {
        "success" : function (data, textStatus, response) {
          console.log(data.EDDData);
            jQuery.extend(EDDData, data.EDDData);
            EDDAutoComplete.initializeAllPageElements();
        }
    }).fail(function (x, s, e) {
        alert(s);
    });
});

//]]>
</script>
<script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Autocomplete.js' %}"></script>

<style>
td {
  vertical-align: bottom;
  text-align: bottom;
}
</style>
{% endblock js_css %}

{% block head_title %}
Strains
{% endblock head_title %}

{% block body_title %}
Strains
{% endblock body_title %}

{% block content %}

{% include "main/include_messages.html" %}

<div id="helpDocMain" class="off"
     style="width:100%; margin:0px 0px 5px 0px; padding:0px 3px 3px 3px;">
  <div style="font-size:0.9em;">
    <p>A Strain entry consists of three elements:</p>
    <ol>
      <li>A short convenient label</li>
      <li>A longer description of the components</li>
      <li>A list of links to pages in the Registry for the components</li>
    </ol>
    <p>A few examples of short labels:</p>
    <ul style="color:green;">
      <li>A1-1</li>
      <li>A3-10</li>
      <li>B1</li>
      <li>B2</li>
      <li>C01</li>
    </ul>
    <p>A few examples of descriptions:</p>
    <ul style="color:green;">
      <li>DH1 + pkg01 + pkg02</li>
      <li>MG1655 + ptrc99a-nudb</li>
      <li>JM109 + pBbA5c-RFP + pBbE1k-GFP</li>
    </ul>
    <p>An explanation of the nomenclature in descriptions:</p>
    <p>Example: <b>pBbA5c</b> (plasmid backbone)</p>
    <ul>
      <li><b>pBb</b> = biobrick prefix</li>
      <li><b>A</b> = p15A origin of replication (how many copies of the plasmid.  E = high, A = medium, S = low, B = broad host range)</li>
      <li><b>5</b> = lacUV5 promoter (how strongly the genes are expressed.  1 = pTrc promoter = strong.  5 = lacUV5 promoter = weak)</li>
      <li><b>c</b> = chloramphenicol antibiotic resistance (k = kanamycin resistance, a = ampicillin resistance, etc)</li>
    </ul>
    <p>More examples:</P>
    <ul>
      <li><b>pBbA5c-RFP</b> (medium copy, lacUV5 promoter, chlor resistance.  Contains RFP gene)</li>
      <li><b>pBbE1k-NudB</b> (high copy, pTrc promoter, kanamycin resistance.  Contains NudB phosphatase gene)</li>
    </ul>
    <p>An example of a longer description that is a bit too thorough:</p>
    <ul style="color:red;">
      <li>pBbA5c - atoBo - HMGSco - HMGRco - MK - PMK - PMD - idi - ispA</li>
    </ul>
  </div>
  <p>...
  <a href="https://edd.jbei.org/Documentation/index.html">Additional Help</a>
  ...
</div>

<div class="pageSection disclose discloseHide" id="editStrainHide">
  <div class="sectionHead">
    <span class="discloseLink">Add A New Strain</span>
  </div>
  <div class="discloseBody sectionContent">
    <form method="post" action="/admin/strains">
      {% csrf_token %}
      <table class="formTable" width="99%">
        <tr>
          <td style="width:95px;"><span>Name:</span></td>
          <td>
            <input type="text" style="width:100%" name="newstrainname" value="" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="color:gray;font-size:11px;">
            Note: If you paste a comma-separated or tab-separated list into the Name field, you can create many Strain records at once, all with the same description.
          </td>
        </tr>
        <tr>
          <td><span>Description:</span></td>
          <td>
            <input type="text" style="width:100%" name="newstrainlongname" value="" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input type="submit" name="action" value="Add"/>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="pageSection disclose off" id="editStrainShow">
  <div class="sectionHead">
    <span class="discloseLink">Edit A Strain</span>
  </div>
  <div class="sectionContent discloseBody">
    <form method="post" action="/admin/strains">
      {% csrf_token %}
      <input type="hidden" name="strainidtoedit" value="" />
      <table class="formTable">
        <tr>
          <td><span>Name:</span></td>
          <td>
            <input type="text" size="20" name="strainname" value="" />
          </td>
        </tr>
        <tr>
          <td><span>Description:</span></td>
          <td>
            <input type="text" size="60" name="strainlongname" value="" />
          </td>
        </tr>
        <tr>
          <td><span>Registry URL:</span></td>
          <td>
            <input type="text" size="60" name="strainurl" value=""/>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;" colspan="2">
            <input type="checkbox"
                   name="sdisabled"
                   id="strainDisabledCheckbox" value="1" />
            <label style="margin-right:10px;" for="strainDisabledCheckbox">
              Disabled</label>

            <input type="button" name="none" value="Cancel"
               onclick='EDDEdit.cancel("editStrainShow","editStrainHide");'/>
            <input type="submit" name="action" value="Save" />              
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="pageSection">
  <form method="post">
  <div class="sectionHead">Strains
    <span class="tableControl" style="font-style:italic;">
        (Strains displayed in italics are disabled.)
    </span>
    <!--
    <input type="button"
            class="tableControl"
            tableControlType="showRowsButton"
            id="disabledButton"
            name="action"
            value="Show Disabled"
            enabledLabel="Show Disabled"
            disabledLabel="Hide Disabled"
            defaultState=1
            rowsToShow=""/>-->
  </div>
  <table cellpadding="0" cellspacing="0"
         class="dataTable sortable dragboxes hastablecontrols"
         rowToggleControls="disabledButton"
         editformshow="editStrainShow"
         editformhide="editStrainHide">
    <thead>
      <tr class="columnLabels">
        <th class="sortheader" style="text-align:left" sortvalues="">
          <div>Name</div>
        </th>
        <th class="sortheader" style="text-align:left" sortvalues="">
          <div>Description</div>
        </th>
        <th class="sortheader smaller" style="text-align:right" sortvalues="">
          <div># Lines</div>
        </th>
        <th class="sortheader smaller" style="text-align:right" sortvalues="">
          <div># Studies</div>
        </th>
        <th class="sortheader" style="text-align:center" sortvalues="">
          <div>Created By</div>
        </th>
        <th class="sortheader" style="text-align:left;border-right-width:0px" sortvalues="">
          <div>Creation Date</div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for strain in strains %}
        {% if strain.active %}
      <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}">
        {% else %}
      <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}" style="font-style:italic;">
        {% endif %}
        <td class="popupcell nowrap">
          <div class="p"><div class="q">
            {% if strain.registry_url %}
            <div class="r link_indicator">{{ strain.name }}</div>
            {% else %}
            <div class="r">{{ strain.name }}</div>
            {% endif %}
            <div class="s"><div class="t">
              {% spaceless %}
              <ul><li><a href="#editform"
                         onclick='OnEdit(this, {{strain.id}});'>Edit</a>
                </li>
            {% if strain.registry_url %}
                <li><a href="{{ strain.registry_url }}">Link to ICE</a></li>
            {% endif %}
              </ul>
              {% endspaceless %}
            </div></div>
          </div></div>
        </td>
        <td>{{ strain.description }}</td>
        <td style="text-align:right;">{{ strain.n_lines }}</td>
        <td style="text-align:right;">{{ strain.n_studies }}</td>
        <td style="text-align:center;">{{ strain.created_by }}</td>
        <td>{{ strain.date_created }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </form>
</div>

{% endblock content %}
