
<!--

FIXME tabke sorting/filtering does not work at all (even in old EDD)

-->

{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}

<script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/EDDEditing.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/DataGridServerSide.js' %}"></script>
<script type="text/javascript">
//<![CDATA[
EDDData = { }; // Declaring the object for later use

EDDData.currentUserID =  {{ user.id }};

function OnEdit (obj, metabolite_id) {
  EDDEdit.edit(obj, {
    "mtypeidtoedit" : metabolite_id,
    "mtypeabbr" : EDDData.MetaboliteTypes[metabolite_id].sn,
    "mtypeentity" : EDDData.MetaboliteTypes[metabolite_id].name,
    "mtypealternates" : EDDData.MetaboliteTypes[metabolite_id].ans,
    "mtypeformula" : EDDData.MetaboliteTypes[metabolite_id].f,
    "mtypedefunitsvalue" : EDDData.MetaboliteTypes[metabolite_id].du,
    "mtypedisplayformat" : 0,
    "mtypemolarmass" : EDDData.MetaboliteTypes[metabolite_id].mm,
    "mtypecharge" : EDDData.MetaboliteTypes[metabolite_id].chg });
};

// FIXME move this somewhere central
function disclose() {
  $(this).closest('.disclose').toggleClass('discloseHide');
  return false;
}
$(window).load(function () {
    $('.disclose').find('.discloseLink').on('click', disclose);
    jQuery.ajax("/data/measurements", {
        "success" : function (data, textStatus, response) {
            jQuery.extend(EDDData, data.EDDData);
            EDDAutoComplete.initializeAllPageElements();
        }
    }).fail(function (x, s, e) {
        alert(s);
    });
});
//]]>
</script>
<script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Autocomplete.js' %}"></script>

{% endblock js_css %}

{% block head_title %}
  Edit Measurements
{% endblock head_title %}

{% block body_title %}
  Measurement types and units
{% endblock %}

{% block content %}

{% include "main/include_messages.html" %}

<div class="pageSection disclose discloseHide" id="addNewMain">
  <div class="sectionHead">
    <span class="discloseLink">
    {% if selected_metabolite %}
      <a href="#">Edit Selected Metabolite</a>
    {% else %}
      <a href="#">Add A New Metabolite Type</a>
    {% endif %}
    </span>
  </div>
  <div class="sectionContent discloseBody" id="typeMain">
    <form method="post" action="/admin/measurements" id="mteditform">
      <input type="hidden" name="action" value="addMetabolite"/>
      <input type="hidden" name="mtypeidtoedit" value="{{ selected_metabolite.id }}"/>
      <input type="hidden" name="keywordIDs" value="1,2,3,8,4,5,6,7" />
      <table class="formTable">
        <tr>
          <td>
            <p>Abbreviation:</p>
          </td>
          <td>
            <input type="text" size="8" name="mtypeabbr" value="" />
          </td>
          <td rowspan="2" style="padding-left:8px;text-align:right;">
            <p class="nowrap">Molar Mass:</p>
          </td>
          <td rowspan="2">
            <span class="nowrap">
              <input type="text"
                size="11"
                name="mtypemolarmass"
                value=""
                style="margin:0px 0px 0px 0px;vertical-align:bottom;" />
              <span>g/mol</span>
            </span>
            <div style="color:#888;font-size:10px;">(Blank if N/A)</div>
          </td>
          <td rowspan="2" style="padding-left:8px;text-align:right;">
            <p class="nowrap">Charge:</p>
          </td>
          <td rowspan="2">
            <input type="text" size="6" name="mtypecharge" value="" />
            <div style="color:#888;font-size:10px;">(Blank if N/A)</div>
          </td>
        </tr>
        <tr>
          <td>
            <p>Entity:</p>
          </td>
          <td>
            <input type="text" size="57" name="mtypeentity" value="" />
          </td>
        </tr>
        <tr>
          <td>
            <p class="nowrap">Alternate Names:</p>
          </td>
          <td>
            <textarea style="height:4.6em;"
              rows="4" cols="42"
              name="mtypealternates"></textarea>
          </td>
          <td colspan="4" rowspan="3" style="padding:0px 5px 0px 12px;">
            <p style="border-bottom:1px dotted #CCCCCC;
                padding-bottom:2px;
                margin-bottom:2px;">Keywords:</p>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword1include" id="keyword1include" value="1" />
              <label for="keyword1include"><span>FAEE</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword2include" id="keyword2include" value="1" />
              <label for="keyword2include"><span>GCMS</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword3include" id="keyword3include" value="1" />
              <label for="keyword3include"><span>HPLC</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword8include" id="keyword8include" value="1" />
              <label for="keyword8include"><span>LCMS</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword4include" id="keyword4include" value="1" />
              <label for="keyword4include"><span>Mevalonate Pathway</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword5include" id="keyword5include" value="1" />
              <label for="keyword5include"><span>OD</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword6include" id="keyword6include" value="1" />
              <label for="keyword6include"><span>RAMOS</span></label>
            </div>
            <div style="width:170px;display:inline-block;">
              <input type="checkbox" name="keyword7include" id="keyword7include" value="1" />
              <label for="keyword7include"><span>Specific Glucose Flux</span></label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <p>Formula:</p>
          </td>
          <td>
            <input type="text" size="30" name="mtypeformula" value="" />
          </td>
        </tr>
        <tr>
          <td>
            <p class="nowrap">Display Format:</p>
          </td>
          <td>
            <select name="mtypedisplayformat">
              <option value="0" selected="selected">Linear</option>
              <option value="1">Log10</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="6" style="text-align:right;vertical-align:bottom;">
            <input type="submit" name="action" id="addNewTypeButtons"
                   value="Add Metabolite" style="margin:4px 0px 0px 8px;" />
            <div id="editTypeButtons" class="off">
              <input type="button" name="none" value="Cancel"
                style="margin:10px 0px 4px 8px;"
                onclick='EDDEdit.cancel(
                  "typeMain,editTypeBanner,addNewTypeBanner,editTypeButtons,addNewTypeButtons", "addNewTypeShow");' />
              <input type="submit" name="action" value="Update Metabolite"
            style="margin:4px 0px 0px 8px;" />
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="pageSection disclose"><!-- discloseHide">-->
  <div class="sectionHead">
    <span class="discloseLink"><a href="#">Metabolite Types</a></span>
    <span class="tableControl">Filter by Keyword:
      <select name="keywordIDToggle" id="mKeywordsPulldown"
              tableControlType="showRowsPulldown">
        <option value="all" selected="selected">--</option>
      <!--
      {% for keyword in keywords %}
        <option value="{{ keyword.id }}"
                rowsToShow="{{ keyword.metabolites|join:',' }}">
           {{ keyword.name }}</option>
      {% endfor %}--><!-- keywords -->
      </select>
    </span>
  </div>
  <div class="discloseBody" id="metaboliteTableSection">
    <table cellpadding="0" cellspacing="0"
      class="dataTable sortable dragboxes hastablecontrols"
      rowToggleControls="mKeywordsPulldown"
      editformshow="typeMain,editTypeBanner,editTypeButtons"
      editformhide="addNewTypeShow,addNewTypeBanner,addNewTypeButtons">
      <thead>
        <tr class="columnLabels">
          <th class="sortheader" style="text-align:left">
            <div>Abbr.</div>
          </th>
          <th class="sortheader" style="text-align:left">
            <div>Entity (And Alternate Names)</div>
          </th>
          <th class="sortheader" style="text-align:left">
            <div>Formula</div>
          </th>
          <th class="sortheader smaller" style="text-align:right">
            <div>Molar Mass</div>
          </th>
          <th class="sortheader smaller" style="text-align:right">
            <div>Charge</div>
          </th>
          <th class="sortheader smaller" style="text-align:left">
            <div>Display Format</div>
          </th>
          <th class="sortheader smaller" style="text-align:left;border-right-width:0px">
            <div>Keywords</div>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for m in metabolites %}
        <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}"
            data-line-id="{{ m.id }}">
          <td class="popupcell">
            <div class="p"><div class="q">
              <div class="r">{{ m.short_name }}</div>
              <div class="s"><div class="t">
                <a href="#mteditform" onclick='OnEdit(this,{{m.id}});'>Edit</a>
              </div></div>
            </div></div>
          </td>
          <td>{{ m.type_name }}</td>
          <td>{% spaceless %}
      {% with elements=m.export_formula %}
        {% if elements %}
         {% for e in elements %}{{e.symbol}}<sub>{{e.count}}</sub>{% endfor %}
        {% else %}
              {{ m.molecular_formula }}
        {% endif %}
      {% endwith %}
          {% endspaceless %}</td>
          <td style="text-align:right;">
            {% if m.molar_mass %}
              <span>{{ m.molar_mass }}</span>
            {% else %}
              <span style="color:#DDD;">N/A</span>
            {% endif %}
          </td>
          <td style="text-align:right;">{{ m.charge }}</td>
          <td>
            <span style="color:#DDD;">Linear</span>
          </td>
          <td>{{ m.keywords_str }}</td>
        </tr>
      {% endfor %}<!-- metabolites -->
      </tbody>
    </table>
  </div><!-- #metaboliteTableSection -->
</div>

<!--

MetaboliteKeyword form

-->

<div class="pageSection disclose discloseHide" id="addNewKeywordMain">
  <div class="sectionHead">
    <span class="discloseLink">
      <a href="#">Add A New Metabolite Type Keyword</a>
    </span>
  </div>
  <div class="sectionContent discloseBody">
    <table class="formTable">
      <tr>
        <form method="post" action="/admin/measurements">
          <input type="hidden" name="action" value="addKeyword"/>
          <td>
            <span>Keyword Name:</span>
            <input type="text" size="25" name="keywordname" value="" />
          </td>
          <td>
            <input type="submit" name="action" value="Add Keyword" />
          </td>
        </form>
      </tr>
    </table>
  </div>
</div>

<!--

MeasurementUnit form

-->

<div class="pageSection disclose discloseHide" id="addNewUnitMain">
  <div class="sectionHead">
    <span class="discloseLink">
      <a href="#">Add A New Unit Type</a>
    </span>
  </div>
  <div class="sectionContent discloseBody">
    <table class="formTable">
      <form method="post" action="/admin/measurements">
        <input type="hidden" name="action" value="addUnit"/>
        <tr>
          <td><span>Unit Name:</span></td>
          <td><input type="text" size="15" name="unit_name" value="" /></td>
        </tr>
        <tr>
          <td><span>Associated measurement type grouping:</span></td>
          <td>
            <select name="type_group">
            {% for key, value in mtype_groups %}
              <option value="{{ key }}">{{ value }}</option>
            {% endfor %}
            </select>
            <span style="color:#888;font-size:11px;">("Generic" applies to any
              measurement type)</span>
          </td>
        <tr>
          <td><span>Alternate Unit Names:</span></td>
          <td>
            <input type="text" size="30" name="alternate_names" value="" />
            <span style="color:#888;font-size:11px;">
              (Comma-delimited list)
            </span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="action" value="Add Unit" /></td>
        </tr>
      </form>
    </table>
  </div>
</div>

<!--

MeasurementUnit listing

-->

<div class="pageSection">
  <div class="sectionHead">
      Unit Types
  </div>
  <table cellpadding="0" cellspacing="0" class="dataTable sortable">
    <thead>
      <tr class="columnLabels">
        <th class="sortheader" style="text-align:left">Name</th>
        <th class="sortheader" style="text-align:left">Applicable measurements</th>
        <th class="sortheader" style="text-align:left;border-right-width:0px">
          Alternate Names
        </th>
      </tr>
    </thead>
    <tbody>
      {% for unit in units %}
      <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}">
        <td>{{ unit.unit_name }}</td>
        <td>{{ unit.group_name }}</td>
        <td>
          {% if unit.alternate_names %}{{ unit.alternate_names }}{% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
