{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}

<script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/EDDEditing.js' %}"></script>
<script type="text/javascript">
//<![CDATA[
EDDData = { }; // Declaring the object for later use

EDDData.currentUserID =  {{ user.id }};

//]]>
</script>
<script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Autocomplete.js' %}"></script>

{% endblock js_css %}

{% block head_title %}
  Edit Protocols
{% endblock head_title %}

{% block body_title %}
  Protocols
{% endblock %}

{% block content %}

{% if messages.error %}
<h2 class="bad">{{ messages.error }}</h2>
{% endif %}

<div class="pageSection" id="addNewMain">
  <div class="sectionHead">Add a New Protocol</div>
  <div class="sectionContent">
    <form method="post" action="/admin/protocols">
      {% csrf_token %}
      <table class="formTable">
        <tr>
          <td>
            <span>Name:</span>
            <input type="text" size="15" name="protocolname" value="" />
          </td>
          <td>
            <span>Variant Of:</span>
            <select name="newvariantof">
              <option value="all" selected="selected">--</option>
{% for protocol in protocols %}
  {% if protocol.active %}
              <option value="{{ protocol.id }}">{{ protocol.name }}</option>
  {% endif %}
{% endfor %}
            </select>
          </td>
          <td><input type="submit" name="action" value="Add" /></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="pageSection">
  <div class="sectionHead">
    Protocols
    <span class="tableControl" style="font-style:italic;">
      (Protocols displayed in italics are disabled.)
    </span>
  </div>

  <table cellpadding="0" cellspacing="0"
      class="dataTable sortable dragboxes hastablecontrols"
      rowToggleControls="disabledButton,groupsPulldown">

    <tr class="columnLabels">
      <th style="text-align:left">
        <div>Name</div>
      </th>
      <th style="text-align:left">
        <div>Description</div>
      </th>
      <th style="text-align:center">
        <div>Creator</div>
      </th>
      <th style="text-align:center">
        <div>Owner</div>
      </th>
      <th style="text-align:left;border-right-width:0px">
        <div>Last Modification</div>
      </th>
    </tr>
{% for protocol in protocols %}
  {% if protocol.active %} 
    <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}">
  {% else %}
    <tr class="{% cycle 'stripeRowA' 'stripeRowB' %}" style="font-style:italic;">
  {% endif %}
      <td class="popupcell nowrap" style="padding:4px; font-weight: bold;">
        <a href="/admin/protocol/{{ protocol.id }}">{{ protocol.name }}</a>
        {% if not protocol.active %}
        [disabled]
        {% endif %}
      </td>
      <td style="white-space:pre-wrap;padding:4px;">{{ protocol.description }}</td>
      <td style="text-align:center;padding:4px;">
        {{ protocol.creator.initials }}
      </td>
      <td style="text-align:center;padding:4px;">
        {{ protocol.owner.initials }}
      </td>
      <td class="nowrap" style="padding:4px;">
        {{ protocol.last_modified_str }}
      </td>
    </tr>
{% endfor %}<!-- protocols -->
  </table>
</div>

{% endblock content %}
