{% extends "study.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
{% endblock js_css %}

{% block head_title %}
    {{ block.super }} &mdash; Create Study
{% endblock head_title %}

{% block body_title %}
    {{ block.super }} &mdash; Create Study
{% endblock body_title %}

{% block content %}

<form action="{% url 'main:create_study' %}"  class="edd-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Study</button>
</form>

{% endblock content %}
