{% extends "edd_base.html" %}
{% load staticfiles %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/jquery-ui/jquery-ui.min.css' %}" />
    <script type="text/javascript" src="{% static 'main/js/lib/qtip/jquery.qtip.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/qtip/jquery.qtip.min.css' %}" />
    <script type="text/javascript" src="{% static 'main/js/autocomplete2.js' %}"></script>
    <script type="text/javascript">

        EDDData.currentStudyID = {{ study.id }};

    </script>
    <script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.crosshair.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.resize.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.navigate.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.dashes.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.threshold.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.orderbars.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.flot.stack.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/BiomassCalculationUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyGraphing.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/CarbonSummation.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyCarbonBalance.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>
{% endblock js_css %}


{% block head_title %}
    {{ study.name }} - Experiment Data Depot
{% endblock head_title %}


{% block body_title %}
    <h1>{{ study.name }}</h1>
{% endblock body_title %}


{% block content %}
    <div class="pageSection">
        <div class="sectionHead" id="genInfoViewBanner">General Information</div>
        {% if writable %}
        <div class="disclose">
            <div class="sectionChapter">
                <span class="discloseLink">Edit Details</span>
            </div>
            <div class="sectionActions discloseBody">
                <form action="" class="edd-form" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ edit_study.as_p }}
                    <p>
                        <label></label>
                        <button id="update_study" name="action" value="update">Update Study</button>
                    </p>
                </form>
            </div>
        </div>
        {% else %}
        <div class="sectionContent" id="genInfoView">
            <dl class="infolist">
                <dt>Description</dt>
                <dd>{% firstof study.description "<i>(None)</i>"|safe %}</dd>
                <dt>Contact</dt>
                <dd>{% if study.contact %}
                    <a href="mailto:{{ study.contact.email }}">{{ study.contact.first_name }} {{ study.contact.last_name }}</a>
                    {% elif study.contact_extra %}
                    {{ study.contact_extra }}
                    {% else %}
                    (None)
                    {% endif %}
                </dd>
            </dl>
        </div>
        {% endif %}
        {% if writable %}
        <div class="disclose discloseHide" id="permissions">
            <div class="sectionChapter" id="permissionsBanner">
                <span class="discloseLink">Permissions</span>
            </div>
            <div class="sectionActions discloseBody">
                {% with perms=study.get_combined_permission %}
                    {% if perms %}
                    <table cellpadding="0" cellspacing="0" class="dataTable sortable">
                        <tr class="columnLabels">
                            <th class="sortheader smaller">Who</th>
                            <th class="sortheader smaller">Level</th>
                        </tr>
                        {% for perm in perms %}
                        <tr class="stripeRow{% cycle 'A' 'B' %}">
                            <td>{{ perm.get_who_label }}</td>
                            <td>{{ perm.get_type_label }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                {% endwith %}
                <div class="sectionActions">
                    <form method="POST" enctype="multipart/form-data" class="permissions edd-form off" action="">
                        {% csrf_token %}
                        <span id="permission_user_box">
                        <label for="permission_user">
                            <input type="radio" id="permission_user" name="class" value="User" checked="checked"/>
                            <span>User</span>
                        </label>
                        </span>
                        <span id="permission_group_box">
                        <label for="permission_group">
                            <input type="radio" id="permission_group" name="class" value="Group"/>
                            <span>Group</span>
                        </label>
                        </span>
                        <span id="permission_public_box">
                        <label for="permission_public">
                            <input type="radio" id="permission_public" name="class" value="Public"/>
                            <span>Public</span>
                        </label>
                        </span>
                        <select name="type">
                            <option value="N">None</option>
                            <option value="R">Read</option>
                            <option value="W">Write</option>
                        </select>
                        <button id="set_permission">Set Permission</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="disclose{% if not new_attach.errors %} discloseHide{% endif %}" id="attachments">
            <div class="sectionChapter" id="attachmentsBanner">
                <span class="discloseLink">Attachments ({{ study.attachments|length }})</span>
            </div>
            <div class="sectionActions discloseBody">
                {% with attachments=study.attachments %}
                    {% include "main/include_attachments.html" %}
                {% endwith %}
                <div class="sectionActions">
                    {% if writable %}
                    <form method="POST" enctype="multipart/form-data" class="attachments edd-form" action="">
                        {% csrf_token %}
                        {{ new_attach.as_p }}
                        <p><button type="submit" name="action" value="attach">Attach File</button></p>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="disclose{% if not new_comment.errors %} discloseHide{% endif %}" id="comments">
            <div class="sectionChapter" id="commentsBanner">
                <span class="discloseLink">Comments ({{ study.comment_list|length }})</span>
            </div>
            <div class="sectionActions discloseBody">
                <ol class="comment-list">
                {% for comment in study.comment_list reversed %}
                    <li>
                        <span>{{ comment.created.full_name }} at {{ comment.created.format_timestamp }}</span>
                        <p>{{ comment.body }}</p>
                    </li>
                {% endfor %}
                </ol>
                <div class="sectionActions">
                    <form method="POST" class="comments edd-form" action="">
                        {% csrf_token %}
                        {{ new_comment.as_p }}
                        <p><button type="submit" name="action" value="comment">Comment</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="pageSectionTabs" id="graphTabsOverviewSelected">
        <div class="active absoverlay">Data Overview</div>
        <div class="active">Data Overview</div>
    </div>
    <div class="pageSection pageSectionTabContent" id="overviewSection">
        <div class="sectionContent">
            <div id="maingraph" class="graphContainer"></div>
        </div>
        <div class="sectionChapter disclose discloseHide">
            <span class="discloseLink"><span>Filtering</span></span>
            <span class="tableControl">
                <input type="checkbox" id="separateAxesCheckbox" value="1" />
                <label for="separateAxesCheckbox">Separate Y Axes for Measurement Types</label>
            </span>
            <span class="tableControl" id="pointsDisplayedSpan"></span>
            <div id="mainFilterSection" class="filteringSection discloseBody">
                <div class="filterTable"></div>
            </div>
        </div>
    </div>
    

    {% if writable %}
    <div class="bare-header">
        <a href="/study/{{ study.id }}/import">Import tabular data...</a>
    </div>
    <div class="pageSection minor disclose{% if not new_line.is_editing %} discloseHide{% endif %}" id="lineMain">
        <div class="sectionHead">
            <span class="discloseLink"><a href="#">{% if new_line.is_editing %}Edit Line{% else %}Add A New Line{% endif %}</a></span>
            <div class="clear"></div>
        </div>
        <div class="sectionContent discloseBody">
            <form action="" class="line-edit edd-form" method="POST">
                {% csrf_token %}
                {{ new_line.as_p }}
                <p class="line-edit-meta">
                    <span class="label">
                        <input type="text" class="autocomp autocomp_ltype" placeholder="Metadata Type" size="12" />
                        <input type="hidden" class="line-meta-type" value="" />
                    </span>
                    <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                    <button class="line-meta-add">Add Value</button>
                </p>
                <button type="submit" name="action" value="line">{% if new_line.is_editing %}Edit Line{% else %}Add Line{% endif %}</button>
            </form>
        </div>
    </div>
    {% endif %}

    <form action="" class="line-action" method="POST">
        {% csrf_token %}
        <div class="pageSection">
            {# studyLinesTable will have checkboxes; name=lineId, value=pk #}
            <table id="studyLinesTable"></table>
            <div id="linesActionPanel" class="sectionActions off">
                <span id="linesSelectedCell">0 selected</span>
                {% if writable %}
                <button id="cloneLineButton" type="submit" name="action" value="clone">Clone Line</button>
                <button id="editLineButton">Edit Line</button>
                <button id="groupLineButton" type="submit" name="action" value="group">Group As Replicates</button>
                <input type="radio" id="line_action_mark" name="line_action" value="edit"/>
                <label for="line_action_mark">
                    <span>Mark as</span>
                    <select name="disable">
                        <option value="true">Disabled</option>
                        <option value="false">Enabled</option>
                    </select>
                </label>
                {% endif %}
                <input type="radio" id="line_action_export" name="line_action" value="export" />
                <label for="line_action_export">
                    <span>Export Data</span>
                    <select name="export">
                        <option value="csv">as CSV/etc</option>
                        <option value="sbml">as SBML</option>
                        <option value="worklist">as Worklist</option>
                    </select>
                </label>
                <button type="submit" name="action" value="line_action">Take Action</button>
            </div>
        </div>

        {% if writable %}
        <div class="pageSection minor disclose{% if not new_assay.is_editing %} discloseHide{% endif %}" id="assayMain">
            <div class="sectionHead">
                <span class="discloseLink"><a href="#">{% if new_assay.is_editing %}Edit Assay{% else %}Add Assays To Selected Lines{% endif %}</a></span>
            </div>
            <div class="sectionContent discloseBody assay-edit edd-form">
                {{ new_assay.as_p }}
                <button type="submit" name="action" value="assay">{% if new_assay.is_editing %}Edit Assay{% else %}Add Assay{% endif %}</button>
            </div>
        </div>
        {% endif %}
    </form>

    <form action="" class="assay-action" method="POST">
        {% csrf_token %}
        <div class="pageSection" id="assaysSection">
            <!-- individual protocol assay sections inserted here -->
            <div id="assaysActionPanel" class="sectionActions off">
                <span id="assaysSelectedCell">0 selected</span>
                {% if writable %}
                <input id="assay_action_mark" type="radio" name="assay_action" value="mark" />
                <label for="assay_action_mark">
                    <span>Mark as</span>
                    <select name="disable">
                        <option value="true">Disabled</option>
                        <option value="false">Enabled</option>
                    </select>
                </label>
                <input id="assay_action_delete" type="radio" name="assay_action" value="delete" />
                <label for="assay_action_delete">Delete Measurements</label>
                <input id="assay_action_edit" type="radio" name="assay_action" value="edit" />
                <label for="assay_action_edit">Edit Measurements</label>
                <input id="assay_action_export" type="radio" name="assay_action" value="export" />
                {% else %}
                <input id="assay_action_export" type="hidden" name="assay_action" value="export" />
                {% endif %}
                <label for="assay_action_export">Export Data</label>
                <button name="action" type="submit" value="assay_action">Take Action</button>
                <div class="clear"></div>
            </div>
        </div>

        {% if writable %}
        <div class="pageSection minor disclose{% if not new_measurement.errors %} discloseHide{% endif %}" id="measurementMain">
            <div class="sectionHead">
                <span class="discloseLink"><a href="#">Add Measurements To Selected Assays</a></span>
            </div>
            <div class="sectionContent discloseBody measurement-create edd-form">
                {{ new_measurement.as_p }}
                <button type="submit" name="action" value="measurement">Add Measurement</button>
            </div>
        </div>
        {% endif %}
    </form>
    
{% endblock content %}
