{% extends "edd_base.html" %}
{% load staticfiles %}


{% block js_css %}
    {{ block.super }}
    <style type="text/css">
    ul.edd-measurement-edit, ul.edd-measurement-edit * {
        list-style: none;
    }
    ul.edd-measurement-edit li {
        padding-left: 4em;
    }
    </style>
{% endblock js_css %}


{% block head_title %}
    Edit Measurements &ndash; {{ study.name }} &ndash; Experiment Data Depot
{% endblock head_title %}


{% block body_title %}
    {% url 'main:detail' slug=study.slug as study_link %}
    <h4>Edit Measurements &ndash; <a href="{{ study_link }}">{{ study.name }}</a></h4>
{% endblock body_title %}


{% block content %}
    <form action="" method="POST" style="margin-bottom:70px">
        {% csrf_token %}
        <input type="hidden" name="measureId" value="{{ measures }}"/>
        {% for l in lines.values %}
        <fieldset>
            <legend>{{ l.line.name }}</legend>
            <ul class="edd-measurement-edit">
            {% for a in l.assays.values %}
                <li>
                    <span>{{ a.assay.protocol.name }} &ndash; {{ a.assay.name }}</span>
                    <ul>
                    {% for m in a.measures.values %}
                        <li>
                            <span>{{ m.measure.measurement_type.type_name }}</span>
                            {{ m.form.management_form }}
                            <ul>
                            {% for mf in m.form %}
                                <li>{{ mf.id }} X: {{ mf.x }} Y: {{ mf.y }}</li>
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </fieldset>
        {% endfor %}
        <input type="hidden" name="action" value="assay_action"/>
        <button type="submit" name="assay_action" value="update">Update</button>
    </form>
{% endblock content %}
