{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'main/js/lib/select2/select2.min.js' %}"></script>
  <link rel="stylesheet" media="screen" href="{% static 'main/js/lib/select2/select2.min.css' %}" />
  <script type="text/javascript" src="{% static 'edd_utils/js/lib/handsontable.full.min.js' %}"></script>
  <link rel="stylesheet" media="screen" href="{% static 'edd_utils/css/lib/handsontable.full.min.css' %}" />
  <script type="text/javascript">
  $(document).on('click', '.disclose .discloseLink', function (e) {
    $(e.target).closest('.disclose').toggleClass('discloseHide');
    return false;
  });
  $(function () {
    var dataArea, tables, sep, rsplit, ctrl;
    dataArea = $('#textData').hide();
    tables = dataArea.val().split('\n\n');
    sep = $('#id_separator').val() === 'csv' ? ',' : '\t';
    rsplit = function (row) { return row.split(sep); };
    tables = $(tables.map(function (table) {
      var rows, container, hot;
      rows = table.split('\n');
      container = $('<div>').addClass('hot-div').appendTo(dataArea.parent());
      hot = new Handsontable(container[0], { 'data': rows.map(rsplit) });
      return container[0];
    }));
    ctrl = $('<button>').text('Toggle View')
      .appendTo(dataArea.closest('.pageSection').find('.sectionHead'))
      .on('click', function () {
        dataArea.toggle();
        tables.toggle();
      });
    // add select/deselect controls
    $('.exportOptions > ul[id$=_meta]').each(function (i, ul) {
      var $ul = $(ul), css = { 'float': 'right', 'padding-left': '1em' };
      $('<a href="#">').text('Deselect All').css(css).on('click', function () {
        $ul.find(':checkbox').prop('checked', false);
        return false;
      }).appendTo($ul.prev('p'));
      $('<a href="#">').text('Select All').css(css).on('click', function () {
        $ul.find(':checkbox').prop('checked', true);
        return false;
      }).appendTo($ul.prev('p'));
    });
    // add selection for measurement types
    $('#id_measurement_types').css('width', '100%').select2({
      'ajax': {
        'data': function (params) {
          return {
            'model': 'MeasurementType',  // TODO: change based on the currently selected protocol
            'term': params.term || ''  //, TODO: autocomplete search handling page params
          }
        },
        'dataType': 'json',
        'delay': 250,
        'processResults': function (data, params) {
          return {
            'results': data.rows.map(function (x) { return { 'id': x.id, 'text': x.name }; })
          }
        },
        'url': '/search'
      }
    });
  });
  </script>
{% endblock js_css %}

{% block head_title %}
  {% if selection.studies|length == 1 %}
    Data Export For {{ selection.studies.0.name }}
  {% else %}
    Data Export For {{ selection.studies|length }} Studies
  {% endif %}
{% endblock head_title %}

{% block body_title %}
  Data Export For {% for study in selection.studies %}
   <a href="{% url 'main:detail' study.id %}">{{ study.name }}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}
{% endblock body_title %}

{% block content %}

{% if error_message %}
<h3 style="color: #ff0000; font-weight: bold">{{ error_message }}</h3>
{% endif %}

<!-- Line info section -->
{% include "main/include/export/linetable.html" %}

<!-- start of main form -->
<form method="post" id="exportForm" action="{% url 'main:export' %}">
  {% csrf_token %}
  <div class="pageSection">
    <div class="sectionHead">Specify the layout of the data you wish to export.</div>
    <div class="sectionContent exportOptions">
      {{ select_form.as_p }}
      {{ option_form.as_p }}
      <button type="submit" name="action" value="apply">Apply</button>
      <button type="submit" name="action" value="download">Download</button>
    </div>
  </div>
</form>

<!-- display section -->
<div class="pageSection">
  <div class="sectionHead">View the current output here</div>
  <div class="sectionContent exportDisplay">
    <p>
      <textarea class="dataTextArea" rows="32" id="textData" name="textData">{{ output }}</textarea>
    </p>
  </div>
</div>

{% endblock content %}
