{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}

<script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/lib/filedrop-min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/data_import.js' %}"></script>

<script type="text/javascript">
EDDRnaSeq.initialize_window({{ study.id }});
</script>

<style>
#data-field {
  width: 100%;
  height: 200px;
  font-family: Courier, Monaco, monospace;
  font-size: 11pt;
}
td {
  padding: 2px;
  margin: 2px;
}
#samples-table {
  margin: 4px 4px 4px 20px;
}
.field-label {
  font-weight: bold;
}
.field-contents {
  padding: 2px 8px 2px 2px;
}
.time-input {
  width: 40px;
  text-align: right;
}
/* http://stackoverflow.com/questions/3790935 */
input::-webkit-inner-spin-button {
 /* display: none; <- Crashes Chrome on hover */
 -webkit-appearance: none;
 margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
</style>
{% endblock js_css %}

{% block head_title %}
RNA-seq import
{% endblock head_title %}

{% block body_title %}
RNA-seq data import
{% endblock body_title %}

{% block content %}

{% include "main/include_messages.html" %}

<form method="post" id="data-form" action="{% url 'main:edd-pk:rnaseq-process' pk=study.id %}">
  {% csrf_token %}
  <input type="hidden" name="action" value="parse"/>
  <input type="hidden" name="format" value="htseq-combined"/>
  <input type="hidden" name="study_id" value="{{ study.id }}" id="study-id"/>

<div class="pageSection" id="dataViewDiv">
  <div class="sectionHead">
    Step 1: Data input
    <div class="helpBadgeDiv" style="float:left;">Help
      <div class="helpContent" style="width:540px;">
        <p>Input must be in tab-separated text format of the following form:
        <pre>
GENE  sample1   sample2   sample3   sample4   sample5   sample6
orf1  25        40        50        1024      1470      1230
orf2  329       258       407       122       136       117
...</pre>
          The samples may be any combination of lines, biological replicates,
          technical replicates, or timepoints.  Sample labels may correspond
          to the line name and replica number, but this is not a requirement.
          You will be asked to disambiguate the
          data and associate them with existing EDD records in Step 2 below.
        </p>
        <p>You may either drag and drop a text file into the input field,
          select a file by clicking "Choose File", or enter tabular data
          directly into the field.  For file input the form will be
          automatically submitted to the server for further processing, and
          the contents will appear in the input field.  Once the server has
          read and interpreted the raw input, additional form elements will
          appear for Step 2.
        </p>
      </div>
    </div>
  </div>

  <div class="sectionContent">
    <p>This field should contain tabular gene expression data, with the gene
      name as the first column, and each sample as successive columns.  The
      first row should be the column labels.  Values can either be FPKMs or
      RPKMs, raw read counts, or a combination of the two (comma-separated).
    </p>
    <textarea name="data" id="data-field"></textarea>
    <span>
      <input type="file" name="file_name" id="file-name"/>
      <button type="button" id="process-button">Process data</button>
    </span>
  </div>
</div>
</form>

<form method="post" id="rnaseqForm" action="{% url 'main:edd-pk:rnaseq' pk=study.id %}">
  {% csrf_token %}
  <input type="hidden" name="study_id" value="{{ study.id }}" id="study-id"/>
  <input type="hidden" name="n_cols" value=0" id="n-cols"/>
  <input type="hidden" name="data_table" id="data-table" value=""/>
<div class="pageSection" id="disambiguateDiv">
  <div class="sectionHead">
    Step 2: Disambiguate data
    <div class="helpBadgeDiv" style="float:left;">Help
      <div class="helpContent">
        <p>This form is used to link the columns in the uploaded data to
          existing lines in EDD, and determine how the assay data are input.
          Samples may be grouped in several ways:
          <ul style="margin-left: 20px;">
            <li>One assay per sample, usually with the same timepoint</li>
            <li>One assay for each group of samples from the same line
                at different timepoints.</li>
          </ul>
        </p>
        <p>Furthermore:
          <ul style="margin-left: 20px;">
            <li>Technical replicates will usually be associated with the
              same line, but should be separate assays.</li>
            <li>Biological replicates should be associated with separate lines.
            </li>
          </ul>
        </p>
        <p>Assay numbers do not have any particular meaning other than being
          used to group samples within each line: thus assay number 1 for
          line A is distinct from assay number 1 for line B.  However,
          the combination of line ID, assay ID, and timepoint for each sample
          must be unique.
        </p>
      </div>
    </div>
  </div>

  <div class="sectionContent">
    <div style="padding: 4px;">
      <span class="field-label">Data type:</span>
      <select name="data_type" id="data-type">
        <option value="counts">Raw read counts</option>
        <option value="fpkm">FPKM or RPKM</option>
        <option value="combined">Combined counts + FPKMs</option>
      </select>
    </div>
    <div style="padding: 4px;">
      <b>Data associations:</b>
      <span id="no-data"><i>(no data entered)</i></span>
    </div>
    <table style="padding: 4px;" id="samples-table">
      <tr id="sample-fields-0" style="display: none;">
        <td class="field-label">Column:</td>
        <td class="field-contents"><span id="col-label"></span></td>
        <td class="field-label">Line:</td>
        <td class="field-contents">
          <select name="line" id="line-id">
            <option value="-1">---</option>
            {% for line in lines %}
            <option value="{{ line.id }}">{{ line.name }}</option>
            {% endfor %}<!-- lines -->
          </select>
        </td>
        <td class="field-label">Assay number:</td>
        <td class="field-contents">
          <select name="assay" id="assay-id"></select>
        </td>
        <td class="field-label">Timepoint:</td>
        <td class="field-contents">
          <input type="number" name="time" class="time-input"
                 id="time-point" value="0"/>
          h
        </td>
        <td>Description (if new assay):</td>
        <td class="field-contents">
          <input type="text" style="width: 200px;" name="desc"
                 id="desc-field"/>
        </td>
      </tr>
      <tbody id="sample-fields"></tbody>
    </table>
    <input type="submit" value="Import data"/>
  </div>
</div>

</form>

{% endblock content %}
