{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/Autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Disclosure.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/EDDEditing.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/EditableElement.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
{% endblock js_css %}


{% block content %}
    <table id="studiesTable"></table>
{% endblock content %}
