{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dist/index.js' %}"></script>
    {% if form.errors %}
    <script>
        var options = {
            autoOpen: false,
            minWidth: 600,
            title: 'Add New Study'
        };
        $(document).ready(function() {
            $('.errorlist').remove();
            $("#addStudyModal").removeClass('off').dialog(options).dialog("open");
        });
    </script>
    {% endif %}
{% endblock js_css %}


{% block status %}
    {{ block.super }}
{% endblock status %}


{% block content %}
    {% if can_create %}
    <div style="float: right">
        <button id="addStudyButton"
                class="actionButton primary larger"
                title="Add a new study">
            New Study
        </button>
    </div>
    {% endif %}
    <h2 style="margin-bottom: {% if latest_viewed_studies %}12{% else %}50{% endif %}px;">
        Recently Viewed Studies:
    </h2>
    <div class="lastViewed">
        {% for study in latest_viewed_studies %}
            <span><a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a></span>
        {% endfor %}
    </div>

    <h2>All Studies:</h2>
    <table id="studiesTable"></table>

    <div id="addStudyModal" class="off"
         title="Add New Study">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ form.errors.as_text }}</p>
        </div>
        {% endif %}
        <form action="" class="edd-form" method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="submit"
                        name="action"
                        class="btn btn-primary"
                        value="assay">Add Study</button>
            </div>
        </form>
    </div>

{% endblock content %}
