{% extends "edd_base.html" %}
{% load staticfiles %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/qtip/jquery.qtip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.v2.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.tip.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/qtip/jquery.qtip.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/bootstrap/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'main/js/lib/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/js/lib/jquery-ui/jquery-ui.min.css' %}" />
    <script type="text/javascript">

        EDDData.currentStudyID = {{ study.id }};
        EDDData.currentStudyWritable = {% if writable %}true{% else %}false{% endif %};
        EDDData.Studies = EDDData.Studies || {};
        EDDData.Studies[{{ study.id }}] = {{ study.to_json_str|safe }};
    $( function() {
    $( document ).tooltip();
  } );

    </script>
    <script type="text/javascript" src="{% static 'main/js/EDDAutocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/EDDEditableElement.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/clickHandler.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/GraphHelperMethods.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/BiomassCalculationUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyGraphing.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyGraphingHelperMethods.js'%}"></script>
    <script type="text/javascript" src="{% static 'main/js/CarbonSummation.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyCarbonBalance.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "main/style.css" %}">

    <script type="text/javascript" src="{% static 'main/js/createMultiAxisLine.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/groupedBarMeasurement.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lineGraphHelperMethods.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/barGraphHelperMethods.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
    {{ study.name }} - Experiment Data Depot
{% endblock head_title %}

{% block body_title %}
    <h1>{{ study.name }}</h1>
{% endblock body_title %}

{% block content %}
<div class="btn-toolbar bare-header">
    <div style="text-align: right">
        <a class="btn btn-primary btn-lg" href="/study/{{ study.id }}/import">Import </br> Data</a>
    </div>
</div>

<ui class="nav nav-pills navbar-nav studyTabs">
    <li>
        <a href="/study/{{ study.slug }}/overview">Overview</a>
    </li><li class="active">
        <a href="/study/{{ study.slug }}/lines">Lines</a>
    </li>
    {% if assays %}
        <li class="dataTab">
            <a href="/study/{{ study.slug }}/">Data</a>
        </li>
    {% endif %}
</ui>


{% if writable %}
    <div class="pageSection minor disclose{% if not new_line.is_editing and new_line.errors|length == 0 %} discloseHide{% endif %}" id="lineMain">

        <div class="sectionContent discloseBody">
            <form action="" class="line-edit edd-form" method="POST">
                {% csrf_token %}
                {{ new_line.as_p }}
                <p class="line-edit-meta">
                    <span class="edd-label">
                        <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                        <input type="hidden" class="line-meta-type" value="" />
                    </span>
                    <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                    <button class="line-meta-add">Add Value</button>
                </p>
                <button type="submit" name="action" value="line">{% if new_line.is_editing %}Edit Line{% else %}Add Line{% endif %}</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if writable %}
        <div id="addNewLineForm" title="Add New Line">
        <div class="sectionContent discloseBody">
            <form action="" class="line-edit edd-form" method="POST">
                {% csrf_token %}
                {{ new_line.as_p }}
                <p class="line-edit-meta">
                    <span class="edd-label">
                        <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                        <input type="hidden" class="line-meta-type" value="" />
                    </span>
                    <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                    <button class="line-meta-add">Add Value</button>
                </p>
                <button type="submit" name="action" value="line">{% if new_line.is_editing %}Edit Line{% else %}Add Line{% endif %}</button>
            </form>
        </div>
    </div>
{% endif %}

<form id="line-action-form" action="" class="line-action" method="POST">
    {% csrf_token %}
    <div class="pageSection">
        {# studyLinesTable will have checkboxes; name=lineId, value=pk #}
        <div class="noLines" style="display: none">
            <h3>This study has no lines.</h3>
            <h3>What is a line?
                <input type="button" style="display:inline" id="show" value="show"/>
            </h3>
            <div id="lineDescription" style="display:none">
                <p>A line describes a single culture or line of enquiry within a Study. A single flask with a E. coli strain
                    culture, or a well of S. cerevisiae in a plate, are examples in the EDD. Lines are grouped together
                    under a Study in the EDD hierarchy, therefore a Study contains a set of Lines.  A line defines the
                    experimental conditions and associated meta data for a (in this example) single flask.  Some examples
                    that might be defined in a line are strain, carbon source, part id, metabolicmics time, and shaking
                    speed.  Users can manually add lines, or download the study template for bulk uploads.
                </p>
                <img src="{% static 'main/images/line_assay_tree.png' %}" />
            </div>
        </div>
        <div class="scroll">
            <table id="studyLinesTable"></table>
        </div>

        <div id="linesActionPanel" class="sectionActions">
            <span id="linesSelectedCell">0 selected</span>
            {% if writable %}
                <div id="disabledButtons">
                    <button id="cloneLineButton" type="submit" name="action" disabled="true" value="clone">Clone Line</button>
                    <button id="editLineButton" disabled="true">Edit Line</button>
                    <button id="groupLineButton" type="submit" disabled="true" name="action" value="group">Group As Replicates</button>
                    <button type="button"  id="addAssayToLine" disabled="true">Add Assays To Selected Lines</button>
                    <button type="button"id="line_worklist" class="btn btn-primary btn-lg actionButton disabled-button"
                            disabled>Generate  </br> Worklist</button>
                    <button type="button" id="line-export"class="btn btn-primary btn-lg actionButton disabled-button"
                            disabled>Export </br> Data</button>
                    </br> </br>
                    <input type="radio" id="line_action_mark" name="line_action" value="edit"/>
                    <label for="line_action_mark">
                        <span>Mark as</span>
                        <select name="disable">
                            <option value="true">Disabled</option>
                            <option value="false">Enabled</option>
                        </select>
                    </label>
                    <button type="submit" name="action" value="line_action">Take Action</button>
                </div>
            {% endif %}

            <div id="line-popup" title="Export as">
                <input type="radio" id="line_action_export" checked="checked" name="line_action" value="export" />
                <label for="line_action_export">
                    <span>Export Lines</span>
                    <select name="export">
                        <option value="csv">as CSV/etc</option>
                        <option value="sbml">as SBML</option>
                        <option value="worklist">as Worklist</option>
                        <option value="study">to New Study</option>
                    </select>
                </label>
                <button type="submit" name="action" value="line_action">Take Action</button>
            </div>
        </div>
    </div>

    {% if writable %}
        <div id="assayMain" title="{% if new_assay.is_editing %}Edit Assay{% else %}Add Assays To Selected Lines{% endif %}">
            <div class="sectionHead">
                <span class="discloseLink"><a href="#"></a></span>
            </div>
            <div class="sectionContent discloseBody assay-edit edd-form">
                {{ new_assay.as_p }}
                <button type="submit" name="action" value="assay">{% if new_assay.is_editing %}Edit Assay{% else %}Add Assay{% endif %}</button>
            </div>
        </div>
    {% endif %}
</form>

{% endblock content %}