{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Disclosure.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/EDDEditing.js' %}"></script>

<!-- Declare JS objects for later (will be fetched via AJAX) -->
<script type="text/javascript">
EDDData = { }; // Declaring the object for later use

EDDData.currentUserID = {{ user.pk }};

EDDData.SpeciesIDs = [];
EDDData.Species = {"602":{"spn":"M_D_Mannose_1_phosphate_C6H11O9P","cp":"man1p","sid":"M_man1p_c"},"715":{"spn":"M_Inorganic_triphosphate_HO10P3","cp":"pppi","sid":"M_pppi_c"}};

EDDData.ExchangeIDs = [];
EDDData.Exchanges = {"180":{"exn":"R_L_Valine_exchange","exid":"R_EX_val_L_e_","rid":"M_val_L_e","cp":""},"133":{"exn":"R_D_Mannose_6_phosphate_exchange","rid":"M_man6p_e","exid":"R_EX_man6p_e_","cp":"man6p"}};

</script>
<script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/Autocomplete.js' %}"></script>

<!-- style for SVG graphics -->
<style type="text/css">
  .cP { stroke:rgba(0,0,0,1); stroke-width:4px; stroke-linecap:round; }
  .cV { stroke:rgba(0,0,230,1); stroke-width:4px; stroke-linecap:round; }
  .cE { stroke:rgba(255,128,0,1); stroke-width:4px; stroke-linecap:round; }
  .cT { stroke:rgba(0,0,0,1); stroke-width:4px; stroke-linecap:round; }
</style>

{% endblock js_css %}

{% block head_title %}
  SBML Export For {{ study.name }}
{% endblock head_title %}

{% block body_title %}
  SBML Export For {{ study.name }}
{% endblock body_title %}

{% block content %}

{% if error_message %}
<h3 style="color: #ff0000; font-weight: bold">{{ error_message }}</h3>

{% else %}

<!-- Line info section -->
<div class="pageSection">
  {% include "main/include_linetable.html" %}



<form method="post" id="exportForm" action="/study/{{ study.id }}/sbml/export">

<input type="hidden" name="selectedLineIDs" value="{{ selected_line_ids }}" />
<input type="hidden" name="formSubmittedFromSBMLExport" value="1" />

<!-- Export settings section -->
<div class="pageSection" style="margin:10px;" id="allstatusmain">

<div class="sectionHead">Export Settings:
  <span class="neutral"> 1 Warning</span>
</div>

<!-- Step 1 -->
<input type="hidden"
  id="statusstep0show"
  name="statusstep0show"
  value="0"/>
<div class="sectionChapter" id="statusstep0hidden" style="cursor:pointer;"
  onclick="Disclose.click(this);trackShown('statusstep0show', 1);"
  hidethese="statusstep0hidden"
  showthese="statusstep0shown,statusstep0main">
  <span style="color:blue;">&#x25BA;</span>
    Step 1: Select the SBML template file to use for export
    <span class="good"></span>
</div>

<div class="sectionChapter off" id="statusstep0shown" style="cursor:pointer;"
    onclick="Disclose.click(this);trackShown('statusstep0show', 0);"
    hidethese="statusstep0shown,statusstep0main"
    showthese="statusstep0hidden">
  <span style="color:blue;">&#x25BC;</span>
    Step 1: Select the SBML template file to use for export
    <span class="good"></span>
</div>


<div class="sectionContent off" id="statusstep0main" style="font-size:12px;">
  <table style="width:95%">
    <tr>
      <td>
        SBML Template:
      <select name="chosenmap" id="chosenmap" onchange="submitForRefresh();">
        {% for template in data.template_info %}
          {% if template.is_selected %}
            <option value="{{ template.id }}" selected="selected">
              {{ template.file_name }}</option>
          {% else %}
            <option value="{{ template.id }}">
              {{ template.file_name }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <span id="templateWaitBadge" class="waitbadge"></span>
      </td>
      <td style="text-align:right">
        <!-- XXX actual URL TBD -->
        <a href="/admin/templates">Manage Templates</a>
      </td>
    </tr>
  </table>
</div>

<!--

Step 2: Optical Density (OD600)

-->
<input type="hidden"
      id="statusstep1show"
      name="statusstep1show"
      value="0"/>
<div class="sectionChapter off" id="statusstep1hidden" style="cursor:pointer;"
    onclick="Disclose.click(this);trackShown('statusstep1show', 1);"
    hidethese="statusstep1hidden"
    showthese="statusstep1shown,statusstep1main">
  <span style="color:blue;">&#x25BA;</span> Step 2: Find OD Data:
    <span class="neutral"> 1 Warning</span>
</div>
<div class="sectionChapter" id="statusstep1shown" style="cursor:pointer;"
    onclick="Disclose.click(this);trackShown('statusstep1show', 0);"
    hidethese="statusstep1shown,statusstep1main"
    showthese="statusstep1hidden">
  <span style="color:blue;">&#x25BC;</span> Step 2: Find OD Data:
    <span class="neutral"> 1 Warning</span>
</div>
<div class="sectionContent" id="statusstep1main" style="font-size:12px;">
  {% if not data.have_gcdw_metadata %}
  <div class="neutral">
    Cannot find the gCDW/L/OD600 metadata type by name!
    You should probably create one.
  </div>
  {% endif %}
  <div style="border:1px solid #888;
        margin:3px 0px;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;">
    <table cellpadding="0" cellspacing="0" class="dataTable dragboxes">
      <tr>
        <td>Assay</td>
        <td colspan="2">Measurement</td>
        <td></td>
        <td colspan="2"></td>
      </tr>
      {% for measurement in data.export_od_measurements %}
      <tr>
        <td class="nowrap">
          {{ measurement.assay_name }}
        </td>
        <td class="nowrap popupcell">
          <input type="checkbox"
              name="measurement{{ measurement.id }}include"
              id="measurement{{ measurement.id }}include"
              checked="checked"
              value="{{ measurement.id }}"/>Optical Density
        </td>
        <td class="nowrap" style="text-align:right;">
        </td>
        <td></td>
        <td style="text-align:right;width:30px;">
          {{ measurement.n_points }}
        </td>
        <td style="padding:3px 2px 0px 2px;width:60%;">
          <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
              version="1.2" width="100%" height="10px" viewBox="0 0 470 10">
            <path fill="rgba(0,0,0,0.0.05)"
              stroke="rgba(0,0,0,0.05)"
              d="M10,5h450"
              style="stroke-width:2px;"
              stroke-width="2"></path>
          {% for md in measurement.data_points %}
            <path class="cP" d="M{{ md.rx }},1v8">
              <title>{{ md.title }}</title>
            </path>
          {% endfor %}
          </svg>
        </td>
      </tr>
      {% endfor %}<!-- measurements -->
    </table>
  </div>
  {% if data.used_generic_GCDW_in_assays %}
    <div class="neutral">OD600 measurements need a calibration factor to be
      converted into gCDW/L.  You can add this as metadata, at the Assay or
      Line level.  For now, the EDD is using the default gCDW/L/OD600 value
      of <b>0.65</b> for {{ data.used_generic_GCDW_in_assays }} of your
      selected Measurements.</div>
  {% endif %}
  <div>Located and consolidated useful Optical Data for
    {{ data.n_lines_with_useful_od }} Lines.</div>
</div>

<!--

Step 3 (HPLC) 

This is more complicated than the previous section, because it is designed to
handle multiple protocols, and there is an additional "input" checkbox for
each measurement.

-->
<input type="hidden"
    id="statusstep2show"
    name="statusstep2show"
    value="0"/>

<div class="sectionChapter" id="statusstep2hidden" style="cursor:pointer;"
      onclick="Disclose.click(this);trackShown('statusstep2show', 1);"
      hidethese="statusstep2hidden"
      showthese="statusstep2shown,statusstep2main">
    <span style="color:blue;">&#x25BA;</span>
      Step 3: Select HPLC-like Measurements, and inputs
    <span class="good"></span>
</div>
<div class="sectionChapter off" id="statusstep2shown" style="cursor:pointer;"
    onclick="Disclose.click(this);trackShown('statusstep2show', 0);"
    hidethese="statusstep2shown,statusstep2main"
    showthese="statusstep2hidden">
  <span style="color:blue;">&#x25BC;</span>
    Step 3: Select HPLC-like Measurements, and inputs
  <span class="good"></span>
</div>

<div class="sectionContent off" id="statusstep2main" style="font-size:12px;">
{% if data.n_hplc_measurements %}
  {% for protocol in data.export_hplc_measurements %}
  <div>Protocol <b>{{ protocol.name }}</b></div>
  <div style="border:1px solid #888;
          margin:3px 0px;
          border-radius:4px;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;">
    <!-- TODO make as much of this as possible more modular, and/or use JS -->
    <table cellpadding="0" cellspacing="0" class="dataTable dragboxes">
      <tr>
        <td>Assay</td>
        <td colspan="2">Measurement</td>
        <td style="text-align:right;width:60px;">Is Input</td>
        <td colspan="2"></td>
      </tr>
      {% for assay in protocol.assays %}
        {% for measurement in assay.measurements %}
      <tr>
        <td class="nowrap">
          {% if forloop.counter == 1 %}
            {{ assay.name }}
          {% endif %}
        </td>
        <td class="nowrap popupcell">
          <input type="checkbox"
            name="{{ measurement.type }}{{ measurement.id }}include"
            id="{{ measurement.type }}{{ measurement.id }}include"
            {% if measurement.include %}
              checked="checked"
            {% endif %}
            value="{{ measurement.id }}"/>{{ measurement.name }}
        </td>
        <td class="nowrap" style="text-align:right;">{{ measurement.units }}
        </td>
        <td style="text-align:right;">
          {% if measurement.type == "measurement" %}
            {% if measurement.format == 0 %}<!-- not a carbon ratio -->
            <input type="checkbox"
              name="measurement{{ measurement.id }}input"
              id="measurement{{ measurement.id }}input"
              {% if measurement.input %}
                checked="checked"
              {% endif %}
              value="{{ measurement.id }}"/>
            {% endif %}
          {% endif %}
        </td>
        <td style="text-align:right;width:30px;">
          ({{ measurement.n_points }})
        </td>
        <td style="padding:3px 2px 0px 2px;width:60%;">
          <svg xmlns="http://www.w3.org/2000/svg"
              version="1.2"
              width="100%"
              height="10px"
              viewBox="0 0 470 10"
              preserveAspectRatio="none">
            <path fill="rgba(0,0,0,0.0.05)"
              stroke="rgba(0,0,0,0.05)"
              d="M10,5h450"
              style="stroke-width:2px;"
              stroke-width="2"></path>
            {% for md in measurement.data_points %}
              {% if measurement.type != "measurement" %}
                <path class="cT" d="M{{ md.rx }},1v8">
              {% elif measurement.ay == None %}
                <path class="cE" d="M{{ md.rx }},1v8">
              {% elif measurement.format == 0 %}
                <path class="cP" d="M{{ md.rx }},1v8">
              {% else %}
                <path class="cV" d="M{{ md.rx }},1v8">
              {% endif %}
                  <title>{{ md.title }}</title>
                </path>
            {% endfor %}
          </svg>
        </td>
      </tr>
      {% endfor %}<!-- assay.measurements -->
      {% endfor %}<!-- protocol.assays -->
    </table>
  </div>
  {% endfor %}<!-- protocols -->

{% elif data.n_hplc_protocols %}
  <div class="neutral">
    No usable HPLC-based measurements are present.
    To be usable, measurements must have a timestamp somewhere inside the
    range of the OD measurements.  Metabolite measurements must be in any
    of the following units:<b>mg/L</b>, <b>g/L</b>, <b>mol/L</b>,
    <b>mM</b>, <b>uM</b>, or <b>Cmol/L</b>.
  </div>
{% else %}
  <div class="neutral">Cannot find any Protocols with "HPLC" in the name!</div>
{% endif %}<!-- if data.n_usable_hplc_protocols -->

</div><!-- statusstep2main -->


<!--

Step 4 (LC-MS)

(This is almost identical to the previous section for HPLC protocols)

-->

<input type="hidden"
      id="statusstep3show"
      name="statusstep3show"
      value="0"/>

<div class="sectionChapter" id="statusstep3hidden" style="cursor:pointer;"
      onclick="Disclose.click(this);trackShown('statusstep3show', 1);"
      hidethese="statusstep3hidden"
      showthese="statusstep3shown,statusstep3main">
  <span style="color:blue;">&#x25BA;</span>
  Step 4: Select LCMS-like Measurements, and inputs
  <span class="good"></span>
</div>
<div class="sectionChapter off" id="statusstep3shown" style="cursor:pointer;"
      onclick="Disclose.click(this);trackShown('statusstep3show', 0);"
      hidethese="statusstep3shown,statusstep3main"
      showthese="statusstep3hidden">
  <span style="color:blue;">&#x25BC;</span>
    Step 4: Select LCMS-like Measurements, and inputs
  <span class="good"></span>
</div>

<div class="sectionContent off" id="statusstep3main" style="font-size:12px;">
{% if data.n_lcms_measurements %}
  {% for protocol in data.export_lcms_measurements %}
  <div>Protocol <b>{{ protocol.name }}</b></div>
  <div style="border:1px solid #888;
          margin:3px 0px;
          border-radius:4px;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;">
    <!-- TODO make as much of this as possible more modular, and/or use JS -->
    <table cellpadding="0" cellspacing="0" class="dataTable dragboxes">
      <tr>
        <td>Assay</td>
        <td colspan="2">Measurement</td>
        <td style="text-align:right;width:60px;">Is Input</td>
        <td colspan="2"></td>
      </tr>
      {% for assay in protocol.assays %}
        {% for measurement in assay.measurements %}
      <tr>
        <td class="nowrap">
          {% if forloop.counter == 1 %}
            {{ assay.name }}
          {% endif %}
        </td>
        <td class="nowrap popupcell">
          <input type="checkbox"
            name="{{ measurement.type }}{{ measurement.id }}include"
            id="{{ measurement.type }}{{ measurement.id }}include"
            {% if measurement.include %}
              checked="checked"
            {% endif %}
            value="{{ measurement.id }}"/>{{ measurement.name }}
        </td>
        <td class="nowrap" style="text-align:right;">
          {{ measurement.units }}
        </td>
        <td style="text-align:right;">
          {% if measurement.type == "measurement" %}
            {% if measurement.format == 0 %}<!-- not a carbon ratio -->
          <input type="checkbox"
            name="measurement{{ measurement.id }}input"
            id="measurement{{ measurement.id }}input"
              {% if measurement.input %}
              checked="checked"
              {% endif %}
            value="{{ measurement.id }}"/>
            {% endif %}
          {% endif %}
        </td>
        <td style="text-align:right;width:30px;">
          {{ measurement.n_points }}
        </td>
        <td style="padding:3px 2px 0px 2px;width:60%;">
          <svg xmlns="http://www.w3.org/2000/svg"
              version="1.2"
              width="100%"
              height="10px"
              viewBox="0 0 470 10"
              preserveAspectRatio="none">
            <path fill="rgba(0,0,0,0.0.05)"
              stroke="rgba(0,0,0,0.05)"
              d="M10,5h450"
              style="stroke-width:2px;"
              stroke-width="2"></path>
            {% for md in measurement.data_points %}
              {% if measurement.type != "measurement" %}
                <path class="cT" d="M{{ md.rx }},1v8">
              {% elif measurement.ay == None %}
                <path class="cE" d="M{{ md.rx }},1v8">
              {% elif measurement.format == 0 %}
                <path class="cP" d="M{{ md.rx }},1v8">
              {% else %}
                <path class="cV" d="M{{ md.rx }},1v8">
              {% endif %}
                  <title>{{ md.title }}</title>
                </path>
            {% endfor %}
          </svg>
        </td>
      </tr>
      {% endfor %}<!-- measurements -->
      {% endfor %}<!-- assays -->
    </table>
  </div>
  {% endfor %}<!-- protocols -->

{% elif data.n_lcms_protocols %}
  <div>
    No usable LC-MS-based measurements are present.
    To be usable, measurements must have a timestamp somewhere inside the
    range of the OD measurements, and either be carbon ratios, or a single
    number in any of the following units: <b>mg/L</b>, <b>g/L</b>,
    <b>mol/L</b>, <b>mM</b>, <b>uM</b>, or <b>Cmol/L</b>.
  </div>
{% else %}
  <div class="neutral">
    Cannot find any Protocols with "GCMS", "LCMS", or variants like "LC-MS" or
    "LC/MS" in the name!
  </div>
{% endif %}<!-- data.n_usable_lcms_measurements -->

</div>


<!--

Step 5 (RAMOS O2/CO2)

-->

<input type="hidden"
        id="statusstep4show"
        name="statusstep4show"
        value="0"/>

<div class="sectionChapter" id="statusstep4hidden" style="cursor:pointer;"
        onclick="Disclose.click(this);trackShown('statusstep4show', 1);"
        hidethese="statusstep4hidden"
        showthese="statusstep4shown,statusstep4main">
  <span style="color:blue;">&#x25BA;</span>
    Step 5: Select RAMOS O2/CO2 Measurements<span class="good"></span>
</div>

<div class="sectionChapter off" id="statusstep4shown" style="cursor:pointer;"
        onclick="Disclose.click(this);trackShown('statusstep4show', 0);"
        hidethese="statusstep4shown,statusstep4main"
        showthese="statusstep4hidden">
      <span style="color:blue;">&#x25BC;</span>
    Step 5: Select RAMOS O2/CO2 Measurements<span class="good"></span>
</div>

<div class="sectionContent off" id="statusstep4main"
      style="font-size:12px;">
  {% if data.n_ramos_measurements %}
    {% if data.need_ramos_units_warning %}
  <div class="neutral">
    RAMOS measurements must be supplied in units of <b>mol/L/hr</b>,
    but some of your data has no units labels assigned at all.
    Since the RAMOS equipment generates measurements in units of
    <b>mol/L/hr</b> by default, we will assume your data is in the correct
    units.  This is dangerous, and at some point you should probably add unit
    labels to your data.
  </div>
    {% endif %}
    {% for protocol in data.export_ramos_measurements %}
  <div style="border:1px solid #888;
              margin:3px 0px;
              border-radius:4px;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;">
    <!-- TODO make as much of this as possible more modular, and/or use JS -->
    <table cellpadding="0" cellspacing="0" class="dataTable dragboxes">
      <tr>
        <td>Assay</td>
        <td colspan="2">Measurement</td>
        <td style="text-align:right;width:60px;">Is Input</td>
        <td colspan="2"></td>
      </tr>
      {% for assay in protocol.assays %}
        {% for measurement in assay.measurements %}
      <tr>
        <td class="nowrap">
          {% if forloop.counter == 1 %}
            {{ assay.name }}
          {% endif %}
        </td>
        <td class="nowrap popupcell">
          <input type="checkbox"
            name="{{ measurement.type }}{{ measurement.id }}include"
            id="{{ measurement.type }}{{ measurement.id }}include"
            {% if measurement.include %}
            checked="checked"
            {% endif %}
            value="{{ measurement.id }}"/>{{ measurement.name }}
        </td>
        <td class="nowrap" style="text-align:right;">
          {{ measurement.units }}
        </td>
        <td style="text-align:right;">
          {% if measurement.type == "measurement" %}
          <input type="checkbox"
            name="measurement{{ measurement.id }}input"
            id="measurement{{ measurement.id }}input"
            {% if measurement.input %}
            checked="checked"
            {% endif %}
            value="{{ measurement.id }}"/>
          {% endif %}
        </td>
        <td style="text-align:right;width:30px;">
          {{ measurement.n_points }}
        </td>
        <td style="padding:3px 2px 0px 2px;width:60%;">
          <svg xmlns="http://www.w3.org/2000/svg"
              version="1.2"
              width="100%"
              height="10px"
              viewBox="0 0 470 10"
              preserveAspectRatio="none">
            <path fill="rgba(0,0,0,0.0.05)"
              stroke="rgba(0,0,0,0.05)"
              d="M10,5h450"
              style="stroke-width:2px;"
              stroke-width="2"></path>
            {% for md in measurement.data_points %}
              {% if measurement.ay == None %}
                <path class="cE" d="M{{ md.rx }},1v8">
              {% elif measurement.format == 0 %}
                <path class="cP" d="M{{ md.rx }},1v8">
              {% endif %}
                  <title>{{ md.title }}</title>
                </path>
            {% endfor %}
          </svg>
        </td>
      </tr>

    </table>
  </div>
  {% endfor %}<!-- data.export_ramos_measurements -->

  {% elif data.n_ramos_protocols %}
    <div>No usable O2/CO2 (RAMOS-based) measurements are present.
      To be usable, measurements must have a timestamp somewhere inside the
      range of the OD measurements, and be in units of <b>mol/L/hr</b>.
    </div>
  {% else %}
    <div class="neutral">
      Cannot find any Protocols with "O2" and "CO2" in the name!
    </div>
  {% endif %}
</div>


<!--

Step 6: transcriptomics and proteomics

-->

<input type="hidden"
        id="statusstep5show"
        name="statusstep5show"
        value="0"/>

<div class="sectionChapter" id="statusstep5hidden" style="cursor:pointer;"
      onclick="Disclose.click(this);trackShown('statusstep5show', 1);"
      hidethese="statusstep5hidden"
      showthese="statusstep5shown,statusstep5main">
  <span style="color:blue;">&#x25BA;</span>
    Step 5: Select Transcriptomics/Proteomics Measurements
  <span class="good"></span>
</div>
<div class="sectionChapter off" id="statusstep5shown" style="cursor:pointer;"
      onclick="Disclose.click(this);trackShown('statusstep5show', 0);"
      hidethese="statusstep5shown,statusstep5main"
      showthese="statusstep5hidden">
  <span style="color:blue;">&#x25BC;</span>
    Step 5: Select Transcriptomics/Proteomics Measurements
    <span class="good"></span>
</div>
<div class="sectionContent off" id="statusstep5main" style="font-size:12px;">
{% if data.n_trans_prot_protocols %}
  {% if data.n_trans_prot_measurements %}
    {% for protocol in data.export_trans_prot_measurements %}
  <div>Protocol <b>{{ protocol.name }}</b></div>
  <div style="border:1px solid #888;
          margin:3px 0px;
          border-radius:4px;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;">
    <!-- TODO make as much of this as possible more modular, and/or use JS -->
    <table cellpadding="0" cellspacing="0" class="dataTable dragboxes">
      <tr>
        <td>Assay</td>
        <td colspan="2">Measurement</td>
        <td style="text-align:right;width:60px;">Is Input</td>
        <td colspan="2"></td>
      </tr>
      {% for assay in protocol.assays %}
        {% for measurement in assay.measurements %}
      <tr>
        <td class="nowrap">
          {% if forloop.counter == 1 %}
            {{ assay.name }}
          {% endif %}
        </td>
        <td class="nowrap popupcell">
          <input type="checkbox"
            name="{{ measurement.type }}{{ measurement.id }}include"
            id="{{ measurement.type }}{{ measurement.id }}include"
            {% if measurement.include %}
              checked="checked"
            {% endif %}
            value="{{ measurement.id }}"/>{{ measurement.name }}
        </td>
        <td class="nowrap" style="text-align:right;">
          {{ measurement.units }}
        </td>
        <td style="text-align:right;">
          {% if measurement.type == "measurement" %}
            {% if measurement.format == 0 %}<!-- not a carbon ratio -->
          <input type="checkbox"
            name="measurement{{ measurement.id }}input"
            id="measurement{{ measurement.id }}input"
              {% if measurement.input %}
              checked="checked"
              {% endif %}
            value="{{ measurement.id }}"/>
            {% endif %}
          {% endif %}
        </td>
        <td style="text-align:right;width:30px;">
          {{ measurement.n_points }}
        </td>
        <td style="padding:3px 2px 0px 2px;width:60%;">
          <svg xmlns="http://www.w3.org/2000/svg"
              version="1.2"
              width="100%"
              height="10px"
              viewBox="0 0 470 10"
              preserveAspectRatio="none">
            <path fill="rgba(0,0,0,0.0.05)"
              stroke="rgba(0,0,0,0.05)"
              d="M10,5h450"
              style="stroke-width:2px;"
              stroke-width="2"></path>
            {% for md in measurement.data_points %}
              {% if measurement.type != "measurement" %}
                <path class="cT" d="M{{ md.rx }},1v8">
              {% elif measurement.ay == None %}
                <path class="cE" d="M{{ md.rx }},1v8">
              {% elif measurement.format == 0 %}
                <path class="cP" d="M{{ md.rx }},1v8">
              {% else %}
                <path class="cV" d="M{{ md.rx }},1v8">
              {% endif %}
                  <title>{{ md.title }}</title>
                </path>
            {% endfor %}
          </svg>
        </td>
      </tr>
      {% endfor %}<!-- measurements -->
      {% endfor %}<!-- assays -->
    </table>
  </div>
    {% endfor %}
  {% else %}
  <div class="neutral">
    No usable Transcriptomics- or Proteomics-based Protocols have usable data.
  </div>
  {% endif %}
{% else %}
  <div class="neutral">
    Cannot find any Protocols with "Proteomics" or "Transcriptomics" in the
    name!
  </div>
{% endif %}
</div>


<!--

Step 7: convert units and calculate flux values

-->

<input type="hidden"
       id="statusstep6show"
       name="statusstep6show"
       value="0"/>
<div class="sectionChapter" id="statusstep6hidden" style="cursor:pointer;"
        onclick="Disclose.click(this);trackShown('statusstep6show', 1);"
        hidethese="statusstep6hidden"
        showthese="statusstep6shown,statusstep6main">
  <span style="color:blue;">&#x25BA;</span>
    Step 7: Convert units and calculate all selected flux values
  <span class="good"></span>
</div>
<div class="sectionChapter off" id="statusstep6shown" style="cursor:pointer;"
     onclick="Disclose.click(this);trackShown('statusstep6show', 0);"
     hidethese="statusstep6shown,statusstep6main"
     showthese="statusstep6hidden">
  <span style="color:blue;">&#x25BC;</span>
    Step 7: Convert units and calculate all selected flux values
  <span class="good"></span>
</div>

<div class="sectionContent off" id="statusstep6main" style="font-size:12px;">

<!-- loop over metabolites -->
{% for measurement in data.all_checked_measurements %}
  <div class="subSectionChapter" id="FCStep1hidden" style="cursor:pointer;"
      onclick="Disclose.click(this);"
      hidethese="FCStep1hidden"
      showthese="FCStep1shown,FCStep1main">
    <span style="color:blue;">&#x25BA;</span>
      Metabolite <b>{{ measurement.metabolite_name }}</b> for Assay
        <b>{{ measurement.assay }}</b>:
  </div>
  <div class="subSectionChapter off" id="FCStep1shown" style="cursor:pointer;"
      onclick="Disclose.click(this);"
      hidethese="FCStep1shown,FCStep1main"
      showthese="FCStep1hidden">
    <span style="color:blue;">&#x25BC;</span>
      Metabolite <b>{{ measurement.metabolite_name }}</b> for Assay
        <b>{{ measurement.assay }}</b>:
  </div>
  <div class="subSectionContent off" id="FCStep1main" style="font-size:12px;">
  {% for md in measurement.data %}
    <div>
      Time <b>{{ md.time }}</b>h has a value of {{ md.value }}<b>
        {{ md.units }}</b>.
    {% if md.interpolated %}
        <span class="neutral">(Interpolated.)</span>
    {% endif %}
    </div>
  {% endfor %}<!-- measurement.data -->
  {% for interval in measurement.intervals %}
    <div>Interval <b>{{ interval.start }}</b> to <b>{{ interval.end }}</b>
          has delta of <b>{{ interval.delta }}</b>{{ interval.units }}.
    </div>
    <div>
      Calculated Flux: {{ interval.flux_eqn }} = <b>{{ interval.flux }}</b>
    {% if interval.interpolated %}
      <span class="neutral">(Interpolated.)</span>
    {% endif %}
    </div>
    <!-- TODO error handling output -->
  {% endfor %}<!-- measurement.intervals -->
  </div>

{% endfor %}<!-- data.all_checked_measurements -->
</div>


<!--

Step 8

-->
    </div><input type="hidden"
        id="statusstep7show"
        name="statusstep7show"
        value="0"
      /><div class="sectionChapter" id="statusstep7hidden" style="cursor:pointer;"
        onclick="Disclose.click(this);trackShown('statusstep7show', 1);"
        hidethese="statusstep7hidden"
        showthese="statusstep7shown,statusstep7main">
      <span style="color:blue;">&#x25BA;</span> Step 8: Pre-parse SBML model and match exchanges and species to measurements<span class="good"></span>
    </div>
    <div class="sectionChapter off" id="statusstep7shown" style="cursor:pointer;"
        onclick="Disclose.click(this);trackShown('statusstep7show', 0);"
        hidethese="statusstep7shown,statusstep7main"
        showthese="statusstep7hidden">
      <span style="color:blue;">&#x25BC;</span> Step 8: Pre-parse SBML model and match exchanges and species to measurements<span class="good"></span>
    </div>
    <div class="sectionContent off" id="statusstep7main"
      style="font-size:12px;">
      <div class="subSectionChapter" id="SMBLSNParseStephidden" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLSNParseStephidden"
        showthese="SMBLSNParseStepshown,SMBLSNParseStepmain">
      <span style="color:blue;">&#x25BA;</span> Detected <b>906</b> species,
    and parsed <b>0</b> species notes sections.
    </div>
    <div class="subSectionChapter off" id="SMBLSNParseStepshown" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLSNParseStepshown,SMBLSNParseStepmain"
        showthese="SMBLSNParseStephidden">
      <span style="color:blue;">&#x25BC;</span> Detected <b>906</b> species,
    and parsed <b>0</b> species notes sections.
    </div>
    <div class="subSectionContent off" id="SMBLSNParseStepmain"
      style="font-size:12px;">
      <p>Parsing all species and species notes ... ... finished.</p><ul><b>Key:</b><li><span class="bad">D</span> There appears to be more than one species
        declared with this ID!  Only the first encountered with valid notes will be used.</li>
      <li><span class="good">#</span> Notes were found and # data sections were parsed in the notes.</li>
    </ul>
    </div><div class="subSectionChapter" id="SMBLRNParseStephidden" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLRNParseStephidden"
        showthese="SMBLRNParseStepshown,SMBLRNParseStepmain">
      <span style="color:blue;">&#x25BA;</span> Detected <b>1077</b> reactions,
    and parsed <b>1077</b> reaction notes sections.
    </div>
    <div class="subSectionChapter off" id="SMBLRNParseStepshown" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLRNParseStepshown,SMBLRNParseStepmain"
        showthese="SMBLRNParseStephidden">
      <span style="color:blue;">&#x25BC;</span> Detected <b>1077</b> reactions,
    and parsed <b>1077</b> reaction notes sections.
    </div>
    <div class="subSectionContent off" id="SMBLRNParseStepmain"
      style="font-size:12px;">
      <p>Parsing all reaction notes ...
      <!-- Loop over reaction notes -->
      {% for reaction_note in reaction_notes %}
      <span class="popup">(<span class="{{ rn.status }}">{{ rn.species_id }}
        </span>)<span class="popupinfo">{{ rn.entity }}</span></span>,
      {% endfor %}
      <!-- end loop -->
      ... finished.</p>
    <ul><b>Key:</b>
      <li><span class="bad">D</span> There appears to be more than one reaction
        declared with this ID!  Only the first encountered with valid notes
        will be used.</li>
      <li><span class="good">#</span> Notes were found and # data sections were parsed in the notes.</li>
    </ul>
    <p><b>Count of each note type detected:</b>
      <ul>
        <li>SUBSYSTEM : {{ data.n_subsystem_notes }}</li>
        <li>PROTEIN_ASSOCIATION : {{ data.n_protein_notes }}</li>
        <li>GENE_ASSOCIATION : {{ data.n_gene_notes }}</li>
        <li>PROTEIN_CLASS : {{ data.n_protein_class_notes }}</li>
      </ul>
    </p>
    </div>

  <div class="subSectionChapter">Detected associations for
    {{ data.n_gene_associations }} different genes,
        from notes in {{ data.n_gene_assoc_reactions }} reactions.</div>
  <div class="subSectionChapter">Detected associations for
    {{ data.n_protein_associations }} different proteins,
      from notes in {{ data.n_protein_assoc_reactions }} reactions.</div>
  <div class="subSectionChapter" id="SMBLRParseStephidden" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLRParseStephidden"
        showthese="SMBLRParseStepshown,SMBLRParseStepmain">
      <span style="color:blue;">&#x25BA;</span> Number of exchanges detected in this model: <b>{{ data.n_exchanges }}</b>
    </div>
    <div class="subSectionChapter off" id="SMBLRParseStepshown" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLRParseStepshown,SMBLRParseStepmain"
        showthese="SMBLRParseStephidden">
      <span style="color:blue;">&#x25BC;</span> Number of exchanges detected in this model: <b>{{ data.n_exchanges }}</b>
    </div>
    <div class="subSectionContent off" id="SMBLRParseStepmain"
      style="font-size:12px;">
      <p>Testing all reactions ...
      <!-- Loop over exchanges -->
      {% for ex in data.exchanges %}
        <span class="popup">(
          <span class="{{ ex.status }}">LB:-999999</span>,
          <span class="good">UB:999999</span>)
          <span class="popupinfo">{{ ex.name }}</span>
            R_S_Propane_1_2_diol_facilitated_transport</span>
        </span>,
      {% endfor %}
      <span class="popup">(
        <span class="bad">3Rs</span>)
        <span class="popupinfo">R_2_dehydro_D_gluconate_reductase__NADH_</span>
      </span>,
      <span class="popup">(<span class="bad">3Rs</span>)
        <span class="popupinfo">
          R_2_dehydro_D_gluconate_reductase__NADPH_</span>
      </span>,
       ... finished.</p>



    <ul><b>Key:</b>
      <li><span class="bad">#Rs</span>
        Wrong # of reactants detected - there must be exactly one.</li>
      <li><span class="bad">#St</span>
        Bad stoichiometry.  The single reactant must be exactly 1 unit of the
        metabolite, not #.  (No fractional exchange allowed.)</li>
      <li><span class="bad">!KN</span>
        The reaction has no kinetic law declared inside it.</li>
      <li><span class="bad">!LB</span>
        The kinetic law has no LOWER_BOUND parameter declared.</li>
      <li><span class="bad">!UB</span>
        The kinetic law has no UPPER_BOUND parameter declared.</li>
      <li><span class="bad">!LB#</span>
        The LOWER_BOUND parameter has no default value declared.
        (Possible structural issue with the SBML model.)</li>
      <li><span class="bad">!UB#</span>
        The UPPER_BOUND parameter has no default value declared.
        (Possible structural issue with the SBML model.)</li>
      <li><span class="bad">D:X</span>
        There appears to be more than one exchange reaction declared for this
        reactant!  Only the first encountered will be used.</li>
      <li><span class="good">LB:#</span>
        The exchange reaction has a valid LOWER_BOUND parameter set to #.</li>
      <li><span class="good">UB:#</span>
        The exchange reaction has a valid UPPER_BOUND parameter set to #.</li>
    </ul>
  </div>

  <div class="subSectionChapter" id="SMBLResolveStephidden" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLResolveStephidden"
        showthese="SMBLResolveStepshown,SMBLResolveStepmain">
      <span style="color:blue;">&#x25BA;</span>
        Of <b>{{ data.n_measurement_types }}</b> measurement types in the EDD,
            <b>545</b> were resolved to species in this model and
            <b>146</b> were not, and
            <b>99</b> were resolved to exchanges in this model and
            <b>592</b> were not.
    </div>
    <div class="subSectionChapter off" id="SMBLResolveStepshown" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLResolveStepshown,SMBLResolveStepmain"
        showthese="SMBLResolveStephidden">
      <span style="color:blue;">&#x25BC;</span> Of <b>691</b> measurement types in the EDD,
            <b>545</b> were resolved to species in this model and
            <b>146</b> were not, and
            <b>99</b> were resolved to exchanges in this model and
            <b>592</b> were not.
    </div>
    <div class="subSectionContent off" id="SMBLResolveStepmain"
      style="font-size:12px;">

      {% for mt_res in data.measurement_type_resolution %}
        {% if not mt_res.species and not mt_res.exchange %}
          <div class="bad">Name <b>{{ mt_res.name }}</b> does not appear to
             have an associated species <b>or</b>exchange reaction.</div>
        {% else %}
          {% if mt_res.species %}
            <div>Name <b>{{ mt_res.name }}</b> resolves to species
              {{ mt_res.species }}.</div>
          {% else %}
            <div class="bad">Name <b>{{ mt_res.name }}</b> does not appear to
              have an associated species.</div>
          {% endif %}
          {% if mt_res.exchange %}
            <div>Name <b>{{ mt_res.name }}</b> resolves via
              {{ mt_res.ex_resolving_name }} to exchange: {{ mt_res.exchange }}
            </div>
          {% else %}
            <div class="bad">Name <b>{{ mt_res.name }}</b> does not appear to
              have an associated exchange reaction.</div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>


  <div class="subSectionChapter" id="SMBLReverseResolveStephidden" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLReverseResolveStephidden"
        showthese="SMBLReverseResolveStepshown,SMBLReverseResolveStepmain">
      <span style="color:blue;">&#x25BA;</span>
        Of <b>{{ data.n_exchanges }}</b> total detected exchanges in this model,
            <b>{{ data.n_exchanges_resolved }}</b> were resolved and
            <b>{{ data.n_exchanges_not_resolved }}</b> were not.
    </div>
    <div class="subSectionChapter off" id="SMBLReverseResolveStepshown" style="cursor:pointer;"
        onclick="Disclose.click(this);"
        hidethese="SMBLReverseResolveStepshown,SMBLReverseResolveStepmain"
        showthese="SMBLReverseResolveStephidden">
      <span style="color:blue;">&#x25BC;</span>
        Of <b>{{ data.n_exchanges }}</b> total detected exchanges in this model,
            <b>{{ data.n_exchanges_resolved }}</b> were resolved and
            <b>{{ data.n_exchanges_not_resolved }}</b> were not.
    </div>
    <div class="subSectionContent off" id="SMBLReverseResolveStepmain"
      style="font-size:12px;">
      {% for rex in data.unresolved_exchanges %}
      <div class="neutral">Reactant <b>{{ rex.reactant }}</b>
                  / exchange <b>{{ rex.exchange }}</b>
                  was not successfully used for resolving.</div>
      {% endfor %}
    </div>

<input  class="off" type="text" size="5" name="fordebugpurposes" id="fordebugpurposes" value="" />

<p><b>Metabolomics:</b>
  Matching available metabolite measurements to species defined in the SBML model...</p>

    <div style="display:inline-block;
              border:1px solid #888;
              margin:3px 4px;
              padding:0px 1px 2px 1px;
              border-radius:4px;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;">
          <table class="dataTable" cellspacing="0">
            <tr>
              <td>Metabolite Type</td>
              <td>Species in model</td>
            </tr>
          {% for sp in data.metabolite_species %}
          <tr>
            <td>
              <p>
                <span class="popup">{{ sp.name }}
                  <span class="popupinfo">{{ sp.name }}
                  </span>:
                </span>
              </p>
            </td>
            <td> 
              <input  type="text"
                  class="autocomplete"
                  autocompletetype="species"
                  autocomplete="off"
                  size="45"
                  name="spmatch{{ sp.id }}"
                  id="spmatch{{ sp.id }}"
                  value="{{ sp.species }}"/>
            </td>
          </tr>
          {% endfor %}
        </table>


        <input type="hidden" name="speciesmatchelements" value="{{ species_match_elements }}"/>
      </div>

  <p><b>Fluxomics:</b> Matching available fluxes to reactants/exchanges defined in the SBML model...</p><div style="display:inline-block;
              border:1px solid #888;
              margin:3px 4px;
              padding:0px 1px 2px 1px;
              border-radius:4px;
              -webkit-border-radius:4px;
              -moz-border-radius:4px;">
          <table class="dataTable" cellspacing="0">
            <tr>
              <td>Metabolite Type</td>
              <td>Reactant / Exchange in model</td>
            </tr>
            <!-- Loop over metabolite fluxomics -->
            {% for fl in data.metabolite_fluxes %}
            <tr>
              <td>
                <p>
                  <span class="popup">{{ fl.name }}
                    <span class="popupinfo">{{ fl.short_name }}</span>:
                  </span>
                </p>
              </td>
              <td> 
                <input  type="text"
                    class="autocomplete"
                    autocompletetype="exchange"
                    autocomplete="off"
                    size="55"
                    name="exmatch{{ fl.id }}"
                    id="exmatch{{ fl.id }}"
                    value="{{ fl.rex }}"/>
              </td>
            </tr>
            {% endfor %}
          </table>
        <input type="hidden" name="fluxmatchelements" value="{{
          data.flux_match_elements }}"/>
      </div>
    </div>
  </div>

<!--

END OF EXPORT SETTINGS

-->
<div style="width:100%;font-size:13px;vertical-align:bottom;text-align:right;" id="updateSettingsTable"><input style="margin:10px 1em 1em 0;" type="submit" name="action" value="Update Settings" />
  </div>


<!--

Downloads section

-->
<div class="pageSection" style="width:90%;">
  <div class="sectionHead">SBML Data Downloads</div>

  <div class="sectionContent" style="font-size:12px;">The following table
    provides links to SBML files prepared for Flux Balance Analysis,
    one file for each usable timestamp.  The numbers in the table indicate
    the number of usable items that are embedded in each file.
    Hover the mouse over any number to display a summary of embedded items,
    and click any number to download the SBML file.
  </div>

  <table cellpadding="0" cellspacing="0"
      class="dataTable sortable"
      id="linesTable">

    <tr class="columnLabels">
      {% for sf in data.sbml_files %}
      <th class="sortheader" style="text-align:right;font-size:0.8em;">
        {{ sf.timestamp }}h
      </th>
      {% endfor %}}
    </tr>

    <tr>
      <!-- loop over SBML files -->
      {% for sf in data.sbml_files %}
      <td class="popupcell">
        <div class="p">
          <div class="q">
            <div class="r nowrap" style="text-align:right;padding-right:5px;">
              <a name="sbmldatafiles" href="#sbmldatafiles"
                onclick="submitForSBMLDownload({{ sf.timestamp }});">
                {{ sf.usable_items }}
              </a>
            </div>
            <div class="s">
              <div class="t">
                <div style="font-weight:bold;">Metabolomics:</div>
                <ul style="margin:2px 2px 4px 2px;padding:0px;">
                  {% for mt in sf.metabolites %}
                    {% if mt.interpolated %}
                      <li>{{ mt.name }}<span class="neutral">*</span></li>
                    {% else %}
                      <li>{{ mt.name }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <div style="font-weight:bold;">Fluxomics:</div>
                <ul style="margin:2px 2px 4px 2px;padding:0px;">
                  {% for fl in sf.fluxes %}
                    {% if fl.interpolated %}
                      <li>{{ fl.name }}<span class="neutral">*</span></li>
                    {% else %}
                      <li>{{ fl.name }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </td>
      {% endfor %}
    </tr>
  </table>

  <input type="hidden" name="download" id="downloadflag" value="" />
  <input type="hidden" name="timestamp" id="downloadtimestamp" value="" />
</div>
</form>
