{% extends "edd_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block js_css %}
  {{ block.super }}
  <script type="text/javascript">
   $(document).on('click', '.disclose .discloseLink', function(e) {
            $(e.target).closest('.disclose').toggleClass('discloseHide');
            return false;
        });
  </script>
  {{ od_select_form.media }}
{% endblock js_css %}

{% block head_title %}
  {% if selection.studies|length == 1 %}
    SBML Export For {{ selection.studies.0.name }} - Experiment Data Depot
  {% else %}
    SBML Export For {{ selection.studies|length }} Studies - Experiment Data Depot
  {% endif %}
{% endblock head_title %}


{% block body_title %}
  SBML Export For {% for study in selection.studies %}
   <a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}
{% endblock body_title %}


{% block status %}
  {% if error_message %}
    <h3 class="bad">{{ error_message }}</h3>
  {% endif %}
  {{ block.super }}
{% endblock status %}


{% block content %}
  <!-- Line info section -->
  {% include "main/include/export/linetable.html" %}

  <form method="post" id="exportForm" action="{% url 'main:sbml' %}">
    {% csrf_token %}
    <!-- carry over selection -->
    {{ select_form.as_p }}
    <!-- Export settings section -->
    <div class="pageSection" style="margin:10px;" id="allstatusmain">
      <!-- Show warnings count, if applicable -->
      <div class="sectionHead">{% trans "Export Settings:" %}
        {% if sbml_warnings|length > 0 %}
          <span class="warn2">
            {% blocktrans count counter=sbml_warnings|length %}
            {{ counter }} warning
            {% plural %}
            {{ counter }} warnings
            {% endblocktrans %}
          </span>
        {% endif %}
      </div>
      <!--
      Step 1: Choose template
      -->
      {% with warnings_list=export_settings_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and export_settings_form.errors|length == 0 %} discloseHide{% endif %}" id="step0">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 1: Select the SBML template file to use for export" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep0main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          <!-- form method of selecting template -->
          {{ export_settings_form.as_p }}
        </div>
      </div>
      {% endwith %}<!-- #step0 -->
      <!--
      Step 2: Optical Density (OD600)
      -->
      {% with warnings_list=od_select_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and od_select_form.errors|length == 0 %} discloseHide{% endif %}" id="step1">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 2: Find OD Data" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep1main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          <!-- measurement selection here -->
          {% with section_form=od_select_form %}
          {% include 'main/include/export/sbml/measurement_section.html' %}
          {% endwith %}
        </div>
      </div>
      {% endwith %}<!-- #step1 -->
      <!--
      Step 3 (HPLC) 
      This is more complicated than the previous section, because it is designed to handle multiple
      protocols, and there is an additional "input" checkbox for each measurement.
      -->
      {% with warnings_list=hplc_select_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and hplc_select_form.errors|length == 0 %} discloseHide {% endif %}" id="step2">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 3: Select HPLC-like Measurements, and inputs" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep2main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=hplc_select_form %}
          {% include 'main/include/export/sbml/measurement_section.html' %}
          {% endwith %}
        </div>
      </div>
      {% endwith %}<!-- #step2 -->
      <!--
      Step 4 (LC-MS)
      (This is almost identical to the previous section for HPLC protocols)
      -->
      {% with warnings_list=ms_select_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and ms_select_form.errors|length == 0 %} discloseHide{% endif %}" id="step3">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 4: Select LCMS-like Measurements, and inputs" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep3main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=ms_select_form %}
          {% include 'main/include/export/sbml/measurement_section.html' %}
          {% endwith %}
        </div>
      </div>
      {% endwith %}<!-- #step3 -->
      <!--
      Step 5 (RAMOS O2/CO2)
      -->
      {% with warnings_list=ramos_select_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and ramos_select_form.errors|length == 0 %} discloseHide{% endif %}" id="step4">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 5: Select RAMOS O2/CO2 Measurements" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep4main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=ramos_select_form %}
          {% include 'main/include/export/sbml/measurement_section.html' %}
          {% endwith %}
        </div>
      </div>
      {% endwith %}<!-- #step4 -->
      <!--
      Step 6: transcriptomics and proteomics
      -->
      {% with warnings_list=omics_select_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and omics_select_form.errors|length == 0 %} discloseHide{% endif %}" id="step5">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 6: Select Transcriptomics/Proteomics Measurements" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep5main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {% with section_form=omics_select_form %}
          {% include 'main/include/export/sbml/measurement_section.html' %}
          {% endwith %}
        </div>
      </div>
      {% endwith %}<!-- #step5 -->
      <!--
      Step 7
      -->
      {% with warnings_list=match_form.sbml_warnings %}
      <div class="disclose{% if warnings_list|length == 0 and match_form.errors|length == 0 %} discloseHide{% endif %}" id="step6">
        <div class="sectionChapter">
          <span>
            <a href="#" class="discloseLink">
              {% trans "Step 7: Pre-parse SBML model and match exchanges and species to measurements" %}
            </a>
          </span>
          {% include 'main/include/export/warningnotice.html' %}
        </div>
        <div class="sectionContent discloseBody" id="statusstep6main">
          {% for message in warnings_list %}
          <div class="warn2">{{ message }}</div>
          {% endfor %}
          {{ match_form.non_field_errors }}
          <div class="rounded-border" style="display: inline-block;">
            <table class="dataTable" cellspacing="0">
              <thead>
                <tr>
                  <td>{% trans "Measurement Type" %}</td>
                  <td>{% trans "Species in model" %}</td>
                  <td>{% trans "Reactant / Exchange in model" %}</td>
                </tr>
              </thead>
              <tbody>
              {% for field in match_form %}
                {% if field.errors %}
                <tr>
                  <td colspan="3">{{ field.errors }}</td>
                </tr>
                {% endif %}
                <tr>
                  <td>{{ field.label }}</td>
                  {# The below is a little gross, one TD used for two cells #}
                  {# SbmlMatchReactionWidget outputs sub-widgets joined by close/open TD tags #}
                  {# Framework does not provide a nicer way to do custom widget layouts #}
                  <td>{{ field }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div><!-- #statusstep6main -->
      </div>
      {% endwith %}<!-- #step6 -->
      <!--
      END OF EXPORT SETTINGS
      -->
      <div class="sectionContent sectionRight">
        <button type="submit" name="action" value="update">{% trans "Update Settings" %}</button>
      </div>
    </div><!-- #allstatusmain -->

    {% if time_form %}
    {% with warnings_list=time_form.sbml_warnings %}
    <div class="pageSection" style="margin:10px;" id="timeselectmain">
      <div class="sectionHead">
        <span>{% trans "Export SBML at timepoint" %}</span>
        {% include 'main/include/export/warningnotice.html' %}
      </div>
      <div class="sectionContent">
        {% for message in warnings_list %}
        <div class="warn2">{{ message }}</div>
        {% endfor %}
        <!-- Form to select time for export -->
        {{ time_form.as_p }}
      </div>
      <div class="sectionContent sectionRight">
        <button type="submit" name="action" value="download">{% trans "Download SBML" %}</button>
      </div>
    </div>
    {% endwith %}
    {% endif %}

  </form><!-- #exportForm -->

{% endblock content %}
