{% extends "main/study.html" %}
{% load staticfiles %}
{% load i18n %}

{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dist/StudyData.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
  {{ block.super }}
{% endblock head_title %}

{% block body_title %}
  {{ block.super }}
{% endblock body_title %}

{% block content %}
  {{ block.super }}

<div class="buttonBar" id="displayModeButtons">
  <span class="active" id="lineGraphButton" for="graphDisplayContainer">
    <img src="{% static 'main/images/study-data-icon-lines.png' %}"
        style="vertical-align: bottom" width="18" height="18" />
    {% trans 'Line Graph' %}
  </span><span id="barGraphButton" for="graphDisplayContainer">
    <img src="{% static 'main/images/study-data-icon-bars.png' %}"
        style="vertical-align: bottom" width="18" height="18" />
    {% trans 'Bar Graphs' %}
  </span><span id="dataTableButton" for="studyAssaysTable">
    <img src="{% static 'main/images/study-data-icon-chart.png' %}"
        style="vertical-align: bottom" width="18" height="18" />
    {% trans 'Table' %}
  </span>
  <div class="buttonBar off" id="barGraphTypeButtons">
    <span id="measurementBarGraphButton" class="active" for="barGraphByMeasurement">
      {% trans 'Measurement' %}
    </span>
    <span id="lineBarGraphButton" for="barGraphByLine">
      {% trans 'Line' %}
    </span>
    <span id="timeBarGraphButton" for="barGraphByTime">
      {% trans 'Time' %}
    </span>
  </div>
  <div id="filterControlsArea" style="margin:auto 0 auto 15px;">
    <div id="filterControlsMenu" class="pulldownMenu">
      <div id="filterControlsMenuLabel"
          class="pulldownMenuLabelOff">{% trans 'View options' %} ▾</div>
      <div class="pulldownMenuMenuBlock off">
        <ul>
          <li>
            <input id="filteringShowDisabledCheckbox"
                name="filteringShowDisabled"
                type="checkbox"
                value="1">
            <label for="filteringShowDisabledCheckbox"
                title="{% trans 'Show assays that have been disabled.' %}">
              {% trans 'Show Disabled' %}
            </label>
          </li>
          <li>
            <input id="filteringShowEmptyCheckbox"
                name="filteringShowEmpty"
                type="checkbox"
                value="1">
            <label for="filteringShowEmptyCheckbox"
                title="{% trans 'Show assays that do not have any measurements in them.' %}">
              {% trans 'Show Empty' %}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="tableControlsArea" class="off" style="margin:auto 0;">
    {# filled out client-side #}
  </div>
</div>

<div id="graphDisplayContainer">
  <div id="noData" class="off">{% trans 'No measurements.' %}</div>
  <div id="tooManyPoints" class="off" class="tooManyPoints">
    {% trans 'Too many points to display!  Please change your filter settings.' %}
  </div>
  <div id="graphLoading" class="wait-larger"></div>
  <div id="lineGraph" class="off"></div>
  <div id="barGraphByMeasurement" class="off"></div>
  <div id="barGraphByLine" class="off"></div>
  <div id="barGraphByTime" class="off"></div>
</div>

<form action="" method="POST">
{% csrf_token %}
{# studyLinesTable will have checkboxes; name=lineId, value=pk #}
<table id="studyAssaysTable" class="off"></table>

<div id="assaysActionPanel" class="sectionActions assayActions">
  <button class="hideFilterSection" style="margin: 14px 0px 0px 15px;"
      data-off-text="{% trans 'Show Filter Section' %}">
    {% trans 'Hide Filter Section' %}
  </button>

  <div class="{% if not assays %}off{% endif %} assayFlex">
    {# TODO: this gets replaced in Typescript, figure out i18n there #}
    <div id="displayedDiv" class="displayedDiv assayDisplayed">{% trans '0 displayed' %}</div>
    <div id="selectedDiv" class="selectedDiv assayDisplayed">{% trans '0 selected' %}</div>
  </div>
  <div class="off">
    <input id="assay_action_delete" type="radio" name="assay_action" value="delete" />
    <label for="assay_action_delete">{% trans 'Delete Measurements' %}</label>
    <input id="assay_action_edit" type="radio" name="assay_action" value="edit" />
    <label for="assay_action_edit">{% trans 'Edit Measurements' %}</label>
    <input id="assay_action_export" type="radio" name="assay_action" value="export" />
    <label for="assay_action_export">
      <span class="glyphicon glyphicon-cloud-download"></span>
      {% trans 'Export Data' %}
    </label>
    <button name="action" type="submit" value="assay_action">
      {% trans 'Take Action' %}
    </button>
    <div class="clear"></div>
  </div>
  <div id="tableActionButtons" class="tableActionButtons off" style="margin:auto 0;">
    {% if writable %}
    <!-- TODO enable this button
    <button id="editAssaysButton"
        class="editAssayButton actionButton"
        disabled="true"
        title="{% trans 'Edit selected assays' %}">
      {% trans 'Edit Assays' %}
    </button>
    -->
    <button id="editMeasurementButton"
        class="editMeasurementButton actionButton"
        disabled="true"
        title="{% trans 'Edit selected measurements' %}">
      {% trans 'Edit Measurements' %}
    </button>
    <button id="addMeasurementButton"
        class="addMeasurementButton actionButton"
        type="button"
        disabled="true"
        title="{% trans 'Add a measurement to selected assays' %}">
      {% trans 'Add Measurement' %}
    </button>
    <button id="deleteButton"
        class="deleteButton actionButton"
        type="submit"
        name="action"
        value="disable"
        disabled="true"
        title="{% trans 'Delete selected assays and/or measurements' %}">
      {% trans 'Delete' %}
    </button>
    <button id="enableButton"
        class="enableButton actionButton off"
        type="submit"
        name="action"
        value="enable"
        disabled="true"
        title="{% trans 'Restore selected assays and/or measurements' %}">
      {% trans 'Restore' %}
    </button>
    {% endif %}
  </div>

  <div style="margin:auto 30px auto 15px;" class="{% if not assays %}off{% endif %}">
    <button type="button" id="exportButton" class="exportButton actionButton primary off"
        title="{% trans 'Export your data in a file type of your choosing' %}">
      <span class="glyphicon glyphicon-cloud-download"></span>
      {% trans 'Export Data' %}
    </button>
  </div>
</div>
</form>

<div id="mainFilterSection" class="filteringSection"></div>

<div id="addMeasurement" class="off" title="{% trans 'Add Measurements To Selected Assays' %}">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="off hidden-assay-inputs"></div>
    <div class="modal-body">
      {{ new_measurement.as_p }}
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="measurement">
        {% trans 'Add Measurement' %}
      </button>
    </div>
  </form>
</div>

<div id="assayMain" class="off" title="Edit Assay">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
    {{ new_assay.as_p }}
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="assay">
        {% trans 'Edit Assay' %}
      </button>
    </div>
  </form>
</div>

{% endblock content %}
