{% extends "main/study.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/filedrop-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study-Overview.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block body_title %}
    {{ block.super }}
{% endblock body_title %}

{% block content %}                  
    {{ block.super }}

<form action="" class="edd-form" enctype="multipart/form-data" method="POST" style="clear:both;" id="general">
    {% csrf_token %}

    <div class="overviewFlex">
        <div style="flex-grow:1">
            {{ edit_study.non_field_errors }}
            {{ edit_study.name.errors }}

            <table class="formTable" style="width:90%;">
                <tr>
                    <td style="width:260px;">
                        {{ edit_study.description.errors }}
                        <div class="editable-field inactive" id="editable-study-description">
                            {% firstof study.description "<i>(Click to add description)</i>"|safe %}
                            {{ edit_study.description }}
                        </div>
                    </td>
                    <td class="form-label" style="width:70px;">
                        <label for="{{ edit_study.contact.id_for_label }}">Contact:</label>
                    </td>
                    <td style="width:260px;">
                        {{ edit_study.contact.errors }}
                        <div class="editable-field inactive" id="editable-study-contact">
                            {% if study.contact %}
                                {% if writable %}
                                    {{ study.contact.first_name }} {{ study.contact.last_name }}
                                {% else %}
                                    <a href="mailto:{{ study.contact.email }}">
                                        {{ study.contact.first_name }} {{ study.contact.last_name }}
                                    </a>
                                {% endif %}
                            {% elif study.contact_extra %}
                                {{ study.contact_extra }}
                            {% else %}
                                <i>(Enter Contact)</i>
                            {% endif %}
                            {{ edit_study.contact }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

<div class="overviewDropZone" style="{% if lines %}display:none;{% endif %}">
    <div class="fd-zone excel" id="templateDropZone">
        <div></div>
        Upload an Experiment Description file (
        <a href="{% static 'sample_experiment_description.xlsx' %}">Example </a>
        <a class="dropLink dropImg" href="{% static 'sample_experiment_description.xlsx' %}">
            __</a>)
        <div style="float:none" class="helpBadgeDiv" id="helpExperimentDescription"
    title='Drag-and-drop an Experiement description file into this grey box
                    to describe your experiment.  Alternatively, you can click on the link below to
                    manually input your experiment description.
                    &lt;a style="color:blue" href=&quot;/help/experiment_description/&quot;&gt; What is an Experiment
                    Description file&lt;/a&gt;?'>Help</div>
    </div>
    <div class="fileDropInfoArea off" id="fileDropInfoArea">
        <div class="fileDropInfoIcon" id="fileDropInfoIcon"></div>
        <div class="fileDropInfoName" id="fileDropInfoName">Blank filename.xml</div>
        <div class="fileDropInfoSending" id="fileDropInfoSending">
            <span id="fileUploadMessage">Sending To Server...</span>
            <progress id="fileUploadProgressBar" />
        </div>
        <div class="fileDropInfoLog" id="fileDropInfoLog"></div>
    </div>
    or <a class="dropLink"  href="{% url 'main:lines' slug=study.slug %}">manually describe</a> your experiment.
</div>

  {% if writable %}
<div class="disclose discloseHide">
    <div class=" pageDivider {% if not new_attach.errors %}{% if not new_comment.errors %}{% endif %}{% endif %}" for="permissionsSection">
        <span class="discloseLink"> Permissions </span>
        </div>
     <div class="discloseBody">
          <div class="sectionContent indent">
          <div>Current Permissions</div>
            {% with perms=study.get_combined_permission %}
                {% if perms %}
                <table style="width:50%; margin: 10px 0px 24px 37px" cellpadding="0" cellspacing="0" class="dataTable sortable">
                    <tr class="columnLabels">
                        <th class="sortheader smaller">Who</th>
                        <th class="sortheader smaller">Level</th>
                    </tr>
                    {% for perm in perms %}
                    <tr class="stripeRow{% cycle 'A' 'B' %}">
                        <td>{{ perm.get_who_label }}</td>
                        <td>{{ perm.get_type_label }}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            {% endwith %}
        <button class="actionButton primary" id="addPermission" >Add or edit permission</button>
     </div>
    </div>
 </div>
{% endif %}

    <div class="disclose discloseHide">
        <div  class="pageDivider{% if new_attach.errors %}active{% endif %}" for="attachmentsSection">
            <span class="discloseLink"> Attachments ({{ study.attachments|length }})</span>
       </div>
        <div style="padding-bottom: 10px;" class="discloseBody {% if not new_attach.errors %}{% endif %}" id="attachmentsSection">
            <div class="sectionContent indent">
                {% with attachments=study.attachments %}
                    {% include "main/include_attachments.html" %}
                {% endwith %}
                {% if writable %}
                <form method="POST" enctype="multipart/form-data" class="attachments edd-form" action="">
                    {% csrf_token %}
                    {{ new_attach.as_p }}
                    <p><button type="submit" name="action" value="attach">Attach File</button></p>
                </form>
                {% endif %}
            </div>
        </div>
</div>

<div class="disclose discloseHide">
    <div class="pageDivider{% if new_comment.errors %}{% endif %}" for="commentsSection">
        <span class="discloseLink"> Comments ({{ study.comment_list|length }}) </span>
    </div>
    <div class="discloseBody{% if not new_comment.errors %}{% endif %}" id="commentsSection">
        <div class="indent sectionContent">
            <ol class="comment-list">
                {% for comment in study.comment_list reversed %}
                    <li>
                        <span>{{ comment.created.full_name }} at {{ comment.created.format_timestamp }}</span>
                        <p>{{ comment.body }}</p>
                    </li>
                {% endfor %}
            </ol>
            <div class="sectionActions">
                <form method="POST" class="comments edd-form" action="">
                    {% csrf_token %}
                    {{ new_comment.as_p }}
                    <p><button type="submit" name="action" value="comment">Add Comment</button></p>
                </form>
            </div>
        </div>
    </div>
</div>

{# add permissions modal #}
<div class="indent off" title="Add Permission" id="permissionsSection">
        <div class="sectionActions">
            <form method="POST" enctype="multipart/form-data" class="edd-form" id="permissions" action="">
                {% csrf_token %}
                <div class="permission" id="permission_user_box">
                <label for="permission_user">
                    <input type="radio" id="permission_user" name="class" value="User" checked="checked"/>
                    <span>User</span>
                </label>
                </div>
                <div  class="permission"  id="permission_group_box">
                <label for="permission_group">
                    <input type="radio" id="permission_group" name="class" value="Group"/>
                    <span>Group</span>
                </label>
                </div>
                <div  class="permission" id="permission_public_box">
                <label for="permission_public">
                    <input type="radio" id="permission_public" name="class" value="Public"/>
                    <span>Everyone</span>
                </label>
                </div>
                <select name="type">
                    <option value="N">None</option>
                    <option value="R">Read</option>
                    <option value="W">Write</option>
                </select>
                <button id="set_permission">Set Permission</button>
            </form>
    </div>
</div>

{% endblock content %}
