{% extends "main/study.html" %}
{% load staticfiles %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.v2.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.tip.js' %}"></script>
    <script type="text/javascript">

    $( function() {
        $( document ).tooltip();
    } );

    </script>
    <script type="text/javascript" src="{% static 'main/js/clickHandler.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/GraphHelperMethods.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/BiomassCalculationUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyGraphing.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyGraphingHelperMethods.js'%}"></script>
    <script type="text/javascript" src="{% static 'main/js/CarbonSummation.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyCarbonBalance.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>

    <script type="text/javascript" src="{% static 'main/js/createMultiAxisLine.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/groupedBarMeasurement.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lineGraphHelperMethods.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/barGraphHelperMethods.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block body_title %}
    {{ block.super }}
{% endblock body_title %}

{% block content %}
<div class="btn-toolbar bare-header" style="float:right;">
    <div style="text-align: right">
        <a class="btn btn-primary btn-lg" href="/study/{{ study.id }}/import">Import </br> Data</a>
    </div>
</div>
    {{ block.super }}

{% if writable %}
    <div class="pageSection minor disclose{% if not new_line.is_editing and new_line.errors|length == 0 %} discloseHide{% endif %}" id="lineMain">

        <div class="sectionContent discloseBody">
            <form action="" class="line-edit edd-form" method="POST">
                {% csrf_token %}
                {{ new_line.as_p }}
                <p class="line-edit-meta">
                    <span class="edd-label">
                        <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                        <input type="hidden" class="line-meta-type" value="" />
                    </span>
                    <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                    <button class="line-meta-add">Add Value</button>
                </p>
                <button type="submit" name="action" value="line">{% if new_line.is_editing %}Edit Line{% else %}Add Line{% endif %}</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% if writable %}
        <div id="addNewLineForm" title="Add New Line">
        <div class="sectionContent discloseBody">
            <form action="" class="line-edit edd-form" method="POST">
                {% csrf_token %}
                {{ new_line.as_p }}
                <p class="line-edit-meta">
                    <span class="edd-label">
                        <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                        <input type="hidden" class="line-meta-type" value="" />
                    </span>
                    <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                    <button class="line-meta-add">Add Value</button>
                </p>
                <button type="submit" name="action" value="line">Add Line</button>
            </form>
        </div>
    </div>
    {% endif %}
        {% if writable %}
            <div id="editLineForm" title="Edit Line">
            <div class="sectionContent discloseBody">
                <form action="" class="line-edit edd-form" method="POST">
                    {% csrf_token %}
                    {{ new_line.as_p }}
                    <p class="line-edit-meta">
                        <span class="edd-label">
                            <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                            <input type="hidden" class="line-meta-type" value="" />
                        </span>
                        <input type="text" class="line-meta-value" placeholder="Metadata Value" />
                        <button class="line-meta-add">Add Value</button>
                    </p>
                    <button type="submit" name="action" value="line">Edit line</button>
                </form>
            </div>
        </div>
    {% endif %}

<form id="line-action-form" action="" class="line-action" method="POST">
    {% csrf_token %}
    <div class="pageSection">
        {# studyLinesTable will have checkboxes; name=lineId, value=pk #}
        <div class="noLines" style="display: none;">
            <h3 style="margin-bottom:12px">This study has no lines. </h3>
            <button  id="addNewLineNoLines" class="addNewLine"></button><span>  add new line</span>
            <div style="color:grey; margin-top:15px">What is a line?
                <input type="button" style="display:inline;" id="show" value="show"/>
            </div>
        </div>
            <div id="lineDescription" style="display:none">
                <p>A line describes the experimental details of your study. A line defines the
                    experimental conditions and associated meta data for a (in this example) single flask.  Some examples
                    that might be defined in a line are strain, carbon source, part id, metabolicmics time, and shaking
                    speed.  Users can manually add lines, or download the <a class="dropLink"
                    href="{% static 'sampleLineTemplate.xlsx' %}">study template</a> for bulk uploads.
                </p>
                <img src="{% static 'main/images/line_assay_tree.png' %}" />
            </div>
        <div class="scroll">
            <table id="studyLinesTable"></table>
        </div>
        <div>
            <button  id="addNewLine" class="addNewLine"></button><span>  add new line</span>
        </div>
        <div id="linesActionPanel" class="sectionActions">
            <span id="linesSelectedCell">0 selected</span>
            {% if writable %}
                <div id="disabledButtons">
                    <button id="cloneLineButton" type="submit" name="action" disabled="true" value="clone">Clone Line</button>
                    <button id="editLineButton" disabled="true">Edit Line</button>
                    <button id="groupLineButton" type="submit" disabled="true" name="action" value="group">Group As Replicates</button>
                    <button type="button"  id="addAssayToLine" disabled="true">Add Assays To Selected Lines</button>
                    <button type="button"id="line_worklist" class="btn btn-primary btn-lg actionButton disabled-button"
                            disabled>Generate  </br> Worklist</button>
                    <button type="button" id="line-export"class="btn btn-primary btn-lg actionButton disabled-button"
                            disabled>Export </br> Data</button>
                    </br> </br>
                    <input type="radio" id="line_action_mark" name="line_action" value="edit"/>
                    <label for="line_action_mark">
                        <span>Mark as</span>
                        <select name="disable">
                            <option value="true">Disabled</option>
                            <option value="false">Enabled</option>
                        </select>
                    </label>
                    <button type="submit" name="action" value="line_action">Take Action</button>
                </div>
            {% endif %}
        <div style="margin-top:15px">
            For bulk line uploads, drag and drop your own template file in the above table or use this
                <a class="dropLink" href="{% static 'sampleLineTemplate.xlsx' %}">sample template file</a>.</h3>
        </div>
            <div id="line-popup" title="Export as">
                <input type="radio" id="line_action_export" checked="checked" name="line_action" value="export" />
                <label for="line_action_export">
                    <span>Export Lines</span>
                    <select name="export">
                        <option value="csv">as CSV/etc</option>
                        <option value="sbml">as SBML</option>
                        <option value="worklist">as Worklist</option>
                        <option value="study">to New Study</option>
                    </select>
                </label>
                <button type="submit" name="action" value="line_action">Take Action</button>
            </div>
        </div>
    </div>

    {% if writable %}
        <div id="assayMain" title="{% if new_assay.is_editing %}Edit Assay{% else %}Add Assays To Selected Lines{% endif %}">
            <div class="sectionHead">
                <span class="discloseLink"><a href="#"></a></span>
            </div>
            <div class="sectionContent discloseBody assay-edit edd-form">
                {{ new_assay.as_p }}
                <button type="submit" name="action" value="assay">{% if new_assay.is_editing %}Edit Assay{% else %}Add Assay{% endif %}</button>
            </div>
        </div>
    {% endif %}
</form>

{% endblock content %}