{% extends "main/study.html" %}
{% load staticfiles %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.v2.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.tip.js' %}"></script>
    <script type="text/javascript">

    $( function() {
        $( document ).tooltip();
    } );

    </script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/BiomassCalculationUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/CarbonSummation.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyCarbonBalance.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study-Lines.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block body_title %}
    {{ block.super }}
{% endblock body_title %}

{% block content %}
{{ block.super }}
<div>
    <div style="margin-left:15px">
        Manually add/edit lines below, or drag and drop a<a class="dropLink" href="{% static 'sample_experiment_design.xlsx' %}"> template file</a> onto the table to create them in bulk
        <div style="float:none; margin-left:15px"class="helpBadgeDiv">line help
            <div class="helpContent">
                <p>A line describes the experimental details of your study by defining the
                    experimental conditions and associated meta data for i.e. a single flask.  Some examples
                    that might be defined in a line are strain, carbon source, part id, metabolicmics time, and shaking
                    speed.  Users can manually add lines, or download the study template for bulk uploads.
                </p>
            </div>
        </div>
    </div>
</div>
 
<form id="line-action-form" action="" class="line-action" method="POST">
    {% csrf_token %}

    {# studyLinesTable will have checkboxes; name=lineId, value=pk #}
    <div class="noLines" style="display: none;">
        <h3 style="margin-bottom:12px">This study has no lines. </h3>
    </div>

    <table id="studyLinesTable"></table>

    <div class="sectionActions" style="
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;">
        <div id="disabledButtons" class="{% if not writable %}off{% endif %}">
            <button id="addNewLineButton" class="btn btn-primary btn-sm">Add new line</button>
            <span id="linesSelectedCell" style="padding-left:15px;">0 selected</span>
            <button id="cloneLineButton" type="submit" name="action" disabled="true" value="clone">Clone Line</button>
            <button id="editLineButton" disabled="true">Edit Line</button>
            <button id="groupLineButton" type="submit" disabled="true" name="action" value="group">Group As Replicates</button>
            <button type="button" id="addAssayButton" disabled="true">Add Assays To Selected Lines</button>
            <input type="radio" id="line_action_mark" name="line_action" value="edit"/>
            <label for="line_action_mark">
                <span>Mark as</span>
                <select name="disable">
                    <option value="true">Disabled</option>
                    <option value="false">Enabled</option>
                </select>
            </label>
            <button type="submit" name="action" value="line_action">Take Action</button>
        </div>
        <div style="flex-grow:1;margin-left:auto;" class="{% if not lines %}off{% endif %}">
            <button style="margin-right:30px" type="button" id="worklistButton" class="btn btn-primary btn-lg actionButton">
                Generate  </br> Worklist</button>
            <button type="button" id="exportButton" class="btn btn-primary btn-lg actionButton">
                Export </br> Data</button>
        </div>
    </div>

</form>

{# FUN FACT: jQueryUI's "modal" widget actually rips the element you're turning into a modal right out of the DOM and appends it to the end, thus separating it from any form you've declared outside the modal contents.  So, we are forced to create four self-contained forms, even though the page could easily work as one. #}

<div id="editLineModal" class="{% if not new_line.is_editing and new_line.errors|length == 0 %}off{% endif %}">
    <form id="line-action-form" action="" class="line-action" method="POST">
        {% csrf_token %}
        {{ new_line.as_p }}
        <p class="line-edit-meta">
            <span class="edd-label">
                <input type="text" class="autocomp autocomp_ltype" eddautocompletetype="LineMetadataType" placeholder="Metadata Type" size="14" />
                <input type="hidden" class="line-meta-type" value="" />
            </span>
            <input type="text" class="line-meta-value" placeholder="Metadata Value" />
            <button class="line-meta-add">Add Value</button>
        </p>
        <button type="submit" name="action" value="line">Save</button>
    </form>
</div>

<div id="addAssayModal" class="off"
     title="{% if new_assay.is_editing %}Edit Assay{% else %}Add Assays To Selected Lines{% endif %}">
    <form id="line-action-form" action="" class="line-action" method="POST">
        {% csrf_token %}
        <div class="sectionHead">
            <span class="discloseLink"><a href="#"></a></span>
        </div>
        <div class="sectionContent discloseBody assay-edit edd-form">
            {{ new_assay.as_p }}
            <button type="submit" name="action" value="assay">{% if new_assay.is_editing %}Edit Assay{% else %}Add Assay{% endif %}</button>
        </div>
    </form>
</div>

<div id="exportModal" class="off" title="Export as">
    <form id="line-action-form" action="" class="line-action" method="POST">
        {% csrf_token %}
        <input type="radio" id="line_action_export" checked="checked" name="line_action" value="export" />
        <label for="line_action_export">
            <span>Export Lines</span>
            <select name="export">
                <option value="csv">as CSV/etc</option>
                <option value="sbml">as SBML</option>
                <option value="worklist">as Worklist</option>
                <option value="study">to New Study</option>
            </select>
        </label>
        <button type="submit" name="action" value="line_action">Take Action</button>
    </form>
</div>

{% endblock content %}