{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
            href="{% static 'main/js/lib/jquery-ui/jquery-ui.min.css' %}" />
    <script type="text/javascript"
            src="{% static 'main/js/lib/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/js/lib/qtip/jquery.qtip.min.js' %}"></script>
    <link rel="stylesheet" type="text/css"
            href="{% static 'main/js/lib/qtip/jquery.qtip.min.css' %}" />
    <script type="text/javascript">

        EDDData.currentStudyID = {{ study.id }};
        EDDData.currentStudyWritable = {% if writable %}true{% else %}false{% endif %};
        EDDData.Studies = EDDData.Studies || {};
        EDDData.Studies[{{ study.id }}] = {{ study.to_json_str|safe }};

    </script>
    <script type="text/javascript" src="{% static 'main/js/Utl.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Dragboxes.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/EDDAutocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/EDDEditableElement.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study.js' %}"></script>
{% endblock js_css %}

{% block head_title %}
    {{ study.name }} - Experiment Data Depot
{% endblock head_title %}

{% block body_title %}
<div class="editable-field inactive editableStudyName" id="editable-study-name">
    {{ study.name }}
    {{ edit_study.name }}
</div>
{% endblock body_title %}

{% block content %}
<div class="studyNav">
    <ui class="nav nav-pills navbar">
        <li class="{% if showingoverview %}active{% endif %}">
            <a href="{% url 'main:overview' slug=study.slug %}">Overview</a>
        </li>
        {% if lines %}
            <li class="{% if showinglines %}active{% endif %}">
               <a href="{% url 'main:lines' slug=study.slug %}">Experiment Description</a>
            </li>
        {% endif %}
        {% if assays %}
            <li class="{% if showingdata %}active{% endif %}">
            <a href="{% url 'main:detail' slug=study.slug %}"/">Data</a>
            </li>
        {% endif %}
    </ui>
    {% if writable %}
        <button style="{% if showingimport %}display:none;{% endif %}float:right;"
                type="button" class="actionButton primary larger">
            <a style="color:white;"
                    href="{% url 'main:table-import' slug=study.slug %}">Import Data</a>
        </button>
    {% endif %}
</div>

{% endblock content %}
