{% extends "main/study.html" %}
{% load staticfiles %}
{% load i18n %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'main/js/lib/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.v2.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/lib/d3/d3.tip.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/DataGrid.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/BiomassCalculationUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/CarbonSummation.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudyCarbonBalance.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/StudySBMLExport.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/Study-Lines.js' %}"></script>
    <script type="text/javascript">
         {% if new_line.errors %}
             var options = {
                autoOpen: false,
                minWidth: 500,
                title: 'Add New Line'
                };
             $(document).ready(function() {
                 $('.errorlist').remove();
                 $("#editLineModal").removeClass('off').dialog(options).dialog( "open" );
             });
         {% endif %}
    </script>
{% endblock js_css %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block body_title %}
    {{ block.super }}
{% endblock body_title %}


{% block content %}
    {{ block.super }}
    <form action="" method="POST">
    {% csrf_token %}
    <div>
        {% trans 'Manually add/edit lines below' %}
        <div class="helpBadgeDiv">
            {% trans 'help' %}
            <div class="helpContent">
                <p>
                {% blocktrans trimmed %}
                A line describes the experimental details of the biological elements of your
                study. It defines the experimental conditions and associated metadata for, i.e.
                a single flask. Some examples that might be defined in a line are strain, carbon
                source, part id, or shaking speed. Users may manually add lines one at a time, or
                download the study template for bulk uploads.
                {% endblocktrans %}
                </p>
            </div>
        </div>
        <div class="noLines">
            <h3 style="margin-bottom:12px">{% trans 'This study has no lines.' %}</h3>
        </div>
        {# studyLinesTable will have checkboxes; name=lineId, value=pk #}
        <table id="studyLinesTable"></table>
        <div id="actionsBar" class="actionsBar sectionActions lineFlex">
            <div>
            <button id="addNewLineButton"
                    class="addNewLineButton actionButton primary {% if not writable %}off{% endif %}"
                    title="{% trans 'Add a new line' %}">
                {% trans 'New line' %}
            </button>
            <span class="linesSelectedCell">
                {# TODO: this gets replaced in Typescript, figure out i18n there #}
                {% blocktrans count counter=0 %}
                {{ counter }} selected
                {% plural %}
                {{ counter }} selected
                {% endblocktrans %}
            </span>
            <span class="disablableButtons">
                <button id="editButton"
                        class="editButton actionButton {% if not writable or not lines %}off{% endif %}"
                        disabled="true"
                        title="{% trans 'Edit selected Lines' %}">
                    {% trans 'Edit' %}
                </button>
                <button id="cloneButton"
                        class="cloneButton actionButton {% if not writable or not lines %}off{% endif %}"
                        type="submit"
                        name="action"
                        disabled="true"
                        value="clone"
                        title="{% trans 'Clone selected Lines' %}">
                    {% trans 'Clone' %}
                </button>
                <button id="groupButton"
                        class="groupButton actionButton {% if not writable or not lines %}off{% endif %}"
                        type="submit"
                        disabled="true"
                        name="action"
                        value="group"
                        title="{% trans 'Group selected Lines as replicates' %}">
                    {% trans 'Group' %}
                </button>
                <button id="addAssayButton"
                        class="addAssayButton actionButton {% if not writable or not lines %}off{% endif %}"
                        type="button"
                        disabled="true"
                        title="{% trans 'Add an assay to selected Lines' %}">
                    {% trans 'Add Assay' %}
                </button>
                <button id="disableButton"
                        class="disableButton actionButton {% if not writable or not lines %}off{% endif %}"
                        type="submit"
                        name="action"
                        value="disable"
                        disabled="true"
                        title="{% trans 'Delete selected Lines' %}">
                    {% trans 'Delete' %}
                </button>
                <button id="enableButton"
                        class="enableButton actionButton off"
                        type="submit"
                        name="action"
                        value="enable"
                        disabled="true"
                        title="{% trans 'Restore selected Lines' %}">
                    {% trans 'Restore' %}
                </button>
            </span>
            </div>
            <div style="flex-shrink:0;padding-left:auto;" class="{% if not lines %}off{% endif %}">
                <button style="margin-right:30px" type="button" id="worklistButton"
                        class="worklistButton actionButton primary"
                        title="{% trans 'Generate a worklist to carry out your experiment' %}">
                    {% trans 'Generate Worklist' %}
                </button>
                <button type="button" id="exportLineButton"
                        class="exportLineButton actionButton primary"
                        title="{% trans 'Export your lines in a file type of your choosing' %}">
                    {% trans 'Export Data' %}
                </button>
            </div>
        </div>
    </div>
    </form>

    <div id="editLineModal" title="{% trans 'Add new line' %}"
            class="{% if not new_line.is_editing and not new_line.errors %}off{% endif %}">
        {% if new_line.errors %}
        <div class="alert alert-danger alert-dismissible" style="width:313px" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ new_line.errors.as_text  }}</p>
        </div>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {{ new_line.as_p }}
            <div class="line-edit-meta form-group">
                <span class="edd-label">
                    <input type="text" size="14"
                            autocomplete="off"
                            class="autocomp autocomp_ltype form-control-meta ui-autocomplete-input"
                            eddautocompletetype="LineMetadataType"
                            placeholder="{% trans 'Metadata Type' %}" />
                    <input type="hidden" class="line-meta-type" value="" />
                </span>
                <button class="line-meta-add btn btn-default">{% trans 'Add Field' %}</button>
            </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="action" value="line">
                    {% trans 'Save changes' %}</button>
            </div>
        </form>
    </div>

    {% if new_assay.is_editing %}
        {% trans 'Edit Assay' context 'modal title' as add_assay_modal_title %}
        {% trans 'Edit Assay' context 'button' as add_assay_button %}
    {% else %}
        {% trans 'Add Assays To Selected Lines' as add_assay_modal_title %}
        {% trans 'Add Assay' context 'button' as add_assay_button %}
    {% endif %}
    <div id="addAssayModal" class="off" title="{{ add_assay_modal_title}}">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {{ new_assay.as_p }}
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" class="btn btn-primary" value="assay">
                    {{ add_assay_button }}</button>
            </div>
        </form>
    </div>

    <div id="exportModal" class="off" title="{% trans 'Export as' %}">
        <form action="" method="POST" id="exportForm">
            {% csrf_token %}
            <input type="radio" id="line_action_export" checked="checked" name="line_action"
                    value="export" hidden="hidden" />
            <label for="line_action_export">
                <span>{% trans 'Export Lines' %}</span>
                <select name="export">
                    <option value="csv">{% trans 'as CSV/etc' %}</option>
                    <option value="sbml">{% trans 'as SBML' %}</option>
                    <option value="worklist">{% trans 'as Worklist' %}</option>
                    <option value="study">{% trans 'to New Study' %}</option>
                </select>
            </label>
            <button type="submit" name="action"
                    value="line_action">{% trans 'Take Action' %}</button>
        </form>
    </div>
{% endblock content %}
