{% extends "main/study.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

{% blocktrans trimmed with type=typename name=item_names|first count counter=item_names|length asvar t_items %}
the {{ type }} "{{ name }}"
{% plural %}
{{ counter }} {{ typename }} objects, including "{{ name }}"
{% endblocktrans %}

    <div class="confirm-form">
        <p>
            {% blocktrans trimmed with item=t_items count counter=select_form.selection.measurements.count %}
            Are you sure you want to delete {{ item }}? This will remove a measurement value.
            {% plural %}
            Are you sure you want to delete {{ item }}? This will remove {{ counter }}
            measurement values.
            {% endblocktrans %}
        </p>
        <form action="" method="POST">
            {% csrf_token %}
            {{ select_form.as_p }}
            <button class="btn btn-danger" type="submit" name="action"
                    value="{{ confirm_action }}">{% trans "Confirm Delete" %}</button>
            <a href="{{ cancel_link }}">{% trans "Cancel" %}</a>
        </form>
    </div>
{% endblock content %}
