{% extends "edd_base.html" %}
{% load staticfiles %}

{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'main/js/lib/select2/select2.min.js' %}"></script>
  <link rel="stylesheet" media="screen" href="{% static 'main/js/lib/select2/select2.min.css' %}" />
  <script type="text/javascript" src="{% static 'edd_utils/js/lib/handsontable.full.min.js' %}"></script>
  <link rel="stylesheet" media="screen" href="{% static 'edd_utils/css/lib/handsontable.full.min.css' %}" />
  <script type="text/javascript">
  $(document).on('click', '.disclose .discloseLink', function (e) {
    $(e.target).closest('.disclose').toggleClass('discloseHide');
    return false;
  });

  $(function () {
    var dataArea, tables, sep, rsplit, ctrl;
    dataArea = $('#textData').hide();
    tables = dataArea.val().split('\n\n');
    sep = ',';  // $('#id_separator').val() === 'csv' ? ',' : '\t';
    rsplit = function (row) { return row.split(sep); };
    tables = $(tables.map(function (table) {
      var rows, container, hot;
      rows = table.split('\n');
      container = $('<div>').addClass('hot-div').appendTo(dataArea.parent());
      hot = new Handsontable(container[0], { 'data': rows.map(rsplit) });
      return container[0];
    }));
    ctrl = $('<button>').text('Toggle View')
      .appendTo(dataArea.closest('.pageSection').find('.sectionHead'))
      .on('click', function () {
        dataArea.toggle();
        tables.toggle();
      });
  });
  </script>
{% endblock js_css %}

{% block head_title %}
  {% if selection.studies|length == 1 %}
    Worklist Export For {{ selection.studies.0.name }}
  {% else %}
    Worklist Export for {{ selection.studies|length }} Studies
  {% endif %}
{% endblock head_title %}

{% block body_title %}
  Worklist Export For {% for study in selection.studies %}
   <a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}
{% endblock body_title %}

{% block content %}

{% if error_message %}
<h3 style="color: #ff0000; font-weight: bold">{{ error_message }}</h3>
{% endif %}


<!-- Line info section -->
{% include "main/include/export/linetable.html" %}

<!-- start of main form -->
<form method="post" id="worklistForm" action="{% url 'main:worklist' %}">
  {% csrf_token %}
  <div class="pageSection">
    <div class="sectionHead">Select a worklist template and options.</div>
    <div class="sectionContent exportOptions">
      {{ select_form.as_p }}
      {{ worklist_form.as_p }}
      {% if defaults_form %}
      <div class="disclose discloseHide">
        <a href="#" class="discloseLink">Modify Column Default Values</a>
        <div class="discloseBody">
          {{ defaults_form.as_p }}
        </div>
      </div>
      {% endif %}
      {% if flush_form %}
      <div class="disclose discloseHide">
        <a href="#" class="discloseLink">Add Flush Rows</a>
        <div class="discloseBody">
          {{ flush_form.as_p }}
        </div>
      </div>
      {% endif %}
      <button type="submit" name="action" value="apply" id="apply">Apply</button>
      <button type="submit" name="action" value="download">Download</button>
    </div>
  </div>
</form>

<!-- display section -->
<div class="pageSection">
  <div class="sectionHead">View the current output here</div>
  <div class="sectionContent exportDisplay">
    <p>
      <textarea class="dataTextArea" rows="32" id="textData" name="textData">{{ output }}</textarea>
    </p>
  </div>
</div>

{% endblock content %}
