<!doctype html>
<html>
<head>
<TITLE>JBEI Experiment Data Depot User Manual</TITLE>
<link href="../common.css" rel="stylesheet" type="text/css" />

</head>
<body>

<h2>JBEI Experiment Data Depot User Manual</h2>

<h3>For Users</h3>

<TABLE class="adminTable">
	<tr>
		<TD> How to Login</TD>
	</tr>
	<tr>
		<TD><a href="../manual/generateWorklist.html">Create a Study and Generate a Worklist</a></TD>
	</tr>
	<tr>
		<TD><a href="../manual/exportData.html">Export Data from a study</a></TD>
	</tr>
    <tr>
		<TD><a href="../manual/SBML.html">Export Data as SBML</a></TD>
	</tr>
    <tr>
		<TD><a href="../manual/PCAP.html">Import 3 different types of files</a></TD>
	</tr>
    <tr>
		<TD><a href="../manual/dataViz.html">Data visualization</a></TD>
	</tr>

</table>


<h4><a href="/">Return to home page</a></h4>


</body>
</html>
