{% extends "edd_base.html" %}
{% load i18n %}
{% load static %}


{% block js_css %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'dist/index.js' %}"></script>
{% endblock js_css %}


{% block content %}
    {% if can_create %}
    <button id="addStudyButton"
            class="actionButton primary larger"
            style="float: right;"
            title="{% trans 'Add a new Study' %}">
        {% trans 'New Study' context 'button' %}
    </button>
    {# the DIV below is hidden by default; TypeScript code removes and puts in a modal #}
    <div id="addStudyModal"
            class="off"
            title="{% trans 'Add New Study' context 'modal title' %}">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>{{ form.errors.as_text }}</p>
        </div>
        {% endif %}
        <form action="" class="edd-form" method="POST">
            {% csrf_token %}
            <div class="modal-body">
            {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="submit"
                        name="action"
                        class="btn btn-primary"
                        value="assay">{% trans 'Add Study' context 'button' %}</button>
            </div>
        </form>
    </div>
    {% endif %}
    <h2>{% trans 'Recently Viewed Studies:' context 'heading' %}</h2>
    <div class="lastViewed" style="min-height: 30px;">
        {% for study in latest_viewed_studies %}
            <span><a href="{% url 'main:detail' slug=study.slug %}">{{ study.name }}</a></span>
        {% endfor %}
    </div>

    <h2>{% trans 'All Studies:' context 'heading' %}</h2>
    <table id="studiesTable"></table>

{% endblock content %}
