{% extends "main/study.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main/study-data.css' %}" />
  <script type="text/javascript" src="{% static 'dist/StudyData.js' %}"></script>
{% endblock js_css %}


{% block content %}
  {{ block.super }}

  <h1>{% translate study.name %}&nbsp;&mdash;&nbsp;{% translate "Data" %}</h1>

  <a id="settinglink" href="{{ settinglink }}" class="off"></a>
  <div class="btn-toolbar flex-row sectionActions">
    <div
      aria-label="{% translate 'Display Modes' %}"
      class="btn-group"
      id="displayModeButtons"
      role="group"
    >
      <button
        class="btn btn-default edd-view-select"
        id="plot-button"
        type="button"
        data-selector="#plot-button"
        data-viewmode="plot-line"
      >
        <span class="fas fa-chart-line"></span>
        <span class="collapse-label">{% translate 'Line Graph' %}</span>
      </button>
      <div class="btn-group" role="group">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          id="bar-button"
          type="button"
        >
          <span class="fas fa-chart-bar"></span>
          <span class="collapse-label">{% translate 'Bar Graph' %}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{% translate 'Grouped By' %}</li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#bar-button"
              data-viewmode="bar-measurement"
            >{% translate 'Measurement' %}</a>
          </li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#bar-button"
              data-viewmode="bar-line"
            >{% translate 'Line' %}</a>
          </li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#bar-button"
              data-viewmode="bar-time"
            >{% translate 'Time' %}</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" role="group">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          id="table-button"
          type="button"
        >
          <span class="fas fa-table"></span>
          <span class="collapse-label">{% translate 'Table' %}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{% translate 'For Selecting' %}</li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#table-button"
              data-viewmode="table-measurement"
            >{% translate 'Measurements' %}</a>
          </li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#table-button"
              data-viewmode="table-assay"
            >{% translate 'Assays' %}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-group">
      <nav class="hidden pager-nav">
        <ul class="pagination">
          <li class="disabled pager-prev">
            <a href="#" aria-label="{% translate 'Previous' %}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <span>
              <span class="pager-label text-muted">
                {% translate 'Measurements @range of @total' %}
              </span>
            </span>
          </li>
          <li class="disabled pager-next">
            <a href="#" aria-label="{% translate 'Next' %}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex-item"></div>
    {% if writable %}
    {% url "main:load:wizard" slug=study.slug as wizard_url %}
    <a class="{% if not lines %}off{% endif %} pull-right" href="{{ wizard_url}}">
      <button class="btn btn-primary btn-large" type="button">
        <span class="fas fa-cloud-upload-alt"></span>
        {% translate 'Import Data' %}
      </button>
    </a>
    {% endif %}
  </div>

<div id="graphDisplayContainer">
  <div class="hidden jumbotron" id="noData">
    <h2>{% translate "No measurements to display." %}</h2>
  </div>
  <div class="jumbotron" id="graphLoading">
    <h2>{% translate "Loading data for display." %}</h2>
    <div class="progress">
      <div
        aria-valuemax="100"
        aria-valuemin="0"
        aria-valuenow="1"
        class="progress-bar progress-bar-striped active"
        role="progressbar"
        style="width: 1%;"
      >
        <span class="sr-only">1%</span>
      </div>
    </div>
  </div>
  <div class="hidden" id="graphArea"></div>
  <div class="assayActions sectionActions">
    <div class="assayFlex hidden edd-value-truncated alert alert-warning">
      {% blocktranslate trimmed %}
      Some values are not displayed in the plot above. Use the filters below to
      select a narrower range of items to display.
      {% endblocktranslate %}
    </div>
    <div class="assayFlex">
      <div>
        {% translate 'Measurements' %}
        <span class="badge edd-measurement-count"></span>
      </div>
      <div>
        {% translate 'Values' %}
        <span class="badge edd-value-count"></span>
      </div>
    </div>
    <div class="btn-toolbar">
      <div class="btn-group dropup">
        <button
          class="btn btn-primary edd-export-button"
          title="{% translate 'Export data as CSV' %}"
          type="button"
        >
          <span class="fas fa-cloud-download-alt"></span>
          {% translate 'Export Data' %}
        </button>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="caret"></span>
          <span class="sr-only">{% translate 'Toggle Menu' %}</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a class="edd-new-study-button" href="#">
              <span class="fas fa-copy"></span>
              {% translate 'to New Study (Lines Only)' %}
            </a>
          </li>
          <li>
            <a class="edd-sbml-button" href="#">
              <span class="fas fa-paper-plane"></span>
              {% translate 'SBML Export' %}
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a class="edd-worklist-button" href="#">
              <span class="fas fa-clipboard-list"></span>
              {% translate 'Generate Worklist' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="tableArea" class="hidden">
  <div id="assayTable" class="hidden"></div>
  <div id="measurementTable" class="hidden"></div>
  <div class="assayActions sectionActions">
    {% if writable %}
    <div class="btn-toolbar">
      <button
        class="btn btn-primary edd-edit-button"
        disabled="true"
        title="{% translate 'Edit selected assays' %}"
      >
        <span class="fas fa-pencil-alt"></span>
        {% translate 'Edit' %}
      </button>
      <button
        class="btn btn-primary edd-add-button"
        disabled="true"
        title="{% translate 'Add a measurement to selected assays' %}"
      >
        <span class="fas fa-plus"></span>
        {% translate 'Add' %}
      </button>
    </div>
    {% endif %}
    <div class="assayFlex btn-toolbar">
      <button
        class="btn btn-primary edd-export-button"
        title="{% translate 'Export data as CSV' %}"
        type="button"
      >
        <span class="fas fa-cloud-download-alt"></span>
        {% translate 'Export Data' %}
      </button>
    </div>
  </div>
</div>

<div id="mainFilterSection" class="filteringSection"></div>

<div id="addMeasurement" class="off" title="{% translate 'Add Measurements To Selected Assays' %}">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="off hidden-assay-inputs"></div>
    <div class="modal-body">
      {{ new_measurement.as_p }}
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="measurement">
        {% translate 'Add Measurement' %}
      </button>
    </div>
  </form>
</div>

<div id="assayMain" class="off">
  <span class="off" id="new_assay_title">{% translate "Add New Assay" %}</span>
  <span class="off" id="edit_assay_title">{% translate "Edit Assay" %}</span>
  <span class="off" id="bulk_assay_title">{% translate "Bulk Edit Assays" %}</span>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
      <fieldset>
        <legend>{% translate "Basic Assay Information" %}</legend>
        <p class="bulk-note off">{% translate "Only enabled fields will be modified." %}</p>
        {{ new_assay.as_p }}
        <span class="off bulk-ignore btn btn-default btn-xs">
          <i class="fas fa-minus-circle"></i>
          {% translate "Don't Change" %}
        </span>
      </fieldset>
      <fieldset>
        <legend>{% translate "Assay Metadata" %}</legend>
        {% with meta_class="autocomp_atype" meta_type="AssayFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="assay">
        {% translate 'Save' %}
      </button>
    </div>
  </form>
</div>

<form action="{% url 'export:export' %}" class="hidden" id="exportForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>

<form action="{% url 'export:worklist' %}" class="hidden" id="worklistForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>

<form action="{% url 'main:create_study' %}" class="hidden" id="newStudyForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>
{% endblock content %}
