{% extends "main/study.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'dist/StudyData.js' %}"></script>
{% endblock js_css %}


{% block content %}
  {{ block.super }}

  <a id="settinglink" href="{{ settinglink }}" class="off"></a>
  <div class="btn-toolbar">
    <div
      aria-label="{% trans 'Display Modes' %}"
      class="btn-group"
      id="displayModeButtons"
      role="group"
    >
      <button
        class="btn btn-default edd-view-select"
        id="lineGraphButton"
        type="button"
        data-selector="#lineGraphButton"
        data-viewmode="linegraph"
      >
        <span class="fas fa-chart-line"></span>
        <span class="collapse-label">{% trans 'Line Graph' %}</span>
      </button>
      <div class="btn-group" role="group">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          id="barGraphButton"
          type="button"
        >
          <span class="fas fa-chart-bar"></span>
          <span class="collapse-label">{% trans 'Bar Graph' %}</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-header">{% trans 'Grouped By' %}</li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#barGraphButton"
              data-viewmode="measurement"
            >{% trans 'Measurement' %}</a>
          </li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#barGraphButton"
              data-viewmode="line"
            >{% trans 'Line' %}</a>
          </li>
          <li>
            <a
              class="edd-view-select"
              href="#"
              data-selector="#barGraphButton"
              data-viewmode="time"
            >{% trans 'Time' %}</a>
          </li>
        </ul>
      </div>
      <button
        class="btn btn-default edd-view-select"
        id="dataTableButton"
        type="button"
        data-selector="#dataTableButton"
        data-viewmode="table"
      >
        <span class="fas fa-table"></span>
        <span class="collapse-label">{% trans 'Table' %}</span>
      </button>
    </div>
    <div class="btn-group" id="filterControlsArea">
      <button
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-default dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >
        <span>{% trans 'View options' %}</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a>
          <label for="filteringShowDisabledCheckbox">
            <input id="filteringShowDisabledCheckbox" type="checkbox" />
            {% trans 'Show Disabled' %}
          </label>
        </a></li>
        <li><a>
          <label for="filteringShowEmptyCheckbox">
            <input id="filteringShowEmptyCheckbox" type="checkbox" />
            {% trans 'Show Empty' %}
          </label>
        </a></li>
      </ul>
    </div>
  </div>

<div id="graphDisplayContainer">
  <div class="hidden jumbotron" id="noData">
    <h2>{% trans "No measurements to display." %}</h2>
  </div>
  <div class="jumbotron" id="graphLoading">
    <h2>{% trans "Loading data for display." %}</h2>
  </div>
  <div class="hidden" id="graphArea"></div>
</div>

<form action="" method="POST">
{% csrf_token %}
{# studyLinesTable will have checkboxes; name=lineId, value=pk #}
<div id="assaysTable" class="hidden"></div>

<div id="assaysActionPanel" class="sectionActions assayActions">

  <div class="{% if not assays %}off{% endif %} assayFlex">
    {# TODO: this gets replaced in Typescript, figure out i18n there #}
    <div id="displayedDiv" class="displayedDiv assayDisplayed">{% trans '0 displayed' %}</div>
    <div id="selectedDiv" class="selectedDiv assayDisplayed">{% trans '0 selected' %}</div>
  </div>
  <div class="off">
    <input id="assay_action_delete" type="radio" name="assay_action" value="delete" />
    <label for="assay_action_delete">{% trans 'Delete Measurements' %}</label>
    <input id="assay_action_edit" type="radio" name="assay_action" value="edit" />
    <label for="assay_action_edit">{% trans 'Edit Measurements' %}</label>
    <input id="assay_action_export" type="radio" name="assay_action" value="export" />
    <label for="assay_action_export">
      <span class="fas fa-cloud-download-alt"></span>
      {% trans 'Export Data' %}
    </label>
    <button name="action" type="submit" value="assay_action">
      {% trans 'Take Action' %}
    </button>
    <div class="clear"></div>
  </div>
  <div id="tableActionButtons" class="tableActionButtons">
    {% if writable %}
    <button
      class="assayButton btn btn-default"
      disabled="true"
      id="editAssayButton"
      title="{% trans 'Edit selected assays' %}"
    >
      {% trans 'Edit Assays' %}
    </button>
    <button
      class="btn btn-default"
      disabled="true"
      id="editMeasurementButton"
      name="action"
      title="{% trans 'Edit selected measurements' %}"
      type="submit"
      value="measurement_edit"
    >
      {% trans 'Edit Measurements' %}
    </button>
    <button
      class="assayButton btn btn-default"
      disabled="true"
      id="addMeasurementButton"
      title="{% trans 'Add a measurement to selected assays' %}"
    >
      {% trans 'Add Measurement' %}
    </button>
    <button
      class="btn btn-default"
      disabled="true"
      id="deleteButton"
      name="action"
      title="{% trans 'Delete selected assays and/or measurements' %}"
      type="submit"
      value="disable_assay"
    >
      {% trans 'Delete' %}
    </button>
    <button
      class="btn btn-default off"
      disabled="true"
      id="enableButton"
      name="action"
      title="{% trans 'Restore selected assays and/or measurements' %}"
      type="submit"
      value="enable"
    >
      {% trans 'Restore' %}
    </button>
    {% endif %}
  </div>

  <div style="margin:auto 30px auto 15px;" class="{% if not assays %}off{% endif %}">
    <button
      class="exportButton btn btn-primary"
      id="exportButton"
      name="action"
      title="{% trans 'Export your data as CSV' %}"
      type="submit"
      value="export"
    >
      <span class="fas fa-cloud-download-alt"></span>
      {% trans 'Export Data' %}
    </button>
  </div>
</div>
</form>

<div id="mainFilterSection" class="filteringSection"></div>

<div id="addMeasurement" class="off" title="{% trans 'Add Measurements To Selected Assays' %}">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="off hidden-assay-inputs"></div>
    <div class="modal-body">
      {{ new_measurement.as_p }}
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="measurement">
        {% trans 'Add Measurement' %}
      </button>
    </div>
  </form>
</div>

<div id="assayMain" class="off" title="Edit Assay">
  <span class="off" id="new_assay_title">{% trans "Add New Assay" %}</span>
  <span class="off" id="edit_assay_title">{% trans "Edit Assay" %}</span>
  <span class="off" id="bulk_assay_title">{% trans "Bulk Edit Assays" %}</span>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
      <fieldset>
        <legend>{% trans "Basic Assay Information" %}</legend>
        <p class="bulk-note off">{% trans "Only enabled fields will be modified." %}</p>
        {{ new_assay.as_p }}
        <span class="off bulk-ignore btn btn-default btn-xs">
          <i class="fas fa-minus-circle"></i>
          {% trans "Don't Change" %}
        </span>
      </fieldset>
      <fieldset>
        <legend>{% trans "Assay Metadata" %}</legend>
        {% with meta_class="autocomp_atype" meta_type="AssayFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" name="action" class="btn btn-primary" value="assay">
        {% trans 'Save' %}
      </button>
    </div>
  </form>
</div>
{% endblock content %}
