{% extends "main/study.html" %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main/study-lines.css' %}" />
  <script type="text/javascript" src="{% static 'dist/StudyLines.js' %}"></script>
{% endblock js_css %}


{% block content %}
  {{ block.super }}

<form
  action=""
  class="edd-form"
  enctype="multipart/form-data"
  id="general"
  method="POST"
  style="clear:both;"
>
  {% csrf_token %}
  {% if writable %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button
      aria-label="{% trans 'Close' %}"
      class="close"
      data-dismiss="alert"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      {% blocktrans trimmed %}
      Drag-and-drop an Experiment Description file below to add more lines.
      {% endblocktrans %}
      <a
        class="label label-info label-spaced"
        href="{% static 'main/example/sample_experiment_description.xlsx' %}"
      >
        <span class="glyphicon glyphicon-download-alt"></span>
        {% trans 'Example File' %}
      </a>
      <a
        class="label label-info label-spaced"
        href="{% url 'main:describe:help' slug=study.slug %}"
        target="_blank"
        title="{% trans 'Click to open help in a new tab' %}"
      >
        {% trans 'Help' %}
      </a>
    </p>
  </div>
  {% include 'main/include/dropzone_messages.html' %}
  <div class="linesDropZone off">
    <div
      class="fd-zone excel linesZone"
      data-url="{% url 'main:describe:describe' slug=study.slug %}"
      id="addToLinesDropZone"
    ></div>
  </div>
  {% endif %}
  <div id="noLinesDiv" class="hide jumbotron">
    <h2>{% trans 'This study has no lines.' %}</h2>
    {% if writable %}
    <p>
      <button class="btn btn-primary addNewLineButton" type="button">
        <span class="glyphicon glyphicon-plus"></span>
        {% trans 'Add Line' %}
      </button>
      <a href="{% url 'main:describe:describe' slug=study.slug %}">
        <button class="btn btn-primary" type="button">
          <span class="glyphicon glyphicon-random"></span>
          {% trans "Add Line Combinations" %}
        </button>
      </a>
    </p>
    {% endif %}
  </div>
  <div id="loadingLinesDiv" class="jumbotron">
    <h2>{% trans 'Loading study lines...'%}</h2>
    <span class="waitbadge wait"></span>
  </div>
  <div id="studyLinesTable"></div>
  <div id="actionsBar" class="hide actionsBar sectionActions lineFlex">
    <div>
      {% if writable %}
      <div class="btn-group dropup">
        <button class="btn btn-primary needs-lines-selected" id="editButton" type="button">
          <span class="glyphicon glyphicon-pencil"></span>
          {% trans 'Edit' %}
          <span class="badge selected-line-count"></span>
        </button>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="caret"></span>
          <span class="sr-only">{% trans 'Toggle Menu' %}</span>
        </button>
        <ul class="dropdown-menu">
          <li class="needs-lines-selected">
            <a id="disableButton">
              <span class="glyphicon glyphicon-trash"></span>
              {% trans 'Disable' %}
            </a>
          </li>
          <li class="needs-lines-selected">
            <a id="enableButton">
              <span class="glyphicon glyphicon-refresh"></span>
              {% trans 'Restore' %}
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group dropup">
        <button class="btn btn-primary addNewLineButton" type="button">
          <span class="glyphicon glyphicon-plus"></span>
          {% trans 'Add Line' %}
        </button>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="caret"></span>
          <span class="sr-only">{% trans 'Toggle Menu' %}</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'main:describe:describe' slug=study.slug %}">
              <span class="glyphicon glyphicon-random"></span>
              {% trans "Add Line Combinations" %}
            </a>
          </li>
          <li class="needs-lines-selected">
            <a id="cloneButton">
              <span class="glyphicon glyphicon-duplicate"></span>
              {% trans 'Clone Lines' %}
              <span class="badge selected-line-count"></span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="needs-lines-selected">
            <a id="addAssayButton">
              <span class="glyphicon glyphicon-plus"></span>
              {% trans 'Add Assay' %}
              <span class="badge selected-line-count"></span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="btn-group dropup">
      <button class="btn btn-primary" id="exportLineButton" type="button">
        <span class="glyphicon glyphicon-cloud-download"></span>
        {% trans 'Export Data' %}
      </button>
      <button
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >
        <span class="caret"></span>
        <span class="sr-only">{% trans 'Toggle Menu' %}</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a id="exportNewStudyButton">
            <span class="glyphicon glyphicon-duplicate"></span>
            {% trans 'to New Study' %}
          </a>
        </li>
        <li>
          <a id="sbmlButton">
            <span class="glyphicon glyphicon-send"></span>
            {% trans 'SBML Export' %}
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a id="worklistButton">
            <span class="glyphicon glyphicon-save"></span>
            {% trans 'Generate Worklist' %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</form>

{% if writable %}
<div id="editLineModal" class="off {% if new_line.errors %}validation_error{% endif %}">
  <span class="off" id="new_line_title">{% trans "Add New Line" %}</span>
  <span class="off" id="edit_line_title">{% trans "Edit Line" %}</span>
  <span class="off" id="bulk_line_title">{% trans "Bulk Edit Lines" %}</span>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
      <fieldset>
        <legend>{% trans "Basic Line Information" %}</legend>
        <p class="bulk-note off">{% trans "Only enabled fields will be modified." %}</p>
        {{ new_line.as_p }}
        <span class="off bulk-ignore btn btn-default btn-xs">
          <i class="glyphicon glyphicon-minus-sign"></i>
          {% trans "Don't Change" %}
        </span>
      </fieldset>
      <fieldset>
        <legend>{% trans "Line Metadata" %}</legend>
        {% with meta_class="autocomp_ltype" meta_type="LineFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" name="action" value="line">
        {% trans 'Save' %}
      </button>
    </div>
  </form>
</div>

{% if new_assay.is_editing %}
  {% trans 'Edit Assay' context 'modal title' as add_assay_modal_title %}
  {% trans 'Edit Assay' context 'button' as add_assay_button %}
{% else %}
  {% trans 'Add Assays To Selected Lines' as add_assay_modal_title %}
  {% trans 'Add Assay' context 'button' as add_assay_button %}
{% endif %}
<div id="addAssayModal" class="off" title="{{ add_assay_modal_title }}">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="off hidden-line-inputs"></div>
    <div class="modal-body">
      <fieldset>
        <legend>{% trans "Basic Assay Information" %}</legend>
        {{ new_assay.as_p }}
      </fieldset>
      <fieldset>
        <legend>{% trans "Assay Metadata" %}</legend>
        {% with meta_class="autocomp_atype" meta_type="AssayFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit"
          name="action"
          class="btn btn-primary"
          value="assay">
        {{ add_assay_button }}
      </button>
    </div>
  </form>
</div>
{% endif %}
{% endblock content %}
