{% extends "main/study.html" %}
{% load describe %}
{% load static %}
{% load i18n %}


{% block js_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'main/study-lines.css' %}" />
  <script type="text/javascript" src="{% static 'dist/StudyLines.js' %}"></script>
{% endblock js_css %}


{% block content %}
  {{ block.super }}

<form
  action=""
  class="edd-form"
  enctype="multipart/form-data"
  id="general"
  method="POST"
  style="clear:both;"
>
  {% csrf_token %}
  {% if writable %}
  <div class="alert alert-info alert-dismissible" role="alert">
    <button
      aria-label="{% translate 'Close' %}"
      class="close"
      data-dismiss="alert"
      type="button"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p>
      {% blocktranslate trimmed %}
      Drag-and-drop an Experiment Description file on the table below to add more lines.
      {% endblocktranslate %}
      <a
        class="btn btn-primary btn-sm"
        href="{% describe_example_file %}"
      >
        <span class="fas fa-download"></span>
        {% translate 'Example File' %}
      </a>
      <a
        class="btn btn-primary btn-sm"
        href="{% url 'main:describe:help' slug=study.slug %}"
        target="_blank"
        title="{% translate 'Click to open help in a new tab' %}"
      >
        {% translate 'Help' %}
      </a>
    </p>
  </div>
  {% endif %}
  <div class="flex-row sectionActions">
    <div class="flex-item">
      <nav class="hidden pager-nav">
        <ul class="pagination pagination-sm">
          <li class="disabled pager-prev">
            <a href="#" aria-label="{% translate 'Previous' %}">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li>
            <span>
              <span class="pager-label text-muted">{% translate 'Lines @range of @total' %}</span>
            </span>
          </li>
          <li class="disabled pager-next">
            <a href="#" aria-label="{% translate 'Next' %}">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    {% if writable %}
    {% url "main:load:wizard" slug=study.slug as wizard_url %}
    <a class="{% if not lines %}off{% endif %} pull-right" href="{{ wizard_url}}">
      <button class="btn btn-primary btn-large" type="button">
        <span class="fas fa-cloud-upload-alt"></span>
        {% translate 'Import Data' %}
      </button>
    </a>
    {% endif %}
  </div>
  {% if writable %}
  {% include 'main/include/dropzone_messages.html' %}
  <div class="linesDropZone off">
    <div
      class="fd-zone excel linesZone"
      data-url="{% url 'main:describe:describe' slug=study.slug %}"
      id="addToLinesDropZone"
    ></div>
  </div>
  {% endif %}
  <div id="noLinesDiv" class="hide jumbotron">
    <h2>{% translate 'This study has no lines.' %}</h2>
    {% if writable %}
    <p>
      <button class="btn btn-primary addNewLineButton" type="button">
        <span class="fas fa-plus"></span>
        {% translate 'Add Line' %}
      </button>
      <a href="{% url 'main:describe:describe' slug=study.slug %}">
        <button class="btn btn-primary" type="button">
          <span class="fas fa-random"></span>
          {% translate "Add Line Combinations" %}
        </button>
      </a>
    </p>
    {% endif %}
  </div>
  <div id="loadingLinesDiv" class="jumbotron">
    <h2>{% translate 'Loading study lines...'%}</h2>
    <span class="waitbadge wait"></span>
  </div>
  <div id="studyLinesTable"></div>
  <div id="actionsBar" class="hide actionsBar flex-row sectionActions">
    <div>
      {% if writable %}
      <div class="btn-group dropup">
        <button class="btn btn-primary needs-lines-selected" id="editButton" type="button">
          <span class="fas fa-pencil-alt"></span>
          {% translate 'Edit' %}
          <span class="badge selected-line-count"></span>
        </button>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="caret"></span>
          <span class="sr-only">{% translate 'Toggle Menu' %}</span>
        </button>
        <ul class="dropdown-menu">
          <li class="needs-lines-selected">
            <a href="#" id="disableButton">
              <span class="fas fa-trash-alt"></span>
              {% translate 'Delete' %}
            </a>
          </li>
          <li class="needs-lines-selected">
            <a href="#" id="enableButton">
              <span class="fas fa-sync-alt"></span>
              {% translate 'Restore' %}
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="needs-lines-selected">
            <a href="#" id="replicateButton">
              <span class="fas fa-link"></span>
              {% translate 'Group as replicates ...' %}
            </a>
          </li>
          <li class="needs-lines-selected">
            <a href="#" id="unreplicateButton">
              <span class="fas fa-unlink"></span>
              {% translate 'Ungroup replicates ...' %}
            </a>
          </li>
        </ul>
      </div>
      <div class="btn-group dropup">
        <button class="btn btn-primary addNewLineButton" type="button">
          <span class="fas fa-plus"></span>
          {% translate 'Add Line' %}
        </button>
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="caret"></span>
          <span class="sr-only">{% translate 'Toggle Menu' %}</span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{% url 'main:describe:describe' slug=study.slug %}">
              <span class="fas fa-random"></span>
              {% translate "Add Line Combinations" %}
            </a>
          </li>
          <li class="needs-lines-selected">
            <a href="#" id="cloneButton">
              <span class="fas fa-copy"></span>
              {% translate 'Clone Lines' %}
              <span class="badge selected-line-count"></span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li class="needs-lines-selected">
            <a href="#" id="addAssayButton">
              <span class="fas fa-plus"></span>
              {% translate 'Add Assay' %}
              <span class="badge selected-line-count"></span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
      <div class="btn-group dropup">
        <button
          aria-expanded="false"
          aria-haspopup="true"
          class="btn btn-default dropdown-toggle"
          data-toggle="dropdown"
          type="button"
        >
          <span class="fas fa-filter"></span>
          {% translate 'View Options' %}
        </button>
        <ul class="dropdown-menu table-filter-options">
          <li>
            <a href="#" id="showDisabledItem">
              <span class="fas fa-toggle-off"></span>
              {% translate 'Show Deleted' %}
            </a>
          </li>
          <li>
            <a href="#" id="groupReplicateItem">
              <span class="fas fa-toggle-off"></span>
              {% translate 'Group Replicates' %}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="btn-group dropup">
      <button
        class="btn btn-primary"
        id="exportLineButton"
        title="{% translate 'Export data as CSV' %}"
        type="button"
      >
        <span class="fas fa-cloud-download-alt"></span>
        {% translate 'Export Data' %}
      </button>
      <button
        aria-expanded="false"
        aria-haspopup="true"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        type="button"
      >
        <span class="caret"></span>
        <span class="sr-only">{% translate 'Toggle Menu' %}</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <a href="#" id="exportNewStudyButton">
            <span class="fas fa-copy"></span>
            {% translate 'to New Study' %}
          </a>
        </li>
        <li>
          <a href="#" id="sbmlButton">
            <span class="fas fa-paper-plane"></span>
            {% translate 'SBML Export' %}
          </a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
          <a href="#" id="worklistButton">
            <span class="fas fa-clipboard-list"></span>
            {% translate 'Generate Worklist' %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</form>

{% if writable %}
<div id="editLineModal" class="off {% if new_line.errors %}validation_error{% endif %}">
  <span class="off" id="new_line_title">{% translate "Add New Line" %}</span>
  <span class="off" id="edit_line_title">{% translate "Edit Line" %}</span>
  <span class="off" id="bulk_line_title">{% translate "Bulk Edit Lines" %}</span>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="modal-body">
      <fieldset>
        <legend>{% translate "Basic Line Information" %}</legend>
        <p class="bulk-note off">{% translate "Only enabled fields will be modified." %}</p>
        {{ new_line.as_p }}
        <span class="off bulk-ignore btn btn-default btn-xs">
          <i class="fas fa-minus-circle"></i>
          {% translate "Don't Change" %}
        </span>
      </fieldset>
      <fieldset>
        <legend>{% translate "Line Metadata" %}</legend>
        {% with meta_class="autocomp_ltype" meta_type="LineFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" name="action" value="line">
        {% translate 'Save' %}
      </button>
    </div>
  </form>
</div>

{% if new_assay.is_editing %}
  {% translate 'Edit Assay' context 'modal title' as add_assay_modal_title %}
  {% translate 'Edit Assay' context 'button' as add_assay_button %}
{% else %}
  {% translate 'Add Assays To Selected Lines' as add_assay_modal_title %}
  {% translate 'Add Assay' context 'button' as add_assay_button %}
{% endif %}
<div id="addAssayModal" class="off" title="{{ add_assay_modal_title }}">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="off hidden-line-inputs"></div>
    <div class="modal-body">
      <fieldset>
        <legend>{% translate "Basic Assay Information" %}</legend>
        {{ new_assay.as_p }}
      </fieldset>
      <fieldset>
        <legend>{% translate "Assay Metadata" %}</legend>
        {% with meta_class="autocomp_atype" meta_type="AssayFormMetadataType" %}
        {% include "main/include/metadata-template.html" %}
        {% endwith %}
      </fieldset>
    </div>
    <div class="modal-footer">
      <button type="submit"
          name="action"
          class="btn btn-primary"
          value="assay">
        {{ add_assay_button }}
      </button>
    </div>
  </form>
</div>
{% endif %}

<form action="{% url 'export:export' %}" class="hidden" id="exportForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>

<form action="{% url 'export:worklist' %}" class="hidden" id="worklistForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>

<form action="{% url 'export:sbml' %}" class="hidden" id="sbmlForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>

<form action="{% url 'main:create_study' %}" class="hidden" id="newStudyForm" method="POST">
  {% csrf_token %}
  <div class="off hidden-inputs"></div>
</form>
{% endblock content %}
