{% load i18n %}
{% if errors %}
  <h3>{% trans "Errors" %}</h3>
  {% regroup errors by category as messages %}
  {% for category in messages %}
    <div class="alert alert-danger">
      <h4>{{ category.grouper }}</h4>
      {% for message in category.list %}
      <div>
        <span class="emphasizeErrorSubject">{{ message.summary }}</span>
        {% if message.subcategory %}<span> - {{ message.subcategory }}</span>{% endif %}
        {% if message.detail %}<span> : {{ message.detail }}</span>{% endif %}
        {% if message.resolution %}<div>{{ message.resolution }}</div>{% endif %}
        {% if message.docs_link %}<div>{{ message.docs_link|safe }}</div>{% endif %}
      </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endif %}
