{% extends "edd/describe/mail/base.html" %}
{% load i18n %}
{% block body %}
  <h2>{% trans "Add Lines Failed!" %}</h2>
  <p class="alert alert-danger">
    {% blocktrans %}
    Adding lines to <a href="{{ study_uri }}">{{ study }}</a> failed after {{ duration }}.
    Try again after fixing the errors below, or contact EDD administrators for help.
    {% endblocktrans %}
  </p>
  {% include "edd/describe/mail/_errors.html" %}
  {% include "edd/describe/mail/_warnings.html" %}
{% endblock body %}
