{% extends "edd_base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
  {% trans 'EDD - Error: Bad Request' %}
{% endblock head_title %}

{% block body_title %}
  {% trans 'Error: Bad Request' %}
{% endblock body_title %}

{% block content %}
  {% blocktrans trimmed as error_message %}
  The received request is malformed, and cannot be fulfilled. The site administrators have been
  notified of the problem, please check back later.
  {% endblocktrans %}
  <p>{{ error_message }}</p>
{% endblock content %}
