<!doctype html>
{% load static %}
{% load branding %}
{% load i18n %}
<html
  dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
  lang="{{ LANGUAGE_CODE }}"
>
<head>
  <meta charset="UTF-8" />
  <title>
    {% block head_title %}
    {% translate 'Experiment Data Depot' context 'HTML Title' %}
    {% endblock head_title %}
  </title>
  <script src="{% static 'dist/vendor.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'dist/vendor.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'main/common.css' %}" />
  {% stylesheet as branding_css %}
  {% if branding_css %}
  <link rel="stylesheet" type="text/css" href="{{ branding_css }}" />
  {% endif %}
  <script src="{% static 'dist/Common.js' %}"></script>
  {% block js_css %}
  {% endblock js_css%}
</head>
<body style="background-color:{% env_background_color %};">
  {% block sr_header_alert %}
  {% endblock %}
  <a class="skip-to-content-link" href="#content">Skip to main content</a>

  <header class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <!-- mobile-friendly -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false">
          <span class="sr-only">{% translate 'Toggle navigation' %}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'main:index' %}">
          <img class="eddLogo" src="{% static 'main/images/edd_logo.png' %}"
              alt="{% translate 'EDD Logo' %}" />
          <img class="companyLogo" src="{% logo %}" alt="{% logo_title %}" />
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <h1 class="navbar-text edd-nav-title">
              {% block body_title %}
              {% translate 'Experiment Data Depot' context 'Top of page title' %}
              {% endblock body_title %}
            </h1>
          </li>
          <li>
            <p class="navbar-text">{% env_label %}</p>
          </li>
        </ul>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://sites.google.com/lbl.gov/esedataautomation/data-acquisition-storage/experiment-data-depot-edd?authuser=0">
                {% translate 'Tutorials' %}
              </a>
            </li>
            <li>
              <a href="https://pubs.acs.org/doi/abs/10.1021/acssynbio.7b00204">
                {% translate 'EDD Publication'%}
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="dropdown" id="notification-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                  aria-controls="notification-list" aria-expanded="false">
                <span class="fas fa-inbox"></span>
                <span class="badge"></span>
                <span class="sr-only">{% translate "Notifications" %}</span>
              </a>
              <div class="dropdown-menu" id="notification-list">
                <ul class="message-list">
                  <li class="message">
                    <span class="message-text"></span>
                    <span class="message-close">
                      <button class="btn btn-xs btn-link">
                        <span class="fas fa-times"></span>
                        <span class="sr-only">{% translate 'Dismiss this notification' %}</span>
                      </button>
                    </span>
                  </li>
                </ul>
                <p class="message-empty" aria-disabled="true">{% translate 'No new notifications.' %}</p>
                <p class="close-all text-right">
                  <button class="btn btn-sm btn-primary">{% translate 'Mark All Read' %}</button>
                </p>
              </div>
            </li>
            <li>
              <p class="navbar-text">{% firstof user.get_full_name user.username %}</p>
            </li>
            <li>
              <a href="{% url 'account_logout' %}">{% translate 'Logout' %}</a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'account_login' %}">{% translate 'Login' %}</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <main id="content" class="content" tabindex="-1">
    {% block status %}
      {% if messages %}
        {% csrf_token %}
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} {{ message.extra_tags }}" role="alert">
          <button
            aria-label="{% trans 'Close' %}"
            class="close"
            data-dismiss="alert"
          ><span aria-hidden>&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
      {% endif %}
    {% endblock status %}
    {% block content %}
    {% endblock content %}
  </main>
  <footer class="footer-text">
    {% edd_version_number as version %}
    <span class="footer-text-app">
      {% blocktranslate trimmed with version=version context 'Footer title' %}
      Experiment Data Depot {{ version }}
      {% endblocktranslate %}
    </span>
    {% if user.is_staff %}
    <span><a href="{% url 'admin:index' %}">{% translate 'Administration' %}</a></span>
    {% endif %}
  </footer>
</body>
{% external_scripts %}
</html>
