{% extends "edd/load/mail/base.html" %}
{% load i18n %}
{% block body %}
  <h2>{% translate "Failed to load data!" %}</h2>
  <p class="alert alert-danger">
    {% blocktranslate %}
    Your upload to <a href="{{ study_uri }}">{{ study }}</a> failed to
    complete. Try again after fixing the reported errors below.
    {% endblocktranslate %}
  </p>
  {% include "edd/load/mail/_wizard_errors.html" %}
  {% include "edd/load/mail/_wizard_warnings.html" %}
  <p>
    {% blocktranslate %}
    EDD Administrators have been notified of this problem.
    {% endblocktranslate %}
  </p>
{% endblock body %}
