{% extends "edd_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}
  {% trans 'EDD - Error: Forbidden' %}
{% endblock head_title %}

{% block body_title %}
  {% trans 'Error: Forbidden' %}
{% endblock body_title %}

{% block content %}
  {% blocktrans trimmed as error_message %}
  You do not have correct permissions, and your request cannot be fulfilled. The site
  administrators have been notified of the problem, please check back later.
  {% endblocktrans %}
  <p>{{ error_message }}</p>
{% endblock content %}
