{% extends "edd_base.html" %}
{% load staticfiles %}

{% block head_title %}
    EDD - Page Not Found
{% endblock head_title %}

{% block body_title %}
    Page Unavailable
{% endblock body_title %}

{% block content %}
    <p>EDD has encountered an error and cannot show this page. The site administrators have been notified of the problem, please check back later.</p>
        {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
{% endblock content %}


