<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="/static/dist/vendor.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/main/common.css" />
    <script type="text/javascript" src="/static/dist/Common.js"></script>
    <title>EDD - Error: Unavailable</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="eddLogo" src="/static/main/images/edd_logo.png" alt="EDD Logo" />
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <p class="navbar-text edd-nav-title">Page Unavailable</p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <h1>Page Unavailable</h1>
      <p>EDD has encountered an error and cannot show this page. The site administrators have been
        notified of the problem, please check back later.</p>
    </div>
    <div id="bottomBar" class="bottomBar"></div>
    <div class="footer-text">
      <span class="footer-text-app">Experiment Data Depot</span>
    </div>
  </body>
</html>
