<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}Experiment Data Depot{% endblock head_title %}</title>
    <script type="text/javascript" src="{% static 'main/js/lib/jquery/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="https://support.jbei.org/s/d3a33d14666229eeb44aa891f5cfdb9a-T/en_US2qlmkc/70120/555786f388e7417b872cf1ceee812d89/2.0.8/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&amp;collectorId=0c7d3216"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/common.css' %}" />
    {% block js_css %}
    {% if user.is_authenticated %}
    <script type="text/javascript">

        window.EDDData = window.EDDData || {};
        EDDData.currentUserID = {{ user.id }};

    </script>
    {% endif %}
    {% endblock js_css%}
</head>
<body>
    <div class="topBanner">
        <div class="siteLogo">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'main/images/JBEI_Corner_Logo-EDD.png' %}"
                        alt="EDD Logo - Home"/>
            </a>
        </div>
        <div class="userMenu">
            {% if user.is_authenticated %}
                <div>
                    <span class="user_welcome">{{ user.first_name }} {{ user.last_name }}</span>
                </div>
                <div>
                    <a href="{% url 'account_logout' %}">Logout</a>
                </div>
                {% if user.is_staff %}
                    <div><a href="{% url 'admin:index' %}">Administration</a></div>
                {% endif %}
            {% else %}
                <div>
                    <a href="{% url 'account_login' %}">Login</a>
                </div>
            {% endif %}
            <div><a href="{% url 'edd_utils:index' %}">Utilities</a></div>
            <div>
            {% block top_help %}
            <a href="{% static 'main/help/index.html' %}">Help</a>
            {% endblock top_help %}
            </div>
        </div>
        <div class="pageName">
            {% block body_title %}
            Experiment Data Depot
            {% endblock body_title %}
        </div>
    </div>
    <div class="statusMessage">
    {% block status %}
        {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endblock status %}
    </div>
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
    <div class="footer">
        <div class="footer-text">
            <span class="footer-text-app">JBEI Experiment Data Depot</span>
            <span class="footer-text-contact"><a href="mailto:jbei-help@lbl.gov?subject=EDD">Contact</a></span>
        </div>
    </div>
</body>
</html>
