#
# This script defines configuration for the edd_celeryd script used to start a Celery distributed task queue workers as daemon
# processes in support of the Experiment Data Depot (EDD) website.
#
# For reference, see http://celery.readthedocs.org/en/latest/tutorials/daemonizing.html#example-django-configuration.
# Note that although the Celery documentation isn't terribly clear on the distinction, this file contains mainly paramaters for
# the edd_celeryd script, and worker parameters are configured seperately in EDD's celeryconfig.py module.
#
#

# configure easy access to managing EDD's python environment
#export WORKON_HOME=/usr/local/virtualenvs
#source /usr/local/bin/virtualenvwrapper.sh
#workon edd-test.jbei.org

VIRTUAL_ENV="/usr/local/virtualenvs/edd-test.jbei.org"
VIRTUAL_ENV_PYTHON="$VIRTUAL_ENV/bin/python"
#CELERYD_MULTI="$VIRTUAL_ENV/celeryd-multi"

# Names of nodes to start
#   most will only start one node:
HOST_NAME=`hostname`
DOMAIN_NAME=`hostname -d`
CELERYD_NODES="edd-worker-1@$HOST_NAME.$DOMAIN_NAME"
#   but you can also start multiple and configure settings
#   for each in CELERYD_OPTS (see `celery multi --help` for examples).
# CELERYD_NODES="worker1 worker2 worker3"

# Absolute or relative path to the 'celery' command:
CELERY_BIN="/usr/local/virtualenvs/edd-test.jbei.org/bin/celery"

# App instance to use
# comment out this line if you don't use an app
CELERY_APP="edd"
# or fully qualified:
#CELERY_APP="proj.tasks:app"

# Where to chdir at start.
CELERYD_CHDIR="/users/mark.forrer/"
#CELERYD_CHDIR="/var/www/edd-test.jbei.org/"

# Extra command-line arguments to the worker
CELERYD_OPTS="--queues=edd --autoscale=10,1"

# %N will be replaced with the first part of the nodename.
CELERYD_LOG_FILE="/var/log/celery/%N.log"
CELERYD_PID_FILE="/var/run/celery/%N.pid"

# Workers should run as an unprivileged user.
#   You need to create this user manually (or you can choose
#   a user/group combination that already exists, e.g. nobody).
CELERYD_USER="celery"
CELERYD_GROUP="celery"

# If enabled pid and log directories will be created if missing,
# and owned by the userid/group configured.
CELERY_CREATE_DIRS=1
